<ion-view view-title="活动资讯">
  <ion-header-bar align-title="center" class="iphone-x-head">
    <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <div class="h1 title">活动资讯</div>
    <span class="scan" ng-if="currentData.ruleInstanceType=='SHARE_RULE'" ng-click="showShare($event)"><i class="ion-android-share-alt fs24"></i></span>
  </ion-header-bar>
  <ion-content scrollbar-y="false" style="margin-bottom: 50px;" class="iphone-x-content">
    <div ng-if="content" style="padding: 12px;" class="articleDetailContent" ng-bind-html="content"></div>
  </ion-content>

  <!--footer-->
  <div class="activity-footer row">
    <div class="col col-60">
      <span><i class="icon jyicon">&#xe621;</i> <span class="fs12">{{currentData.numberOfParticipants}}</span></span>
      <span class="ml10"><i class="icon jyicon">&#xe707;</i>
        <span ng-if="currentData.flag=='NOT_START'"><span class="fs12">{{currentData.leftTime}}</span></span>
        <span ng-if="currentData.flag=='START'"><span class="fs12">{{currentData.leftTime}}</span></span>
          <span ng-if="currentData.flag=='END'">已结束</span>
      </span>
    </div>
    <div class="col col-40">
      <div ng-if="currentData.flag=='NOT_START'" class="joinBtn joinBtn-disabled">未开始</div>
      <div ui-sref="movieDetail({movieId:currentData.sourceNameId})" nav-direction="forward" ng-if="currentData.flag=='START' && currentData.sourceType == 'FILM'" class="joinBtn" style="height: 40px;line-height: 40px;margin-top: 5px;">立即参与</div>
      <div ui-sref="theatreDetail({theatreId:currentData.sourceNameId})" nav-direction="forward" ng-if="currentData.flag=='START' && currentData.sourceType == 'CINEMA'" class="joinBtn" style="height: 40px;line-height: 40px;margin-top: 5px;">立即参与</div>
      <div ui-sref="theatre({movieId:-1})" nav-direction="forward" ng-if="currentData.flag=='START' && currentData.sourceType == 'CINEMA_LIST'" class="joinBtn" style="height: 40px;line-height: 40px;margin-top: 5px;">立即参与</div>
      <div on-tap="goliantong()" ng-if="currentData.flag=='START' && currentData.sourceType == 'CO_ACTIVITY'" class="joinBtn" style="height:40px;line-height:40px;margin-top:5px;">立即参与</div>
      <div on-tap="worldCup()" ng-if="currentData.flag=='START' && currentData.sourceType == 'GUESS'" class="joinBtn" style="height:40px;line-height:40px;margin-top:5px;">立即参与</div>
      <div ng-if="currentData.flag=='END'" class="joinBtn joinBtn-disabled" style="height: 40px;line-height: 40px;margin-top: 5px;">已结束</div>
    </div>
  </div>
  <script id="templates/sharePage.html" type="text/ng-template">
    <style>
      .modal-backdrop, .modal-backdrop-bg{
        top: auto!important;
        bottom: 0;
        z-index: 100;
        max-height:170px;
      }
      .modal-backdrop .modal-wrapper{
        max-height:100%;
        height: 100%;
      }
    </style>
    <ion-modal-view class="layer">
      <ion-content overflow-scroll="false" scrollbar-y="false">
        <!-- 分享朋友 -->
        <div class="pt10">
          <h2 class="text-center fs16 mb20">分享给朋友</h2>
          <div class="row" style="border-bottom: 1px solid #f5f5f5;">
            <div class="col" on-tap="shareWechat()">
              <div><i class="icon iconfont fs40" style="color: #4caf50;">&#xe693;</i></div>
              <p class="mt5">微信</p>
            </div>
            <div class="col" on-tap="shareWechatFriend()">
              <div><i class="icon iconfont fs40" style="color: #00bcd4;">&#xe694;</i></div>
              <p class="mt5">朋友圈</p>
            </div>
            <div class="col" on-tap="shareWeibo()">
              <div><i class="icon iconfont fs40" style="color: #ff9800;">&#xe641;</i></div>
              <p class="mt5">新浪微博</p>
            </div>
            <div class="col" on-tap="shareQq()">
              <div><i class="icon iconfont fs40" style="color: #03a9f4;">&#xe63e;</i></div>
              <p class="mt5">QQ</p>
            </div>

          </div>
          <div ng-click="hideShare($event)" class="text-center fs14 pt10 pb10 color-666">取消</div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>
