<ion-view view-title="老虎机">
  <div class="wheelObj-nav" ng-if="resData">
    <div class="box">
      <div class="wheelObj-nav-arrow" back-button="" nav-direction="back"><i class="jyicon fs22 color-fff">&#xe638;</i></div>
    </div>
  </div>
  <ion-content class="wheelObj" ng-style="guaguaObj">
    <div style="height: 100vh;" ng-if="resData">
      <div class="laohuji-wrap" ng-style="guaguaBgObj">
        <img class="bg" ng-src="{{resData.bgPic}}">
        <div class="laohuji-scroll">
          <ul id="col1">
            <li ng-repeat="item in scrollArr" aa="{{$index}}">
              <img ng-if="item.accessPath" src="{{item.accessPath}}">
              <span ng-if="!item.prizeId">{{item.prizeName}}</span>
            </li>
          </ul>
          <ul id="col2">
            <li ng-repeat="item in scrollArr" aa="{{$index}}">
              <img ng-if="item.accessPath" src="{{item.accessPath}}">
              <span ng-if="!item.prizeId">{{item.prizeName}}</span>
            </li>
          </ul>
          <ul id="col3">
            <li ng-repeat="item in scrollArr" aa="{{$index}}">
              <img ng-if="item.accessPath" src="{{item.accessPath}}">
              <span ng-if="!item.prizeId">{{item.prizeName}}</span>
            </li>
          </ul>
        </div>
        <div class="laohuji-start" ng-style="btnStyle" ng-click="startDrawLottery()"></div>
      </div>
      <style>
        .laohuji-wrap {
          position: relative;
        }
        .laohuji-bg {
          width: 100%;
          position: absolute;
          z-index: -1;
        }
        .laohuji-wrap .bg {
          width: 100%;
          margin-top: 35%;
        }
        .laohuji-scroll {
          width: 44%;
          height: 10%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          position: absolute;
          top: 64%;
          left: 50%;
          transform: translateX(-50%);
        }
        .laohuji-scroll ul {
          position: absolute;
          width: 31%;
          height: 100%;
          left: 0;
          overflow: hidden;
        }
        .laohuji-scroll ul:nth-child(2) {
          left: 35%;
        }
        .laohuji-scroll ul:nth-child(3) {
          left: 68%;
        }
        .laohuji-scroll li {
          height: 100%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
        }
        .laohuji-scroll img {
          position: absolute;
          width: 100%;
        }
        .laohuji-start {
          position: absolute;
          bottom: 12%;
          width: 13%;
          height: 13%;
          left: 50%;
          transform: translateX(-50%);
        }
      </style>
      <div class="text-center mt10" style="color: white">剩余抽奖次数: {{remainingFrequency?remainingFrequency:0}}次</div>
      <div class="mt20"><img src="./img/award-line.png" alt=""></div>
      <div class="ruleText" ng-bind-html="ruleText"></div>
      <div class="text-center color-fff fs20 mb20">中奖名单公布</div>
      <marquee align="middle" behavior="scroll" direction="up" height="250" hspace="0" vspace="0" loop="-1" scrollamount="6" scrolldelay="0">
        <div class="ruleText text-center mt30 color-fff" ng-bind-html="winText"></div>
      </marquee>
    </div>
  </ion-content>
  <ion-footer-bar class="flex" style="z-index:110;height:58px;" ng-if="joinFlag">
    <div class="ping-lun" style="background: #b2b2b2" ui-sref="home" nav-direction="forward">
      回到首页
    </div>
    <div class="xuan-zuo" on-tap="join()">
      我要参加
    </div>
  </ion-footer-bar>
</ion-view>
