<ion-view view-title="编辑个性签名">
    <ion-header-bar align-title="center" class="top-xian iphone-x-head">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">编辑个性签名</div>
        <button class="button button-clear pg10 pg11 iphone-x-button" on-tap="saveSignature()">
            保存
        </button>
    </ion-header-bar>
    <ion-content scrollbar-y="false" class="iphone-x-content">
        <div class="list">
            <label class="item item-input item-input-wrapper pg15">
                <textarea ng-model="user.selfIntroduction" rows="5" cols="10" style="padding-left: 5px"></textarea>
            </label>
            </div>
    </ion-content>
</ion-view>
