<!--
2017.04.24
增加热映电影活动政策显示~
-->
<ion-view view-title="正在热映">
    <ion-header-bar align-title="center" class="iphone-x-head">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left"></i></a>
        <div class="h1 title text-center" tabs-click="">
            <a  ng-class="activeIndex==0?'active':''" class="groupBtn fs14">正在热映</a>
            <a  ng-class="activeIndex==1?'active':''" class="groupBtn fs14">即将上映</a>
        </div>
    </ion-header-bar>
    <div class="banner iphonex-banner" style="position: absolute;top:64px;width: 100%;z-index:100;" ng-if="currentlineBanner?true:false">
        <img ng-src="{{currentBanner || currentlineBanner}}">
    </div>
    <ion-content class="currentLineList iphone-x-content2" overflow-scroll="false" scrollbar-y="false" scrollbar-x="false" style="top: 64px;" >
        <ion-refresher spinner="ios-small" pulling-icon="" on-refresh="doRefresh()"></ion-refresher>
        <ion-slide-box active-slide="slideTo()" show-pager="false" on-slide-changed="slideHasChanged($index)">
            <ion-slide class="slider-slide-vh">
              <div class="list" style="margin-top:15vh;">
                <div style="padding-left:90px;padding-bottom: 5px;" ng-repeat="item in currentMovieData" class="item item-thumbnail-left">
                  <img ng-src="{{item.posterUrl}}" ui-sref="movieDetail({movieId:'{{item.filmId}}'})" nav-direction="forward">
                  <h2 ui-sref="movieDetail({movieId:'{{item.filmId}}'})" nav-direction="forward">{{item.titlealt || item.filmName}} <i class="icon iconfont fs24" ng-repeat="subItem in item.icon" ng-bind-html="subItem"></i></h2>
                  <p ui-sref="movieDetail({movieId:'{{item.filmId}}'})" nav-direction="forward" style="padding-right:60px;height:20px;overflow: hidden;">{{item.ratingDescriptionAlt}}</p>
                  <p ui-sref="movieDetail({movieId:'{{item.filmId}}'})" nav-direction="forward" class="fs12" style="padding-right:60px;">{{item.filmType}}/{{item.language}}</p>
                  <p style="height:20px;padding-right:60px;"><i ng-repeat="subItem in item.revisionCode" class="icon iconfont fs18 mr10" ng-bind-html="subItem"></i></p>
                  <div ng-if="item.activityFlag=='Y' && item.activityArray.length>0">
                      <p style="height:26px;line-height:26px;overflow: hidden;font-size: 12px;border-top:1px solid #f5f5f5!important;" ng-repeat="subItem in item.activityArray"><i style="margin-left: -5px;margin-top:3px;line-height:18px;" class="activityTag mr3">活动</i> {{subItem.promotionalCopy}}</p>
                  </div>
                  <div class="mv-opt">
                    <div class="text-right"><span class="score">{{item.complexScore | number:1}}</span></div>
                  </div>
                  <div class="mv-button" style="top:50px;">
                    <button ui-sref="theatre({movieId:'{{item.filmId}}'})" nav-direction="forward" class="jyBtn-m">购票</button>
                  </div>
                    <!--<div class="yd-btn-line" ui-sref="theatre({movieId:'{{item.filmId}}'})" nav-direction="forward" >-->
                        <!--<img src="./img/yd-btn.png">-->
                    <!--</div>-->
                </div>
              </div>
            </ion-slide>
            <ion-slide class="slider-slide-vh">
              <div class="list" style="margin-top:15vh;">
                <div style="padding-left:90px;padding-bottom: 5px;" ng-repeat="item in futrueMovieData" class="item item-thumbnail-left">
                  <img  ui-sref="movieDetail({movieId:'{{item.filmId}}',noSale:true})" nav-direction="forward" ng-src="{{item.posterUrl}}">
                  <h2 ui-sref="movieDetail({movieId:'{{item.filmId}}',noSale:true})" nav-direction="forward">{{item.titleAlt || item.filmName}} <i class="icon iconfont fs24" ng-repeat="subItem in item.icon" ng-bind-html="subItem"></i></h2>
                  <p  ui-sref="movieDetail({movieId:'{{item.filmId}}',noSale:true})" nav-direction="forward" style="padding-right:60px;height:20px;overflow: hidden;">{{item.ratingDescriptionAlt}}</p>
                  <p  ui-sref="movieDetail({movieId:'{{item.filmId}}',noSale:true})" nav-direction="forward" style="padding-right:60px;" class="fs12">{{item.filmType}}/{{item.language}}</p>
                  <p style="height:20px;padding-right:60px;"><i ng-repeat="subItem in item.revisionCode" class="icon iconfont fs18 mr10" ng-bind-html="subItem"></i></p>
                  <div class="mv-opt">
                    <div class="text-right"><span class="score">{{item.complexScore | number:1}}</span></div>
                  </div>
                  <div class="mv-button" style="top:50px;">
                    <button ui-sref="theatre({movieId:'{{item.filmId}}'})" nav-direction="forward" class="jyBtn-m">购票</button>
                  </div>
                    <!--<div class="yd-btn-line" ui-sref="theatre({movieId:'{{item.filmId}}'})" nav-direction="forward" >-->
                        <!--<img src="./img/yd-btn.png">-->
                    <!--</div>-->
                </div>
              </div>
              <div ng-if="futrueMovieData.length==0" class="text-center">亲，没有数据哦~</div>
            </ion-slide>
        </ion-slide-box>

    </ion-content>
    <div class="bxjg-account-bg"></div>
</ion-view>
