<ion-view view-title="推荐" class="yd-home-sp iphonexView" can-swipe-back="false">
  <div class="newhome-banner {{colorFlag?'active':''}} iphone-x-head" ng-show="newShow">
    <div class="newselect-city {{colorFlag?'active1':''}} iphone-x-icon1">
      <a ui-sref="selectCity" nav-direction="forward" class=" fs14">{{currentCity}}</a>
      <i ui-sref="selectCity" nav-direction="forward" class="ion-chevron-down fs12"></i>
    </div>
    <div class="newscan {{colorFlag?'active2':''}} iphone-x-icon1">
      <i class="ion jyicon" style="position: absolute;top: -2px;left: 11px;font-size: 30px" ui-sref="shake">&#xe668;</i>
      <i class="ion jyicon" style="position: absolute;top: 3px;right: 10px;font-size: 26px" on-tap="scan()">&#xe8d4;</i>
    </div>
  </div>
  <ion-content class="festive" overflow-scroll='false' on-scroll="scrollContent()" scrollbar-y="false" scrollbar-x="false" lazy-scroll>
    <ion-refresher spinner="ios-small" pulling-icon="" on-refresh="doRefresh()"></ion-refresher>

    <div class="swiper-container swiper-container-focus yd-swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-focus" ng-repeat="item in carouselData">
          <a ng-if="item.sourceType=='FILM'" ui-sref="movieDetail({movieId:'{{item.sourceNameId}}'})" nav-direction="none" style="display: block;"><img class="animated fadeIn" ng-src="{{item.url}}"></a>
          <a ng-if="item.sourceType=='CINEMA'" ui-sref="theatreDetail({theatreId:'{{item.sourceNameId}}'})" nav-direction="none" style="display: block;"><img class="animated fadeIn" ng-src="{{item.url}}"></a>
          <a ng-if="item.sourceType=='ACTIVITY'" ui-sref="activityDetail({activityGroupId:'{{item.sourceNameId}}'})" nav-direction="none" style="display: block;"><img class="animated fadeIn" ng-src="{{item.url}}"></a>
          <a ng-if="item.sourceType=='LOTTERY'" href="#/forum?index=1" style="display: block;"><img class="animated fadeIn" ng-src="{{item.url}}"></a>
          <a href="javascript:;" ng-if="item.sourceType!='FILM' && item.sourceType!='CINEMA' && item.sourceType!='ACTIVITY' && item.sourceType!='LOTTERY'"><img class="animated fadeIn" ng-src="{{item.url}}"></a>
        </div>
      </div>
    </div>


    <div class="tit box pos">
      <div class="box1 pos" tabs-click="">
        <a class="home-stap yd-color" ng-class="activeIndex==0?'active':''">正在热映</a>
        <a class="home-stap yd-color" ng-class="activeIndex==1?'active':''">即将上映</a>
      </div>
      <div ng-if="activeIndex==0" class="box1 text-right fs12 yd-color" ui-sref="currentLine({activeIndex:0})" nav-direction="forward">更多 <i class="ion-ios-arrow-right"></i></div>
      <div ng-if="activeIndex==1" class="box1 text-right fs12 yd-color" ui-sref="currentLine({activeIndex:1})" nav-direction="forward">更多 <i class="ion-ios-arrow-right"></i></div>
    </div>
    <ion-slide-box active-slide="slideTo()" show-pager="false" on-slide-changed="slideHasChanged($index)" class="iphonex-slide-box">
      <ion-slide>
        <div class="swiper-container swiper-container-hot swiper-container-hot-yh pb15 yd-swiper-container ">
          <div ng-show="hotFlag" class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-index defaultBg" ng-repeat="item in currentLineList"
                 ui-sref="movieDetail({movieId:'{{item.filmId}}'})" nav-direction="enter">
              <div class="pos" style="overflow: hidden;width:100%;">
                <!--<img  style="display: block;" class="animated fadeIn" image-lazy-src="{{item.posterUrl}}" image-lazy-loader="ios-small"
                     lazy-scroll-resize="true" image-lazy-distance-from-right-to-load="600">-->
                <img style="display: block;" class="animated fadeIn" ng-src="{{item.posterUrl}}">
                <div class="hui" ng-if="item.activityFlag=='Y'">惠</div>
                <div class="yushou" ng-if="item.preSaleFlag=='Y'">预售</div>
              </div>
              <div class="text">
                <p class="fs12">{{item.titlealt || item.filmName}}</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="swiper-container swiper-container-hot swiper-container-hot-yh pb15 yd-swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-index defaultBg" ng-repeat="item in futrueMovieData"
                 ui-sref="movieDetail({movieId:'{{item.filmId}}'})" nav-direction="enter">
              <div class="pos" style="overflow: hidden;width:100%;">
                <!--<img  style="display: block;" class="animated fadeIn" image-lazy-src="{{item.posterUrl}}" image-lazy-loader="ios-small"
                     lazy-scroll-resize="true" image-lazy-distance-from-right-to-load="600">-->
                <img style="display: block;" class="animated fadeIn" ng-src="{{item.posterUrl}}">
                <div class="hui" ng-if="item.activityFlag=='Y'">惠</div>
              </div>
              <div class="text">
                <p class="fs12">{{item.titleAlt || item.filmName}}</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

    <!--<div class="yd-gap" ng-if="guessData.length>0"></div>-->
    <!--<div class="tit box pos" ng-if="guessData.length>0">-->

    <!--<div class="box1  yd-color">推荐卖品</div>-->
    <!--<div class="box1 text-right fs12 yd-color" ui-sref="category" nav-direction="none">更多 <i class="ion-ios-arrow-right"></i></div>-->
    <!--</div>-->
    <!--<div class="flex ml10" ng-if="guessData.length>0">-->
    <!--<div style="width: 30%;margin-right: 10px" ng-repeat="item in guessData" ui-sref="productDetail({skuId:item.skuId})" nav-direction="forward">-->
    <!--<img ng-src="{{item.sourceSkuUrl}}">-->
    <!--<p class="fs12 mb10" style="height: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{item.titleAlt || item.titleAlt}}</p>-->
    <!--</div>-->
    <!--</div>-->

    <div class="yd-gap" ng-if="recommendData.length>0"></div>
    <div class="tit box pos" ng-if="recommendData.length>0">
      <i class="ion jyicon color-998278">&#xe699;</i>
      <div class="box1 yd-color">猜你喜欢</div>
      <div class="box1 text-right fs12 yd-color" ui-sref="gessLove" nav-direction="none">更多 <i class="ion-ios-arrow-right"></i></div>
    </div>
    <div class="flex" ng-repeat="item in recommendData" style="border-bottom: 1px solid #f9f9f9;" on-tap="recommendGo(item)">
      <div style="width: 30%;max-width: 100%;max-height: 100%;">
        <img ng-if="item.sourceType=='FILM'" style="height: 100px" ng-src="{{item.accessPath}}">
        <img ng-if="item.sourceType=='GOODS'" ng-src="{{item.accessPath}}">
      </div>
      <div style="width: 55%;margin-left: 5px">
        <p style="height: 20px;overflow: hidden;margin-top: 10px;font-size: 16px">{{item.titleAlt}}</p>
        <p style="height: 20px;overflow: hidden;margin-top: 10px">{{item.title}}</p>
        <p style="height: 20px;overflow: hidden;margin-top: 10px;margin-left:2px" ng-if="item.sourceType=='FILM'">类型：{{item.filmType}}</p>
        <p style="height: 20px;overflow: hidden;margin-top: 10px;color: red;margin-left: 8px" ng-if="item.sourceType=='GOODS'">网购价：￥{{item.price/100}}</p>
      </div>
      <div style="width: 13%">
        <i class="ion jyicon fs22" style="margin-top: 50px;margin-left: 18px">&#xe61d;</i>
      </div>
    </div>

    <div class="yd-gap"></div>
    <div on-drag-left="goCurrentLine()">
      <div class="tit mb0 box">
        <div class="box1  yd-color">金逸推荐</div>
      </div>
      <!--<div ng-if="jytjFlag" class="list activity-list" ng-repeat="item in hotActivityList">-->
      <!--<div class="box" ui-sref="articleDetail({id:'{{item.articleId}}'})" nav-direction="forward">-->
      <!--<div class="defaultBg-jytj">-->
      <!--&lt;!&ndash;<img ng-if="item.url" class="tuijianImg animated fadeIn" image-lazy-src="{{item.url}}" image-lazy-loader="ios-small" image-lazy-distance-from-bottom-to-load="100">&ndash;&gt;-->
      <!--<img ng-if="item.url" class="tuijianImg animated fadeIn" ng-src="{{item.url}}" >-->
      <!--</div>-->
      <!--<div class="tuijianCon box1">-->
      <!--<h2 class="fs16">{{item.articleTitle}}</h2>-->
      <!--<p class="fs12">{{item.articlePublishDate | date:'yyyy-MM-dd'}} <span class="articleFlag">{{'阅读'}}</span>-->
      <!--</p>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <div ng-if="jytjFlag" class="list pt10 mb0" style="position: relative" ng-repeat="item in hotActivityList">
        <div class=" box" ui-sref="articleDetail({id:'{{item.articleId}}'})" nav-direction="forward">
          <div class="defaultBg-jytj" style="margin-left: 4px;margin-right: 4px">
            <img ng-src="{{item.url}}">
          </div>
          <div class="box1 tuijianCon">
            <div class="forum-title" style="display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 2;">{{item.articleTitle}}</div>
            <div class="forum-sp">
              <span class="articleFlag" ng-repeat="row in item.strs">{{row}}</span>
            </div>
            <div class="box">
              <div class="box1 text-left" style=" height: 20px;overflow: hidden;">
                <span class="fs12">{{item.date}}</span>
              </div>
              <div class="box1 text-right" style="margin-left: -20px">
                <i class="icon jyicon">&#xe601;</i>
                <span class="fs12">{{item.fabulous}}</span>
                <i class="icon jyicon">&#xe63c;</i>
                <span class="fs12">{{item.commentCount}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll ng-if="!noMorePage" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    <div ng-if="noMorePage" class="text-center pd20">暂无更多文章</div>

  </ion-content>

  <ion-footer-bar class="yd-bar-footer iphonexFoot" style="border-top:  1px solid #f5f5f5;">
    <div class="row homeNav">
      <div class="col" ui-sref="home" nav-direction="none">
        <i class="icon jyicon color-998278">&#xe699;</i>
        <p class="fs12 color-403d38">推荐</p>
      </div>
      <div class="col" ui-sref="category({catId:4,index:0})" nav-direction="none">
        <i class="icon jyicon">&#xe619;</i>
        <p class="fs12">商城</p>
      </div>
      <div class="col">
      </div>
      <div class="col" ui-sref="forum" nav-direction="none">
        <i class="icon jyicon">&#xe67b;</i>
        <p class="fs12">圈子</p>
      </div>
      <div class="col" ui-sref="account" nav-direction="none">
        <i class="icon jyicon">&#xe605;</i>
        <p class="fs12">我的</p>
      </div>
    </div>
    <div class="sogou" on-tap="sougou()">
      <img src="img/sugou.png">
    </div>
  </ion-footer-bar>
  <!--<ion-footer-bar class="yd-bar-footer iphonexFoot">-->
  <!--<div class="row homeNav " style="color: white">-->
  <!--<div class="col pos" ui-sref="home" nav-direction="none">-->
  <!--<div class="yd-2018">-->
  <!--<img src="./img/yd-2018.png">-->
  <!--</div>-->
  <!--<p class="fs12 color-403d38" style="margin-top: 20px">推荐</p>-->
  <!--</div>-->
  <!--<div class="col pos" ui-sref="activity" nav-direction="none">-->
  <!--<div class="yd-ydkl">-->
  <!--<img src="./img/yd-y.png">-->
  <!--</div>-->
  <!--<p class="fs12" style="margin-top: 20px">活动</p>-->
  <!--</div>-->
  <!--<div class="col pos" ui-sref="mall" nav-direction="none">-->
  <!--<div class="yd-ydkl">-->
  <!--<img src="./img/yd-d.png">-->
  <!--</div>-->
  <!--<p class="fs12" style="margin-top: 20px">商城</p>-->
  <!--</div>-->
  <!--<div class="col pos" ui-sref="forum" nav-direction="none">-->
  <!--<div class="yd-ydkl">-->
  <!--<img src="./img/yd-k.png">-->
  <!--</div>-->
  <!--<p class="fs12" style="margin-top: 20px">圈子</p>-->
  <!--</div>-->
  <!--<div class="col pos" ui-sref="account" nav-direction="none">-->
  <!--<div class="yd-ydkl">-->
  <!--<img src="./img/yd-l.png">-->
  <!--</div>-->
  <!--<p class="fs12" style="margin-top: 20px">我的</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--</ion-footer-bar>-->
  <div class="iphonexBaidi">

  </div>
  <!--<div style="position: absolute;bottom: -3px;z-index: 10000">-->
  <!--<img src="./img/foot.png">-->
  <!--</div>-->
  <script id="templates/modal0.html" type="text/ng-template">
    <style>
      .modal-backdrop, .modal-backdrop-bg {
        top: 0 !important;
        bottom: auto;
        z-index: 100;
        max-height: 285px;
      }
      .modal-backdrop .modal-wrapper {
        max-height: 100%;
        height: 100%;
      }
    </style>
    <ion-modal-view class="layer" stop-propagation>
      <ion-header-bar class="bar bar-header bar-filter" style="line-height: 32px;">
        <div class="fs16 pl10 color-000">频道设置</div>
        <div on-tap="hideChannel()" class="done fs16 color-998278">完成</div>
      </ion-header-bar>
      <ion-content overflow-scroll="false" scrollbar-y="false" scroll="false" style="background: #fff;">
        <div class="channel">
          <div class="pl15 pt10 mb5"><strong>我的频道</strong> <span class="fs12 ml10 color-999">点击删除</span></div>
          <div class="pl10 pr10">
            <ul class="clearfix">
              <li ng-repeat="item in yesChannel track by $index" on-tap="changeChannel($index,1)"><a href=""
                                                                                                     ng-class="{true:'default'}[item.isDefault=='Y']">{{item.name}}</a>
              </li>
            </ul>
          </div>
          <div class="pl15 pt10 mb5"><strong>频道推荐</strong> <span class="fs12 ml10 color-999">点击添加</span></div>
          <div class="pl10 pr10">
            <ul class="clearfix">
              <li ng-repeat="item in noChannel track by $index" on-tap="changeChannel($index,2)"><a href="">{{item.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>


  <!--splash蒙版-->
  <div ng-if="hasData">
    <div class="splash-slide" ng-if="!skipStatusOver" style="top: 0px">
      <div class="swiper-container swiper-container-start status1 {{skipStatus?'status2':''}}" ng-click="skip()">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-focus  {{carouseStartlData.length==1?'swiper-no-swiping':''}}" ng-repeat="item in carouseStartlData">
            <a style="display: block;"><img ng-src="{{item.url}}"></a>
          </div>
        </div>
      </div>

      <div on-tap="skip()" class="plash-skip color-fff text-center status1 {{skipStatus?'status2':''}}"><span>{{splashLeftTime}}</span>
        跳过 <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></div>
    </div>
  </div>
  <!--红包蒙版-->
  <!--<script id="templates/redBad.html" type="text/ng-template">-->
  <!--<style>-->
  <!--.modal-backdrop, .modal-backdrop-bg{-->
  <!--top: 30% !important;-->
  <!--bottom: auto;-->
  <!--z-index: 100;-->
  <!--position: absolute;-->
  <!--}-->
  <!--.modal-backdrop .modal-wrapper{-->
  <!--max-height:100%;-->
  <!--height: 100%;-->
  <!--}-->
  <!--</style>-->
  <!--<div class="modal pos" style="background: transparent" ng-if="hasData" >-->
  <!--<div class="redBad" on-tap="hideRed()" >-->
  <!--<i class="ion jyicon">&#xe688;</i>-->
  <!--</div>-->
  <!--<div style="width: 70%;left: 15%;position: absolute;top: -30px;"  on-tap="showRedBad()" ng-if="RedBadFlag==false">-->
  <!--<img src="./img/hongbao.png">-->
  <!--</div>-->
  <!--<div style="width: 100%;left: 2%;position: relative;top: -100px;"  ng-if="RedBadFlag==true">-->
  <!--<img src="./img/showRedBad.png">-->
  <!--<ion-content scrollbar-y="false" style="top: 46%;bottom: 53px;right: 46px;left: 40px" >-->
  <!--<div style="position: relative;padding:0px 20px" ng-repeat="item in findReceivingCenterInfoData[0].rcLineList" on-tap="choose(item)" ng-class="item.active==true?'redBad-active':''" ng-if="chooseActiveFlag==false">-->
  <!--<i ng-if="item.active==false"  class="ion jyicon quan-ion">&#xe61e;</i>-->
  <!--<img src="./img/quan.png">-->
  <!--<p class="quan-redBad">{{item.giftName}}</p>-->
  <!--</div>-->
  <!--<div style="position: relative;padding:0px 20px" ng-repeat="item in findReceivingCenterInfoData[0].rcLineList" ng-if="chooseActiveFlag==true">-->
  <!--<i ng-if="item.active==false"  class="ion jyicon lingqu-ion">&#xe614;</i>-->
  <!--<img src="./img/quan.png">-->
  <!--<p class="quan-redBad">{{item.giftName}}</p>-->
  <!--</div>-->
  <!--</ion-content>-->
  <!--<div class="ling-qu" on-tap="chooseActive()" ng-if="chooseActiveFlag==false">-->
  <!--<p>领取</p>-->
  <!--</div>-->
  <!--<div class="ling-qu-s" ng-if="chooseActiveFlag==true">-->
  <!--<p class="text-center">您已领取成功</p>-->
  <!--<p class="fs12" ui-sref="myWallet"  nav-direction="forward">可在个人中心-我的钱包中查看</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div style="background:#000;position: fixed;top:0;left:0;width:100%;z-index:8;height:100%;opacity: .5 "></div>-->
  <!--</script>-->
  <div class="waitspinner " ng-show="!gpsInfoFlag">
    <ion-spinner icon="bubbles" class="spinner-balanced"></ion-spinner>
    <p style="color: #998278;font-size: 12px">定位中...</p>

  </div>
  <div ng-show="!gpsInfoFlag" style="background: rgba(51, 51, 51, 0.5);;position: fixed;top:0;left:0;width:100%;z-index:1000;height:100%;"></div>
</ion-view>


