<ion-view view-title="会员卡登陆">
    <ion-header-bar class="calm-border bg-img iphone-x-head" align-title="center">
        <a href="#/tab/account" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    </ion-header-bar>
    <ion-content scrollbar-y="false" scroll="false" class="bg-img iphone-x-content">
            <div class="{{img.status}}"><img src="img/icon1.png" alt=""/></div>
            <div class="list list-inset register-list pt20" style="background-color:rgba(0,0,0,0);">
                <div class="button-bar button-tab mb20 pgr10">
                    <a href="#/login" nav-direction="none" class="button fs12">密码登陆</a>
                    <a href="#/loginByYzm" nav-direction="none" class="button fs12">验证码登陆</a>
                    <a href="#/loginByVip" nav-direction="none" class="button active fs12">会员卡登录</a>
                </div>
                <form  role="form" w5c-form-validate="vm.validateOptions" novalidate name="myForm" >
                    <label class="item item-input lb-p">
                        <i class="icon ion-android-phone-portrait placeholder-icon"></i>
                        <input  ng-focus="imgSmall()"   type="number" ng-model="loginData.phone" placeholder="会员开卡号">
                        <!--<input  ng-focus="imgSmall()"  ng-pattern="/^1\d{10}$/" required="" name="cardNum" type="number" ng-model="loginData.phone" placeholder="会员开卡手机号">-->
                    </label>
                    <label class="item item-input lb-p">
                        <i class="icon ion-android-unlock placeholder-icon"></i>
                        <input  ng-focus="imgSmall()" ng-blur="imgBig()" ng-pattern="/^[a-zA-Z0-9]+$/" ng-model="loginData.password" ng-minlength="6" ng-maxlength="18" required="" name="password6_18" type="password" placeholder="支付密码">
                    </label>
                    <div class="mt20"><button ng-click="myForm.$errors.length > 0 && vm.showErrorType == 2 ? alertError(myForm.$errors[0]) : ''" w5c-form-submit="loginByVip()"  class="button button-select button-block btn-login"  nav-direction="forward"><span>登陆</span></button></div>
                    <div class="pos pt30 pb10">
                        <a href="#/register" nav-direction="forward" class="button button-small button-goRegister">免费注册</a>
                    </div>
                    <div class="pos pt30 pb10">
                        <a href="#/findPassword" nav-direction="forward" class="button button-small button-goFindpassword">忘记密码</a>
                    </div>
                </form>
            </div>
    </ion-content>
    <span class="other">第三方登录</span>
    <div class="bang">
        <span class=""><img src="img/qq1.png"></span>
        <span class=""><img src="img/weixin1.png"></span>
        <span class=""><img src="img/weibo2.png"></span>
        <span class=""><img src="img/zfb1.png"></span>
    </div>
</ion-view>
