<ion-view view-title="密码登录">
    <ion-header-bar align-title="center" class="login-jy-header iphone-x-head">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left"></i></a>
        <div class="h1 title text-center" style="color: #fff!important;">
            登录
        </div>
        <div class="fs16 registerBtn" ui-sref="register" nav-direction="forward">注册</div>
    </ion-header-bar>
    <ion-content scroll="false" class="jyContent iphone-x-content">
        <div class="row loginNav" tabs-click="">
            <!--<a class="col" ng-class="activeIndex==0?'active':''">密码登录</a>-->
            <a class="col" ng-class="activeIndex==0?'active':''">验证码登录</a>
            <a class="col" ng-class="activeIndex==1?'active':''">会员卡登录</a>
        </div>
        <ion-slide-box active-slide="slideTo()" show-pager="false" on-slide-changed="slideHasChanged($index)">
            <!--<ion-slide class="slider-slide-vh">
                <ion-list>
                    <form name="form1" novalidate ng-submit="login1(form1)">
                        <label class="item item-input item-input-lg">
                            <span class="input-label color-000">账号</span>
                            <input class="mr50" type="tel" ng-model="loginData.tel1" ng-pattern="/[0-9]{11}/" ng-minlength="11" ng-maxlength="11" required placeholder="手机号码">
                        </label>
                        <label class="item item-input item-input-lg pos">
                            <span class="input-label color-000">密码</span>
                            <input class="mr50" type="{{isOpen?'text':'password'}}" ng-minlength="6" ng-maxlength="18" ng-model="loginData.password1" required placeholder="密码">
                            <div class="eyeIcon" on-tap="isOpen=!isOpen"><i class="icon iconfont fs24" ng-if="!isOpen">&#xe6a2;</i><i class="icon iconfont fs24" ng-if="isOpen">&#xe6a3;</i></div>
                        </label>
                        <label class="item item-input item-input-lg">
                            <span class="input-label color-000">图形码</span>
                            <input type="number" ng-pattern="/\d{5}/" maxlength="5" ng-model="loginData.captcha1" required placeholder="请输入图形码">
                            <div class="mr10" on-tap="getCode()" style="width:100px!important;"><img ng-src="{{yzmCode}}" alt=""/></div>
                        </label>
                        <div class="ml15 mt20 mr15">
                            <button type="submit" ng-disabled="form1.$invalid" class="button button-jy button-block bxjg-btn-big">登录</button>
                        </div>
                        <div class="text-center fs12 color-af292d" ui-sref="findPassword" nav-direction="forward">忘记密码?</div>
                    </form>
                </ion-list>
            </ion-slide>-->
            <ion-slide class="slider-slide-vh">
                <ion-list>
                    <form name="form2" novalidate ng-submit="login2(form2)">
                        <label class="item item-input item-input-lg">
                            <span class="input-label color-000">手机号</span>
                            <input class="mr80" type="tel" ng-model="loginData.tel2" ng-pattern="/[0-9]{11}/" ng-minlength="11" ng-maxlength="11" required placeholder="仅支持中国大陆手机号">
                            <div ng-if="yzmFlag" ng-disabled="{true:'disabled'}[!loginData.tel2]" class="button button-small button-register yzmBtn" style="top:15px;right:15px;" on-tap="yzmLogic(loginData.tel2)">获取验证码</div>
                            <button ng-if="!yzmFlag" stop-propagation="" disabled="disabled" class="button button-small button-register yzmBtn" style="top:15px;right:15px;">{{leftTime}}s后重新获取</button>
                        </label>
                        <label class="item item-input item-input-lg">
                            <span class="input-label color-000">验证码</span>
                            <input class="mr80" type="text" ng-pattern="/\d{6}/" maxlength="6" ng-model="loginData.captcha" required placeholder="请输入验证码">
                        </label>
                        <label class="item item-input item-input-lg">
                            <span class="input-label color-000">图形码</span>
                            <input type="number" ng-pattern="/\d{5}/" maxlength="5" ng-model="loginData.captcha2" required placeholder="请输入图形码">
                            <div class="mr10" on-tap="getCode()" style="width:100px!important;"><img ng-src="{{yzmCode}}" alt=""/></div>
                        </label>
                        <div class="ml15 mt20 mr15">
                            <button type="submit" ng-disabled="form2.$invalid" class="button button-jy button-block">
                                登录
                            </button>
                        </div>
                        <div class="text-center fs12 color-999" nav-direction="forward">登录代表你已同意<a style="text-decoration: underline;" class="color-af292d" ui-sref="agreeMent" nav-direction="forward">《用户协议》</a>和<a style="text-decoration: underline;" class="color-af292d" ui-sref="privacyMent" nav-direction="forward">《隐私政策》</a></div>
                    </form>
                </ion-list>
            </ion-slide>
            <ion-slide class="slider-slide-vh">
                <ion-list>
                    <form name="form3" novalidate ng-submit="login3(form3)">
                        <label class="item item-input item-input-lg">
                            <span class="input-label color-000">账号</span>
                            <input class="mr50" type="text" required ng-model="loginData.card" ng-pattern="/[0-9]{11}/" ng-minlength="11" ng-maxlength="11" placeholder="开卡手机号">
                            <div ng-if="yzmFlag2" ng-disabled="{true:'disabled'}[!loginData.card]" class="button button-small button-register yzmBtn" style="top:15px;right:15px;" on-tap="yzmLogic2(loginData.card)">获取验证码</div>
                            <button ng-if="!yzmFlag2" stop-propagation="" disabled="disabled" class="button button-small button-register yzmBtn" style="top:15px;right:15px;">{{leftTime2}}s后重新获取</button>
                        </label>
                        <label class="item item-input item-input-lg pos">
                            <span class="input-label color-000">密码</span>
                            <input class="mr50" type="{{isOpen3?'text':'password'}}" required ng-minlength="6" ng-maxlength="18" ng-model="loginData.password3" placeholder="支付密码">
                            <div class="eyeIcon" on-tap="isOpen3=!isOpen3"><i class="icon iconfont fs24" ng-if="!isOpen3">&#xe6a2;</i><i class="icon iconfont fs24" ng-if="isOpen3">&#xe6a3;</i></div>
                        </label>
                        <label class="item item-input item-input-lg">
                            <span class="input-label color-000">验证码</span>
                            <input class="mr80" type="text" ng-pattern="/\d{6}/" maxlength="6" ng-model="loginData.mobileCaptcha2" required placeholder="请输入验证码">
                        </label>
                        <!--<label class="item item-input item-input-lg">-->
                            <!--<span class="input-label color-000">图形码</span>-->
                            <!--<input type="text" ng-pattern="/\d{5}/" maxlength="5" ng-model="loginData.captcha2" required placeholder="请输入图形码">-->
                            <!--<div class="mr10" on-tap="getCode()" style="width:100px!important;"><img ng-src="{{yzmCode}}" alt=""/></div>-->
                        <!--</label>-->
                        <div class="ml15 mt20 mr15">
                            <button type="submit" ng-disabled="form3.$invalid" class="button button-jy button-block bxjg-btn-big">
                                登录
                            </button>
                        </div>
                        <div class="text-center fs12 color-999" nav-direction="forward">登录代表你已同意<a style="text-decoration: underline;" class="color-af292d" ui-sref="agreeMent" nav-direction="forward">《用户协议》</a>和<a style="text-decoration: underline;" class="color-af292d" ui-sref="privacyMent" nav-direction="forward">《隐私政策》</a></div>
                    </form>
                </ion-list>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <div class="bang">
        <div class="row">
            <div class="col line ml30"></div>
            <div class="col color-bf text-center fs12">第三方登录</div>
            <div class="col line mr30"></div>
        </div>
        <div class="row bang-block">
            <!--<div class="col pd10" on-tap="qqLogin()"><img src="img/qq1.png"></div>-->
            <div style="width: 75px;margin: 0 auto;" on-tap="weixinLogin()"><img src="img/weixin1.png"></div>
            <!--<div class="col pd10" on-tap="weixinLogin()"><img src="img/weixin1.png"></div>-->
            <!--<div class="col pd10" on-tap="weiboLogin()"><img src="img/weibo2.png"></div>-->
            <!--<div class="col" on-tap="zfbLogin()"><img src="img/zfb1.png"></div>-->
        </div>
    </div>

    <!--微信登陆绑定手机号码-->
    <div id="wxbindphone" ng-if="needBind">
        <div id="wxbindphone-inner">
            <div class="fs16 text-center mb20"><strong>绑定手机</strong></div>
            <div class="wxbindphoneWrap">
                <div class="box">
                    <div class="box1"><input ng-model="bindPhone.mobileNumber" type="tel" placeholder="请输入手机号码"></div>
                    <div class="send_yzm fs12" on-tap="sendYzm()">{{sendYzmFlag}}</div>
                </div>
            </div>
            <div class="wxbindphoneWrap"><input ng-model="bindPhone.vertifyCode" type="text" placeholder="请输入验证码"></div>
            <div class="text-center fs12 color-999" nav-direction="forward">绑定代表你已同意<br/>
                <a style="text-decoration: underline;" class="color-af292d" ui-sref="agreeMent" nav-direction="forward">《用户协议》</a>和<a style="text-decoration: underline;" class="color-af292d" ui-sref="privacyMent" nav-direction="forward">《隐私政策》</a>
            </div>
            <div class="mt20"><button style="background: #998278" class="button button-block button-assertive" on-tap="bindPhoneFn()">立即绑定</button></div>
            <div on-tap="hide()" class="icon jyicon fs16" style="position: absolute;top: 0;right: 0;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 3px 5px;background: #f2f2f2;border-bottom-left-radius: 5px;color: #666;">&#xe651;</div>
        </div>
    </div>
</ion-view>
