<ion-view view-title="见面会说明">
    <ion-header-bar class="calm-border iphone-x-head" align-title="center">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">{{pageTitle?pageTitle:'暂无信息'}}</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false" class="iphone-x-content">
        <div class="meeting-division" ng-if="actorData.length>0">
            <div class="box ml10 mr10">
                <div class="meeting-division-l box1 text-right mr10"></div>
                <div>到场明星</div>
                <div class="meeting-division-l box1 text-left ml10"></div>
            </div>
        </div>
        <div class="box" style="border-bottom: 1px solid #f5f5f5;position: relative;" ng-repeat="item in actorData" ui-sref="actorDetail({id:item.actorId,index:1})">
            <div class="my-fans-img " style="margin-left: 12px">
                <img ng-src={{item.actorHeadPortrait}} style="border-radius: 50px;">
                <!--<img src="./img/user.png" style="border-radius: 50px;">-->
            </div>
            <div class="box1" style="margin-left: 15px;margin-top: 12px;margin-right: 68px;" >
                <h3 style="height: 20px;overflow: hidden;">{{item.actorName}}</h3>
                <p class="mt15" style="height: 20px;overflow: hidden;">{{item.actorTypeName}}</p>
            </div>
            <div>
                <i class="ion jyicon fs28 mt30 mr15">&#xe61d;</i>
            </div>
        </div>
        <div class="meeting-division" ng-if="activityDescription">
            <div class="box ml10 mr10">
                <div class="meeting-division-l box1 text-right mr10"></div>
                <div>活动说明</div>
                <div class="meeting-division-l box1 text-left ml10"></div>
            </div>
        </div>
        <div style="padding: 12px 15px">
            <p ng-repeat="row in activityDescription">{{row}}</p>
        </div>
    </ion-content>

</ion-view>
