<ion-view view-title="{{title}}">
    <ion-header-bar align-title="center" class="iphone-x-head">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">{{title}}</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false" scrollbar-x="false" class="iphone-x-content">
        <div class="pl15 pr15 pt15">
            <div ng-bind-html="jydtTit"></div>

            <div class="membershipRegulationsDetail-btn">
                <button ng-click="agree()"  nav-direction="back" class="button button-select fs16" ng-disabled="false" style="background: #998278;border-radius: 0px !important;">同意并继续</button>
            </div>
        </div>
    </ion-content>
</ion-view>

<style>
    .membershipRegulationsDetail-btn {
        padding: 1.5rem 0;
        margin: 0 auto;
        vertical-align: center;
        text-align: center;
    }
    .membershipRegulationsDetail p {
        text-indent: 2em;
        text-align: justify;
        vertical-align: top;
    }
    .membershipRegulationsDetail strong {
        display: inline-block;
        text-indent: 1.5em;
        vertical-align: top;
    }
    .membershipRegulationsDetail h3 {
        text-align: center;
        vertical-align: top;
        padding-right: 0;
    }
    .membershipRegulationsDetail h3, .membershipRegulationsDetail h4 {
        font-weight: bold;
    }

    .hyUl li {
        display: flex;
    }
    .hyCon img {
        width: 2rem;
        vertical-align: middle;
        display: none;
    }
    .hyCon h3 {
        font-weight: bold;
    }
</style>
