<ion-view view-title="会员权益">
    <ion-header-bar align-title="center" class="top-xian iphone-x-head">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">会员权益</div>
    </ion-header-bar>
    <ion-content overflow-scroll="false" scrollbar-y="false" has-bouncing="false" class="iphone-x-content">
        <!--<p class="memberBenefit-p">金逸会员体系根据不同的会员等级划分不同的会员权益，具体会员权益如下：</p>-->
        <!--<table class="memberBenefit-table" style="word-wrap:break-word; word-break:break-all;">-->
            <!--<tr ng-repeat="item in leveDataArr track by $index">-->
                <!--<td ng-repeat="row in item">{{row.aa}}</td>-->
            <!--</tr>-->
        <!--</table>-->
        <div style="border-bottom: 8px solid #f5f5f5" ng-repeat="item in leveData">
            <div class="memberBenefit-div" ng-if="currentleve[0].name!=item.name">{{item.name}}权益</div>
            <div class="memberBenefit-div color-ff5715" ng-if="currentleve[0].name==item.name">{{item.name}}权益(当前我是{{currentleve[0].name}})</div>
            <div class="flex">
                <div class="flex-memberBenefit text-center" ng-repeat="row in item.value" ng-if="row.flag=='Y'">
                    <!--<i class="icon jyicon fs26 color-998278">&#xe648;</i>-->
                    <div >
                        <div class="memberBenefit-img"><img  ng-src="{{row.imgUrl}}"></div>
                        <p class="mt10">{{row.rights}}</p>
                        <p class="color-ff5715 fs12 ">{{row.rightsValue}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--<div style="border-bottom: 8px solid #f5f5f5">-->
            <!--<div class="memberBenefit-div">LV2会员权益</div>-->
            <!--<div class="flex">-->
                <!--<div class="flex-memberBenefit text-center">-->
                    <!--<i class="icon jyicon fs26 color-998278">&#xe648;</i>-->
                    <!--<p class="mt10">购票打折</p>-->
                    <!--<p class="color-ccc fs12 ">购票打8折</p>-->
                <!--</div>-->
                <!--<div class="flex-memberBenefit text-center">-->
                    <!--<i class="icon jyicon fs26 color-998278">&#xe636;</i>-->
                    <!--<p class="mt10">双倍成长</p>-->
                    <!--<p class="color-ccc fs12 ">生日快速升级</p>-->
                <!--</div>-->
                <!--<div class="flex-memberBenefit text-center">-->
                    <!--<i class="icon jyicon fs26 color-998278">&#xe67e;</i>-->
                    <!--<p class="mt10">可退票</p>-->
                    <!--<p class="color-ccc fs12 ">每月2次退票特权</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="border-bottom: 8px solid #f5f5f5">-->
            <!--<div class="memberBenefit-div">LV3会员权益</div>-->
            <!--<div class="flex">-->
                <!--<div class="flex-memberBenefit text-center">-->
                    <!--<i class="icon jyicon fs26 color-998278">&#xe648;</i>-->
                    <!--<p class="mt10">购票打折</p>-->
                    <!--<p class="color-ccc fs12 ">购票打7折</p>-->
                <!--</div>-->
                <!--<div class="flex-memberBenefit text-center">-->
                    <!--<i class="icon jyicon fs26 color-998278">&#xe636;</i>-->
                    <!--<p class="mt10">双倍成长</p>-->
                    <!--<p class="color-ccc fs12 ">生日快速升级</p>-->
                <!--</div>-->
                <!--<div class="flex-memberBenefit text-center">-->
                    <!--<i class="icon jyicon fs26 color-998278">&#xe67e;</i>-->
                    <!--<p class="mt10">可退票</p>-->
                    <!--<p class="color-ccc fs12 ">每月2次退票特权</p>-->
                <!--</div>-->
                <!--<div class="flex-memberBenefit text-center">-->
                    <!--<i class="icon jyicon fs26 color-998278">&#xe644;</i>-->
                    <!--<p class="mt10">双倍积分</p>-->
                    <!--<p class="color-ccc fs12 ">节假日积分翻倍</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="border-bottom: 8px solid #f5f5f5">-->
            <!--<div class="memberBenefit-div">LV4会员权益</div>-->
            <!--<div class="flex">-->
                <!--<div class="flex-memberBenefit text-center">-->
                    <!--<i class="icon jyicon fs26 color-998278">&#xe648;</i>-->
                    <!--<p class="mt10">购票打折</p>-->
                    <!--<p class="color-ccc fs12 ">购票打7折</p>-->
                <!--</div>-->
                <!--<div class="flex-memberBenefit text-center">-->
                    <!--<i class="icon jyicon fs26 color-998278">&#xe636;</i>-->
                    <!--<p class="mt10">双倍成长</p>-->
                    <!--<p class="color-ccc fs12 ">生日快速升级</p>-->
                <!--</div>-->
                <!--<div class="flex-memberBenefit text-center">-->
                    <!--<i class="icon jyicon fs26 color-998278">&#xe67e;</i>-->
                    <!--<p class="mt10">可退票</p>-->
                    <!--<p class="color-ccc fs12 ">每月2次退票特权</p>-->
                <!--</div>-->
                <!--<div class="flex-memberBenefit text-center">-->
                    <!--<i class="icon jyicon fs26 color-998278">&#xe644;</i>-->
                    <!--<p class="mt10">双倍积分</p>-->
                    <!--<p class="color-ccc fs12 ">节假日积分翻倍</p>-->
                <!--</div>-->
                <!--<div class="flex-memberBenefit text-center">-->
                    <!--<i class="icon jyicon fs26 color-998278">&#xe644;</i>-->
                    <!--<p class="mt10">双倍积分</p>-->
                    <!--<p class="color-ccc fs12 ">节假日积分翻倍</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


    </ion-content>
</ion-view>
