<ion-view view-title="会员中心">
  <ion-header-bar align-title="center" class="top-xian iphone-x-head">
    <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <div class="h1 title">我的会员</div>
  </ion-header-bar>
  <ion-content overflow-scroll="false" scrollbar-y="false" has-bouncing="false" class="iphone-x-content">
    <div class="memberCart-wapper">
      <ion-slide-box style="height: 240px;" active-slide="slideTo()" show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide class="slider-slide-vh">
          <div class="memberCenter-box">
            <div class="member-box1">
              <img src="./img/memberVip.png">
            </div>
            <div style="position: absolute;left: 50%; margin-left: -26px;margin-top: 61px;">
              <p class="member-box1-div">{{memberLevelData[0].name}}</p>
              <p class="member-box1-div2">{{memberLevelData[0].description}}</p>
            </div>
            <div class="member-box2">
              <p style="color: #fffcfc;margin-bottom: 15px">{{pointData[0].pointName}}：{{pointData[0].pointValue}}  |  {{pointData[1].pointName}}：{{pointData[1].pointValue}}</p>
              <div class="member-tiao ml20">
                <div class="member-tiao-true"  ng-style="{width:progress+3+'%'}"></div>
              </div>
              <div class="memberCenter-box2">
                <div ng-repeat="item in leveGrowData" style="width: 20%" >
                  <div class="memberCenter-box2-div1" ng-if="memberLevelData[0].description!=item.meaning" >{{item.lookupCode}}</div>
                  <div class="memberCenter-box2-div1" ng-if="memberLevelData[0].description==item.meaning" style="color: #fffcfc">{{item.lookupCode}}</div>
                </div>
              </div>
              <p style="color: #b7a5a5" ng-if="high!=true">差{{pp}}分升到{{ppLevel}},快加油哦~</p>
              <p style="color: #b7a5a5" ng-if="high==true">您已经成为最高级别会员了哦~</p>
            </div>
          </div>
        </ion-slide>
        <!--<ion-slide class="slider-slide-vh">-->
        <!--<div class="memberCenter-box">-->
        <!--<div class="member-box1">-->
        <!--<img src="./img/memberVip.png">-->
        <!--</div>-->
        <!--<div style="position: absolute;left: 50%; margin-left: -26px;margin-top: 61px;">-->
        <!--<p class="member-box1-div">{{memberLevelData[0].name}}</p>-->
        <!--<p class="member-box1-div2">{{memberLevelData[0].description}}</p>-->
        <!--</div>-->
        <!--<div class="member-box2">-->
        <!--<p style="color: #fffcfc;margin-bottom: 15px">{{pointData[0].pointName}}：{{pointData[0].pointValue}}  |  {{pointData[1].pointName}}：{{pointData[1].pointValue}}</p>-->
        <!--<div class="member-tiao ml20"></div>-->
        <!--<div class="member-tiao-true ml20"  ng-style="{width:progress+'%'}"></div>-->
        <!--<div class="memberCenter-box2">-->
        <!--<div ng-repeat="item in leveGrowData" style="width: 20%" >-->
        <!--<div class="memberCenter-box2-div1" ng-if="memberLevelData[0].description!=item.meaning" >{{item.lookupCode}}</div>-->
        <!--<div class="memberCenter-box2-div1" ng-if="memberLevelData[0].description==item.meaning" style="color: #fffcfc">{{item.lookupCode}}</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<p style="color: #b7a5a5" ng-if="high!=true">差{{pp}}分升到{{ppLevel}},快加油哦~</p>-->
        <!--<p style="color: #b7a5a5" ng-if="high==true">您已经成为最高级别会员了哦~</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</ion-slide>-->
      </ion-slide-box>
      <!--<div class="member-date">-->
      <!--<span>{{startDate}}</span> ~ <span>{{endDate}}</span>-->
      <!--</div>-->
    </div>

    <div class="member-box3 pos" on-tap="show()">
      <p>切换身份:</p>
      <span style="position: absolute;top: 15px;right: 10%;color: #998278;">{{planData[0].description}}(当前身份)</span>
      <i class="ion jyicon">&#xe61d;</i>
    </div>
    <!--<div class="member-box3"  ui-sref="roadCourse" nav-direction="forward" style="border-top: 1px">-->
    <!--<p>心路历程</p>-->
    <!--<i class="ion jyicon">&#xe61d;</i>-->
    <!--</div>-->
    <table class="user-moudle">
      <tr>
        <td ui-sref="roadCourse" nav-direction="forward">
          <i class="icon jyicon fs30" style="color: #998278;">&#xe673;</i>
          <p>心路历程</p>
        </td>
        <td ui-sref="memberCheats" nav-direction="forward">
          <i class="icon jyicon fs30" style="color: #998278;">&#xe618;</i>
          <p>会员秘籍</p>
        </td>
        <td ui-sref="memberBenefits" nav-direction="forward">
          <i class="icon jyicon fs30" style="color:#998278;">&#xe739;</i>
          <p>会员权益</p>
        </td>
      </tr>
      <!--<tr>-->
        <!--<td ui-sref="pointsMall" nav-direction="forward">-->
          <!--<i class="icon jyicon fs30" style="color:#998278;">&#xe637;</i>-->
          <!--<p>积分商城</p>-->
        <!--</td>-->
      <!--</tr>-->
    </table>
  </ion-content>
</ion-view>

<style>
  .memberCart-wapper {
    position: relative;
  }
  .member-date {
    position: absolute;
    left: 23%;
    bottom: -9%;
    padding: 8px 25px;
    border: 1px solid black;
    z-index: 99999999;
    background-color: white;
    font-size: 110%;
  }
</style>
