<ion-view view-title="更多权益卡">
  <ion-header-bar align-title="center" class="iphone-x-head">
    <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <div class="h1 title">更多权益卡</div>
  </ion-header-bar>
  <ion-content scrollbar-y="false" has-bouncing="false" class="iphone-x-content">
    <ion-refresher spinner="ios-small" pulling-icon="" on-refresh="doRefresh()"></ion-refresher>

    <div ng-if="moreRightsData.length==0">
      <div class="no-moreRight">
        <i class="icon jyicon" style="font-size: 100px; color: #FF6600;">&#xe8c4;</i>
      </div>
      <div class="fs16 text-center mt20">小主,我被抢光了!
        <a class="fs16" ui-sref="home" nav-direction="forward" style="text-decoration: underline">去其它逛逛></a>
      </div>
    </div>

    <div class="list" ng-repeat="item in moreRightsData" ng-if="moreRightsData.length!=0">
      <div class="my-rights-img" ui-sref="category({'skuId':item.skuId,'catName':'超值礼包'})" nav-direction="forward">
        <img ng-src="{{item.accessPath}}">
        <p class="my-rights-p">{{item.equitycardCode}}</p>
        <p class="my-rights-p1">售价：<span style="color: red">￥{{item.sales}}</span> | <span class="">{{item.skuSourceTypeIdName}}</span></p>
        <p class="my-rights-p2">{{item.timeData}}</p>
      </div>
    </div>
    <!--<div class="flex" ng-repeat="item in moreRightsData" style=" margin-bottom: -85px; margin-top: -50px;">-->
    <!--<div class="flex-100">-->
    <!--<img ng-src="{{item.accessPath}}">-->
    <!--</div>-->
    <!--</div>-->


  </ion-content>
</ion-view>
