<ion-view view-title="购物车">
    <ion-header-bar align-title="center" class="iphone-x-head">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">购物车({{num}})</div>

    </ion-header-bar>
    <ion-content scrollbar-y="false" class="iphone-x-content">
        <div class="mallOrder-item bor-b mallOrder-item-bg pos" ng-repeat="item in cartData">
            <div class="mb20">
                <span ng-if="!item.editFlag" class="quan-add" on-tap="edit($index)"><i class="iconfont jyicon">&#xe631;</i> 编辑</span>
                <span ng-if="item.editFlag" class="quan-add" on-tap="ok($index)">完成</span>
            </div>

            <div class="box" style="border-bottom: 0;">
                <div class="mr1" style="margin-top: 27px;" on-tap="changeCart($index)"><i class="iconfont jyicon fs26 {{item.activeFlag?'color-ff5715':''}}">{{item.activeFlag?'&#xe615;':'&#xe79f;'}}</i></div>
                <div class="cart-img"><img ng-src="{{item.accessPath}}" alt=""></div>
                <div class="box1">
                    <div class="fs15" ng-if="!item.editFlag" style="height: 40px;overflow: hidden;">{{item.title}}</div>
                    <div ng-if="!item.editFlag">{{item.chooseAttrubute}}</div>
                    <div class="box" style="border-bottom: 0;padding-bottom:0;margin-top: 12px;" ng-if="item.editFlag">
                        <div class="cart-qty" on-tap="reduce($index)"><i class="iconfont jyicon">&#xe630;</i></div>
                        <div class="cart-qty" style="border-left:0;border-right:0;padding:3px 10px;">{{item.quantity}}</div>
                        <div class="cart-qty" on-tap="add($index)"><i class="iconfont jyicon">&#xe643;</i></div>
                    </div>
                </div>
                <div class="text-right" ng-if="!item.editFlag">
                    <div class="color-ff5715 fs16">￥{{item.price}}</div>
                    <div class="color-999 cart-old-price">￥{{item.mktPrice}}</div>
                    <div class="">x{{item.quantity}}</div>
                </div>
                <div class="delBtn" ng-click="del($index)" ng-if="item.editFlag">删除</div>
            </div>
        </div>

        <div ng-if="cartData.length==0" class="text-center pt100">
            <i class="icon jyicon fs40" style="color: #e0e0e0;">&#xe639;</i>
            <p class="color-999 fs14 pt10">购物车是空的哦~</p>
        </div>
    </ion-content>
    <div class="cart-footer" ng-if="cartData.length>0">
        <div class="box">
            <div class="mr1 ml15 mt15" on-tap="changeSelAll()"><i class="iconfont jyicon fs26 {{activeAllFlag?'color-ff5715':''}}">{{activeAllFlag?'&#xe615;':'&#xe79f;'}}</i></div>
            <div class="mr1 lh50 fs12" >全选</div>
            <div class="box1 lh50 pl10" >合计:<span class="color-ff5715">￥{{totalPrice?totalPrice:0 | number:2}}</span></div>
            <!--<div class="box1 lh50" >合计:<span class="color-ff5715">￥{{totalPrice?totalPrice:0 | number:2}}</span> <span class="ml10 color-999 fs12">不含运费</span></div>-->
            <div class="cart-cal fs16" on-tap="account()">结算({{cartNum?cartNum:0}})</div>
        </div>
    </div>
</ion-view>
