<ion-view view-title="提货进度">
    <ion-header-bar align-title="center" class="top-xian">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">提货进度</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false" overflow-scroll='false' scrollbar-x="false" >
        <div>
            <a class="item item-thumbnail-left">
                <div class="progress-img" >
                    <img ng-src="{{deliveryScheduleData.accessPath}}">
                </div>
                <div class="progress-p">
                    <p>提货状态：<span style="color: red">{{deliveryScheduleData.deliveryScheduleName}}</span></p>
                    <p style="padding-top: 8px">提货影院：{{deliveryScheduleData.cinemaName}}</p>
                    <p style="padding-top: 5px">客服电话：400-000-8008</p>
                </div>
            </a>
            <a class="item item-icon-right item-da-xiao item-progress">
                <p class="span-left pt10">温馨提示：自提商品提取时间根据提取影院发送的短信提取时间为准，
                    提取影院会为你保留看管3-5天，请收到短信后，尽快提取，谢谢！</p>
            </a>
        </div>
    </ion-content>
</ion-view>
