<ion-view view-title="{{title}}">
    <ion-header-bar align-title="center">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">{{'确认订单'}}</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false" >
        <div ng-if="mallOrderFlag">
        <div class="mallOrder-banner" ng-if="allflag=='false'">
            <div class="box">
                <div class="mr10 mallOrder-banner-img"><img ng-src="{{productDetailData.appAbbImg}}" alt=""></div>
                <div class="box1">
                    <div class="mb10 color-000 fs15 mallOrder-banner-tit">{{productDetailData.bnName}}</div>
                    <div class="color-999 mb10">
                        <span ng-repeat="row in selectData">{{row.propName}}:{{row.propValue}} </span>
                    </div>
                    <div class="box">
                        <div class="color-ff5715"><span class="fs16">{{productDetailData.pointsExPercentage}}积分</span></div>
                        <div class="box1 text-right">X {{productDetailData.qty}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mallOrder-banner" ng-if="allflag=='true'" ng-repeat="item in productDetailDataArr">
            <div class="box">
                <div class="mr10 mallOrder-banner-img"><img ng-src="{{item.accessPath}}" alt=""></div>
                <div class="box1">
                    <div class="mb10 color-000 fs15 mallOrder-banner-tit">{{item.title}}</div>
                    <div class="color-999 mb10">
                        <span ng-repeat="row in selectData">{{row.propName}}:{{row.propValue}} </span>
                    </div>
                    <div class="box">
                        <div class="color-ff5715"><span class="fs16">{{item.totalAmount/100 | currency:'¥'}}</span></div>
                        <div class="box1 text-right">X {{item.quantity}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="mallOrder-banner" ng-if="allflag=='true'">-->
        <!--<div class="box">-->
        <!--<div class="mr10 mallOrder-banner2-img" ng-repeat="item in productDetailDataArr"><img ng-src="{{item.accessPath}}" alt=""></div>-->
        <!--&lt;!&ndash;<div class="box1">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="text-right mt20">  <span>共{{productDetailData.qty}}件</span>   <i class="ion-ios-arrow-right fs30"></i></div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->

        <div class="mallOrder-item">
            <div class="box" ng-if="status!='cart'&&productDetailData.catName!='权益卡'">
                <div class="box1">购买数量</div>
                <div class="text-right">
                    <span class="mall-qty reduce" on-tap="reduce()"><i class="jyicon iconfont">&#xe630;</i></span>
                    <span class="mall-qty pl10 pr10">{{productDetailData.qty}}</span>
                    <span class="mall-qty add" on-tap="add()"><i class="jyicon iconfont">&#xe643;</i></span>
                </div>
            </div>
            <div ng-if="productDetailData.skuItemType!='ONLINE_VIRTUAL_GOODS'" class="box">
                <div>配送方式</div>
                <div class="box1 text-right">
                    {{addressType[currentIndex].name}} <i class="iconfont jyicon">&#xe61d;</i>
                </div>
            </div>

            <div ng-if="productDetailData.skuItemType!='ONLINE_VIRTUAL_GOODS'&&productDetailData.skuItemType!='GROUND_GOODS'" class="mt10" ui-sref="address" nav-direction="forward">
                <div class="box">
                    <div>{{currentIndex==0?'提货信息':'收货信息'}}</div>
                    <div ng-if="!addressListDefault" class="box1 text-right" ><i class="iconfont jyicon">&#xe61d;</i></div>
                </div>
                <!--<div ui-sref="address" nav-direction="forward" class="box1 text-right fs12" style="color: #1162ea;">修改</div>-->
            </div>
            <div ng-if="addressListDefault && productDetailData.skuItemType!='ONLINE_VIRTUAL_GOODS'&&productDetailData.skuItemType!='GROUND_GOODS'" class="box" style="padding-top:0;" ui-sref="address({product:'product'})" nav-direction="forward">
                <div class="mr10 mt30"><i class="iconfont jyicon fs20">&#xe60a;</i></div>
                <div class="box1">
                    <div class="box mb5" style="border-bottom:0;padding-bottom:0;">
                        <div class="color-000">提货人:{{addressListSelect?addressListSelect.consignee:addressListDefault.consignee}}</div>
                        <div class="box1 color-000 ml20">{{addressListSelect?addressListSelect.moblie:addressListDefault.moblie}}</div>
                    </div>
                    <div>{{addressListSelect?addressListSelect.address:addressListDefault.address}}</div>
                </div>
                <div class="ml20 mt25"><i class="iconfont jyicon">&#xe61d;</i></div>
            </div>
            <div class="box" ng-if="productDetailData.skuItemType!='ONLINE_VIRTUAL_GOODS'&&productDetailData.skuItemType!='GROUND_GOODS'">
                <div class="mr10">自提时间</div>
                <div class="box1 text-right">根据收到的短信通知时间为准</div>
            </div>

            <div class="box">
                <div class="mr10">买家留言</div>
                <div class="box1"><input type="text" ng-model="params.remark" placeholder="选填;对本次交易的说明" style="border:0;width:100%;padding: 0 10px;"></div>
            </div>

            <!--<div class="mt15 fs16 color-000">选择优惠</div>-->
            <!--<div class="box">-->
            <!--<div>会员卡</div>-->
            <!--<div class="box1 text-right">优惠价:￥45/张 <i class="iconfont jyicon">&#xe61d;</i></div>-->
            <!--</div>-->
            <!--<div class="box">-->
            <!--<div>优惠活动</div>-->
            <!--<div class="box1 text-right">新用户立减10元 <i class="iconfont jyicon">&#xe61d;</i></div>-->
            <!--</div>-->
            <!--<div class="box">-->
            <!--<div>优惠券</div>-->
            <!--<div class="box1 text-right">5元现金劵 <i class="iconfont jyicon">&#xe61d;</i></div>-->
            <!--</div>-->
            <div class="text-right mt10" ng-if="allflag=='false'">共{{productDetailData.qty}}件商品 <span class="color-ff5715"><span class="fs16">{{productDetailData.pointsExPercentage*productDetailData.qty}}积分</span></span></div>
            <div class="text-right mt10" ng-if="allflag=='true'">共{{qty}}件商品 <span class="color-ff5715"><span class="fs16">{{pointsAmount}}积分</span></span></div>
        </div>

        <div style="height:70px;"></div>
</div>
        <div style="position: absolute;left: 50%;top: 40%;margin-left: -14px;" ng-if="!mallOrderFlag">
            <ion-spinner icon="ios-small"></ion-spinner>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" style="height:60px!important;" ng-if="mallOrderFlag">
        <button ng-if="productDetailData.skuItemType!='GROUND_GOODS'" ng-click="buildOrder()"  nav-direction="forward" class="button button-select fs16" style="background: #998278;border-radius: 0px !important;">提交订单</button>
        <button ng-if="productDetailData.skuItemType=='GROUND_GOODS'" ng-click="buildSales()"  nav-direction="forward" class="button button-select fs16" style="background: #998278;border-radius: 0px !important;">提交订单</button>
    </ion-footer-bar>
</ion-view>
