<ion-view view-title="确认订单">
  <ion-header-bar align-title="center" class="iphone-x-head">
    <a back-button="" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <div class="h1 title">确认订单{{card.password}}</div>
  </ion-header-bar>
  <ion-content overflow-scroll="false" scrollbar-y="false" has-bouncing="false" style="margin-bottom: 92px;" class="iphone-x-content">
    <div ng-if="mallOrderFlag">

      <div class="orderTit fs16">
        {{filmName}}
      </div>
      <div >
        <div class="row pb0">
          <div class="col col-20 pl10 text-left">影厅:</div>
          <div class="col col-80 text-left">{{cinemaName}} {{screenName}}</div>
        </div>
        <div class="row pb0">
          <div class="col col-20 pl10 text-left">时间:</div>
          <div class="col col-80 text-left">{{showtime | date:'yyyy-MM-dd HH:mm'}}</div>
        </div>
        <div class="row" style="max-height: 50px;">
          <div class="col col-20 pl10 text-left">座位:</div>
          <div class="col col-80 text-left">
            <div ng-if="flag!='M'" style="width: 33.33%;float: left;" ng-repeat="item in getSeatData">
              {{item.physicalName<65?item.physicalName:String.fromCharCode(item.physicalName)}}排{{item.id}}座
            </div>
            　
            <div ng-if="flag=='M'" style="width: 33.33%;float: left;" ng-repeat="item in getSeatData">{{item}}</div>
            　
          </div>
        </div>
        <div class="row" style="max-height: 50px;border-top: 1px solid #f5f5f5;padding-left: 14px;padding-top: 5px;">
          <div class="col col-25 plr0 text-left">小计</div>
          <div class="col col-75 plr0 text-right color-red" style="padding-right: 20px!important;">
            <!--<span class="fs14">￥</span>{{salesTotal?salesTotal:0 | number:2}}-->
            <span class="color-999 mr10" ng-if="selIndex==1">已选会员卡购票</span>
            <span class="color-999 mr10" ng-if="selIndex==2">已选活动购票</span>
            <span class="color-999 mr10" ng-if="selIndex==3">已选优惠劵购票</span>
            <span class="color-999 mr10" ng-if="selIndex==4">已选权益卡购票</span>
            <span class="color-999 mr10" ng-if="selIndex==0">已选正常购票</span>
            <span class="fs14"></span>{{minPrice | currency:'￥'}}
          </div>
        </div>
      </div>
      <div class="gap"></div>

      <!--卖品块-->
      <div class="activityBlock" ng-if="salesData.length>0&&rightsIndex!=11">
        <div class="row plr0 pos">
          <div class="col col-25 plr0 text-left">卖品套餐</div>
        </div>
        <div class="row pos" style="margin-top: 10px;" ng-repeat="item in salesData">
          <div class="sales-pic">
            <img ng-src="{{item.accessPath}}">
          </div>
          <div class="col col-50 sales-text text-left">
            <h2 class="fs14">{{item.title}}</h2>
            <p class="fs12 mb15" ng-bind-html="item.specInfo"></p>
            <p class="fs12">网购价: <span class="color-red">{{item.costPrice/100 | currency:'￥'}}</span></p>
          </div>
          <div class="sales-qty">
            <span on-tap="reduce(item,$index)" class="reduce"><i class="jyicon fs24">&#xe661;</i></span>
            <span class="sales-qty-value">{{item.salesQty}}</span>
            <span on-tap="add(item,$index)" class="add active"><i class="jyicon fs24">&#xe677;</i></span>
          </div>
        </div>
        <div ng-if="!hasMore" class="sales-more text-center pt5 pb5 fs12"> 暂无更多 </div>
        <div ng-if="hasMore" class="sales-more text-center pt5 pb5 fs12" on-tap="getMoreSales()">加载更多 <i
                style="display: inline-block;" class="icon jyicon">&#xe609;</i></div>
        <!--<div ng-if="showAll" class="sales-more text-center pt5 pb5 fs12" on-tap="findItemGood(1,pageSizeDefault)">收起 <i-->
                <!--style="transform: rotate(-180deg);display: inline-block;" class="icon jyicon">&#xe609;</i></div>-->
        <div class="row plr0 pos" style="border-top: 1px solid #f5f5f5;" ng-if="ActivitySalesData">
          <div class="col col-25 plr0 text-left">小计</div>
          <div class="col col-75 plr0 text-right color-red" style="padding-right: 20px!important;">
            <!--<span class="fs14">￥</span>{{salesTotal?salesTotal:0 | number:2}}-->
            <span class="color-999 mr10" ng-if="salesSelIndex==1">已选会员卡购卖品</span>
            <span class="color-999 mr10" ng-if="salesSelIndex==2">已选活动购卖品</span>
            <span class="color-999 mr10" ng-if="salesSelIndex==3">已选优惠劵购卖品</span>
            <span class="color-999 mr10" ng-if="salesSelIndex==0">已选正常购卖品</span>
            <span class="fs14"></span>{{minSalesPrice | currency:'￥'}}
          </div>
        </div>
      </div>
      <div class="gap" ng-if="salesData.length>0"></div>
      <!--活动块-->
      <div class="activityBlock">
        <!--会员信息-->
        <div class="row pd0 pos" on-tap="selMemberCard()">
          <div class="col col-25 plr0 text-left">会员卡</div>
          <div class="col col-75 plr0 text-right fs12">
            <ion-spinner ng-if="!memberCardInfo" class="spinner-sm" icon="ios-small"></ion-spinner>
            <span ng-if="selIndex==1">减{{discount}}元</span>
            <!--<span ng-if="memberCardInfo && selIndex!=1">{{minMemberCardTotal=='10000'?'不可用':'去使用'}}</span>-->
            <span ng-if="memberCardInfo && selIndex!=1 && binding!=true && minMemberCardTotal==10000">（余额不足）去充值</span>
            <span ng-if="memberCardInfo && selIndex!=1 && binding==true && minMemberCardTotal==10000">去绑定</span>
            <span ng-if="memberCardInfo && selIndex!=1 && minMemberCardTotal!=10000">去使用</span>
          </div>
          <div class="arrowIcon"><i class="ion-ios-arrow-forward color-999 fs18"></i></div>
        </div>

        <!--权益信息-->
        <div class="row pd0 pos" ng-if="memberEquityCardInfo && selIndex!=4 && memberEquityCardInfo.length===0">
          <div class="col col-25 plr0 text-left">权益卡</div>
          <div class="col col-75 plr0 text-right fs12" on-tap="showModal(3)">
            <ion-spinner ng-if="!memberEquityCardInfo" class="spinner-sm" icon="ios-small"></ion-spinner>
            <!--<span ng-if="selIndex==4">减{{discount}}元</span>-->
            <!--<span ng-if="memberEquityCardInfo && selIndex!=4">{{minMemberEquityCardInfo=='10000'?'不可用':'去使用'}}</span>-->
            <!--<span ng-if="memberEquityCardInfo && selIndex!=4 && memberEquityCardInfo.length!=0"  ui-sref="myRightsCard" nav-direction="forward">可使用</span>-->
            <span ui-sref="category({'catName':'超值礼包'})" nav-direction="forward">去购买</span>
          </div>
          <div class="arrowIcon"><i class="ion-ios-arrow-forward color-999 fs18"></i></div>
        </div>

        <!--活动信息-->
        <div class="row pd0 pos">
          <div class="col col-25 plr0 text-left">优惠活动</div>
          <div class="col col-75 plr0 text-right fs12" on-tap="showModal(1)">
            <ion-spinner ng-if="!activityInfo" class="spinner-sm" icon="ios-small"></ion-spinner>
            <span ng-if="selIndex==2 ||salesSelIndex==2">减{{sumDiscount}}元</span>
            <span ng-if="activityInfo && selIndex!=2&&salesSelIndex!=2">{{minActivityInfo=='10000'?'不可用':'去使用'}}</span>
          </div>
          <div class="arrowIcon"><i class="ion-ios-arrow-forward color-999 fs18"></i></div>
        </div>

        <div class="row pd0 pos">
          <div class="col col-25 plr0 text-left">优惠券</div>
          <div class="col col-75 plr0 text-right fs12" on-tap="showModal(2)">
            <ion-spinner ng-if="!memberVoucherInfo" class="spinner-sm" icon="ios-small"></ion-spinner>
            <span ng-if="selIndex==3 || salesSelIndex==3">减{{sumDiscount}}元</span>
            <!--<span ng-if="memberVoucherInfo && selIndex!=3 &&salesSelIndex!=3">{{minMemberVoucherInfo=='10000'?'不可用':'去使用'}}</span>-->
            <span ng-if="memberVoucherInfo && selIndex!=3 &&salesSelIndex!=3&&minMemberVoucherInfo!=10000&&bindingVoucherFlag==1">去使用</span>
            <span ng-if="memberVoucherInfo && selIndex!=3 &&salesSelIndex!=3&&minMemberVoucherInfo==10000&&bindingVoucher!=true&&bindingVoucherFlag!=1">不可用</span>
            <span ng-if="memberVoucherInfo && selIndex!=3 &&salesSelIndex!=3&&minMemberVoucherInfo==10000&&bindingVoucher==true&&bindingVoucherFlag!=1">去绑定</span>
          </div>
          <div class="arrowIcon"><i class="ion-ios-arrow-forward color-999 fs18"></i></div>
        </div>

        <!--<div class="row pd0 pos">-->
        <!--<div class="col col-25 plr0 text-left">小计</div>-->
        <!--<div class="col col-75 plr0 text-right color-red fs12" style="padding-right: 20px!important;">-->
        <!--<span class="color-999 mr10" ng-if="selIndex==1">已选会员卡购票</span>-->
        <!--<span class="color-999 mr10" ng-if="selIndex==2">已选活动购票</span>-->
        <!--<span class="color-999 mr10" ng-if="selIndex==3">已选优惠劵购票</span>-->
        <!--<span class="color-999 mr10" ng-if="selIndex==4">已选权益卡购票</span>-->
        <!--<span class="color-999 mr10" ng-if="selIndex==0">已选正常购票</span>-->
        <!--<span class="fs14">￥</span>{{minPrice | number:2}}-->
        <!--</div>-->
        <!--</div>-->
      </div>
      <div class="gap"></div>
      <div style="height: 50px"></div>
    </div>

    <div ng-if="!mallOrderFlag" >
      <img src="./img/jylogo.gif">
    </div>
  </ion-content>
  <div ng-if="mallOrderFlag">
    <div class="fixOrder">
      <div class="text-right pr20 pb10">应付金额:
        <span class="fs18 color-red" ng-if="needPayTotal">{{needPayTotal | currency:'￥'}}</span>
        <span class="fs18 color-red" ng-if="!needPayTotal">{{minPrice+minSalesPrice | currency:'￥'}}</span>
      </div>
      <div on-tap="buildOrder()" nav-direction="forward" class="queryPayBtn">确认支付</div>
      <!--<div on-tap="buildOrder()" nav-direction="forward">-->
        <!--<img src="./img/yd-zf.png">-->
      <!--</div>-->
    </div>
  </div>

  <script id="templates/activityList.html" type="text/ng-template">
    <style>
      .modal-backdrop, .modal-backdrop-bg {
        top: auto !important;
        bottom: 0;
        z-index: 100;
        max-height: 400px;
      }

      .modal-backdrop .modal-wrapper {
        max-height: 100%;
        height: 100%;
      }
    </style>
    <ion-modal-view class="layer" stop-propagation="">
      <ion-header-bar class="bar bar-header bar-filter ">
        <div class="text-center" style="width: 100%;line-height: 34px;font-weight: bold;" ng-if="currentShowIndex==1">
          优惠活动
        </div>
        <div class="text-center" style="width: 100%;line-height: 34px;font-weight: bold;" ng-if="currentShowIndex==2">
          优惠券
        </div>
        <div class="text-center" style="width: 100%;line-height: 34px;font-weight: bold;" ng-if="currentShowIndex==3">
          选择权益卡
        </div>
        <div class="cancelBtn" on-tap="hideModal()"><i class="ion-ios-close-empty color-999 closeBtn fs26"></i></div>
      </ion-header-bar>
      <ion-content class="activityContent" overflow-scroll="false" scrollbar-y="false" style="background: #fff;">
        <div class="pos clearfix" tabs-click="" ng-if="currentShowIndex==1">
          <a class="stap step1" style="width: 50%;" ng-class="activeIndex==0?'active':''">影片活动</a>
          <a class="stap step2" style="width: 50%;" ng-class="activeIndex==1?'active':''">卖品活动</a>
        </div>
        <div class="pos clearfix" tabs-click="" ng-if="currentShowIndex==2">
          <a class="stap step1" style="width: 50%;" ng-class="activeIndex==0?'active':''">影片优惠</a>
          <a class="stap step2" style="width: 50%;" ng-class="activeIndex==1?'active':''">卖品优惠</a>
        </div>
        <ion-slide-box active-slide="slideTo()" show-pager="false" on-slide-changed="slideHasChanged($index)" ng-if="currentShowIndex!=3">
          <ion-slide class="slider-slide-vh myTicketsSlide">

            <div ng-if="currentShowIndex==1" class="row pos mt5" ng-repeat="item in activityInfo">
              <div class="col col-10 {{item.lightingFlag=='N'?'opc':''}}" on-tap="toggleSelect(row,$index)">
                <i style="position: relative;top:2px;color: #998278;" class="icon jyicon fs24">{{item.isActive?'&#xe615;':'&#xe79f;'}}</i>
              </div>
              <div class="col col-80 pr0 text-left {{item.lightingFlag=='N'?'opc':''}}" on-tap="toggleSelect(row,$index)">
                <div class="color-000">{{item.promotionalCopy }} <span ng-if="tuijianActivityInfoId && tuijianActivityInfoId == item.ruleHeaderId" class="tuijian icon jyicon color-red fs24">&#xe69a;</span></div>
                <div class="fs12 mb5 color-999">
                  优惠价:<span class="color-red mr10"> {{item.newPriceincents}}元/张</span>
                  普通价:<span class="commonPrice">{{commonPrice}}元/张</span>
                  <div>有效期：<span class="color-333">{{item.startDateActive | date:'yyyy.MM.dd'}}-{{item.endDateActive | date:'yyyy.MM.dd'}}</span>
                  </div>
                </div>
                <div class="showCon {{item.showCon?'showConActive':''}}" ng-bind-html="item.ruleDesc"></div>
              </div>
              <div class="col col-10" style="position: absolute;top: 20px;right: 0;" on-tap="toggleDetail($index)">
                <div class="arrow-r {{item.showCon?'arrow-r-active':''}}"><i
                        class="{{item.showCon?'ion-ios-arrow-right':'ion-ios-arrow-right'}} color-999"></i>
                </div>
              </div>
            </div>

            <div ng-if="currentShowIndex==2" ng-repeat="item in memberVoucherInfo">
              <div  class="row pos mt5 mb10" ng-repeat="row in item.groupData"
                    style="border-bottom: 0!important;">
                <div class="box yhj-layer-box"  >
                  <div class="yhj-layer-order" ng-class="row.lightingFlag=='N'?'opc':''">
                    <div style="padding-top: 26px">
                      <div class="text-center fs12" ng-class="row.lightingFlag=='N'?'color-d6d6d6':''">{{item.voucherTypeName}}</div>
                    </div>
                  </div>
                  <div class="box1 yhj-layer-order-box">
                    <div class="yhj-layer-radio"   on-tap="toggleSelect(row,$index)">
                      <i class="fs24 icon jyicon" ng-class="row.lightingFlag=='N'?'color-d6d6d6':''">{{row.isActive?'&#xe615;':'&#xe79f;'}}</i>
                    </div>
                    <div class="pt3">
                      <p class="pl0" ng-class="row.lightingFlag=='N'?'color-d6d6d6':''">{{row.voucherDescribe}}*{{row.speciesCodeNum}}张
                        <i class="icon jyicon" ng-click="use(row)">&#xe60e;</i>
                      </p>
                    </div>
                    <!--<p style="color: red;padding-top: 10px">￥{{row.newPriceincents}}</p>-->
                    <div class="box-order-count1" ng-class="row.lightingFlag=='N'?'color-d6d6d6':''" ng-click="decr(row)">
                      <span>-</span>
                    </div>
                    <span class="box-order-sp" ng-class="row.lightingFlag=='N'?'color-d6d6d6':''">{{row.num}}</span>
                    <div class="box-order-count" ng-class="row.lightingFlag=='N'?'color-d6d6d6':''" ng-click="incr(row)">
                      <span>+</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </ion-slide>

          <ion-slide class="slider-slide-vh myTicketsSlide">

            <div ng-if="currentShowIndex==1" class="row pos mt5" ng-repeat="item in activitySalesInfo">
              <div class="col col-10 {{item.lightingFlag=='N'?'opc':''}}" on-tap="toggleSalesSelect(item,$index)">
                <i style="position: relative;top:2px;color: #998278;" class="icon jyicon fs24">{{item.isActive?'&#xe615;':'&#xe79f;'}}</i>
              </div>
              <div class="col col-80 pr0 text-left {{item.lightingFlag=='N'?'opc':''}}" on-tap="toggleSalesSelect(item,$index)">
                <div class="color-000">{{item.promotionalCopy }} <span ng-if="tuijianActivityInfoId && tuijianActivityInfoId == item.ruleHeaderId" class="tuijian icon jyicon color-red fs24">&#xe69a;</span></div>
                <div class="fs12 mb5 color-999">
                  优惠价:<span class="color-red mr10"> {{item.skuArray[0].newPriceincents}}元/个</span>
                  <!--普通价:<span class="commonPrice">{{commonPrice}}元/张</span>-->
                  <div>有效期：<span class="color-333">{{item.startDateActive | date:'yyyy.MM.dd'}}-{{item.endDateActive | date:'yyyy.MM.dd'}}</span>
                  </div>
                </div>
                <div class="showCon {{item.showCon?'showConActive':''}}" ng-bind-html="item.ruleDesc"></div>
              </div>
              <div class="col col-10" style="position: absolute;top: 20px;right: 0;" on-tap="toggleSalesDetail($index)">
                <div class="arrow-r {{item.showCon?'arrow-r-active':''}}"><i
                        class="{{item.showCon?'ion-ios-arrow-right':'ion-ios-arrow-right'}} color-999"></i>
                </div>
              </div>
            </div>

            <div ng-if="currentShowIndex==2" ng-repeat="item in memberVoucherSalesInfo">
              <div  class="row pos mt5 mb10" style="border-bottom: 0!important;">
                <div class="box yhj-layer-box"  >
                  <div class="yhj-layer-order" ng-class="item.lightingFlag=='N'?'opc':''">
                    <div style="padding-top: 26px">
                      <div class="text-center fs12" ng-class="item.lightingFlag=='N'?'color-d6d6d6':''">{{item.voucherTypeName}}</div>
                    </div>
                  </div>
                  <div class="box1 yhj-layer-order-box">
                    <div class="yhj-layer-radio"   on-tap="toggleSalesSelect(item,$index)">
                      <i class="fs24 icon jyicon" ng-class="item.lightingFlag=='N'?'color-d6d6d6':''">{{item.isActive?'&#xe615;':'&#xe79f;'}}</i>
                    </div>
                    <div class="pt3">
                      <p class="pl0" ng-class="item.lightingFlag=='N'?'color-d6d6d6':''">{{item.voucherDescribe}}*{{item.speciesCodeNum}}张
                        <i class="icon jyicon" ng-click="use(item)">&#xe60e;</i>
                      </p>
                    </div>
                    <!--<p style="color: red;padding-top: 10px">￥{{row.newPriceincents}}</p>-->
                    <div class="box-order-count1" ng-class="item.lightingFlag=='N'?'color-d6d6d6':''" ng-click="decrSales(item)">
                      <span>-</span>
                    </div>
                    <span class="box-order-sp" ng-class="item.lightingFlag=='N'?'color-d6d6d6':''">{{item.num}}</span>
                    <div class="box-order-count" ng-class="item.lightingFlag=='N'?'color-d6d6d6':''" ng-click="incrSales(item)">
                      <span>+</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </ion-slide>
        </ion-slide-box>





        <div ng-if="currentShowIndex==3" ng-repeat="row in memberEquityCardInfoData" class="row pos mt5" >
          <div class="col col-10" on-tap="toggleSelect(row,$index)">
            <i ng-class="row.lightingFlag=='N'?'color-d6d6d6':''" style="position: relative;top:14px;color: #998278;" class="icon jyicon fs24">{{row.isActive?'&#xe615;':'&#xe79f;'}}</i>
          </div>
          <div class="col col-80 pr0 text-left" on-tap="toggleSelect3(row,$index)">
            <!--<div class="color-000"> <span class="tuijian icon jyicon color-red fs24">&#xe69a;</span></div>-->
            <div class="fs12 mb5 color-999" ng-class="row.lightingFlag=='N'?'color-d6d6d6':''">
              <p class="fs14 color-333 mt10" ng-class="row.lightingFlag=='N'?'color-d6d6d6':''">{{row.equitycardName}}</p>
              <span class="color-red mr10" ng-show="row.equitycardType=='PASS_EQUITYCARD'"> 剩余使用次数:{{row.equitycardResidue}}</span>
              <div>有效期：<span class="color-333" ng-class="row.lightingFlag=='N'?'color-d6d6d6':''">{{row.startDateActive | date:'yyyy.MM.dd'}}~{{row.endDateActive | date:'yyyy.MM.dd'}}</span>
              </div>
            </div>
            <div class="showCon {{row.showCon?'showConActive':''}}" ng-bind-html="row.ruleDesc"></div>
          </div>
          <div class="col col-10" style="position: absolute;top: 20px;right: 0;" on-tap="toggleEquityCardDetail($index)">
            <div class="arrow-r {{row.showCon?'arrow-r-active':''}}"><i ng-class="row.lightingFlag=='N'?'color-d6d6d6':''" class="{{row.showCon?'ion-ios-arrow-right':'ion-ios-arrow-right'}} color-999"></i>
            </div>
          </div>
        </div>

        <div class="color-999 text-center fs12 pt100" ng-if="currentShowIndex==1 && activityInfo.length==0">
          <div class="mb10"><i class="icon jyicon fs50" style="color: #e0e0e0;">&#xe646;</i></div>
          <div class="color-cacaca">暂无数据</div>
        </div>
        <div class="color-999 text-center fs12 pt100" ng-if="currentShowIndex==2 && memberVoucherInfo.length==0">
          <div class="mb10"><i class="icon jyicon fs50" style="color: #e0e0e0;">&#xe646;</i></div>
          <div class="color-cacaca">暂无数据</div>
        </div>
      </ion-content>
      <ion-footer-bar class="bar bar-footer bar-filter text-center" style="padding: 0;">
        <div class="text-center modalBtn fs16" on-tap="confirm()">确定</div>
      </ion-footer-bar>
    </ion-modal-view>
  </script>
  <script id="activityDetail" type="text/ng-template">
    <div class="modal">
      <ion-header-bar>
        <h1 class="title">使用须知</h1>
      </ion-header-bar>
      <ion-content>
        <div class="detail-p">
          <p ng-repeat="row in rightsMeaningData">{{row}}</p>
        </div>
      </ion-content>
      <ion-footer-bar class="bar bar-footer bar-filter text-center" style="padding: 0;">
        <div class="text-center modalBtn fs16" on-tap="sure()">确定</div>
      </ion-footer-bar>
    </div>
  </script>
</ion-view>
