/* 充值相关样式
 ============================================================================ */
.chongzhi {
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #99827a;
    color: white;
}

/* 搜索框样式
 ============================================================================ */
#searchBox1 {
    margin: 0;
    border: 0;
}

#searchBox1 .item {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 2px 0 0 16px;
}

/* 圆角效果
============================================================================ */
.yuanjiaoxiaoguo {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* 卡号绑定按钮
============================================================================ */
.button-buildCard {
    border-radius: 25px;
    background-color: #998278;
    color: white;
    padding-top: 0px;
    z-index: 999;
}

/* 充值金额样式
============================================================================ */
.money {
    border-color: #ddd;
    background-color: white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* 充值按钮
============================================================================ */
.button-recharge {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #9f8b78;
    color: #ffffff;
}

.item-money {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.row {
    text-align: center;
}

.chongzhilist .h2-position {
    position: absolute;
    right: 20px;
    top: 25px;
}

.chongzhilist .item {
    padding: 10px;
}

/* 充值金额选定效果
============================================================================ */
.money-select {
    background-color: #d4ab92;
}

/* ==========================================================================
   消息中心
 ============================================================================ */

.list-info .item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    white-space: normal;
}

.list-info p {
    float: right;

}

.list-info h2, h3 {
    color: #46423f;
    position: relative;
    top: 10px;
    padding-right: 50px;
    font-size: 16px;
}

.list-info .item {
    padding: 10px;
}

.list-info .info-active {
    padding: 0px 40px;
    background-color: #998278;
    color: white;
}

/*更改某个item的上边框样式*/
.item-cut-topborder {
    border-top-color: #f0eeee;
    border-top-width: 5px;
}

.txtCenter {
    padding-left: 10px;
}

/* ==========================================================================
   我的会员卡
 ============================================================================ */
.vip-home-list p {
    /*color:#ff5715;*/
}

.vipinfo {
    background-color: #998278;
    text-align: center;
}

.vipinfo h2 {
    color: white;
}

.vip-home-list span {
    color: #998278;
}

.bggif {

}

/* ==========================================================================
   卡号绑定
 ============================================================================ */
.buildlist span {
    color: #998278;
}

.buildlist button span {
    color: white;
}

.buildlist .list-inset .item:last-child {
    border-radius: 25px;
    max-height: 37px;
}

.buildlist .placeholder-icon:first-child {
    padding-right: 15px;
}

.buildlist label {
    border: 1px solid #d3ac92;
    margin-bottom: 12px;
    border-radius: 10px;
}

.buildlist .btn-huoqu {
    min-width: 60px;
    min-height: 33px;
    top: -1px;
    right: 1px;
}

.buildlist .list-inset .item.item-input input {
    padding-right: 40px;
}

.buildlist input::-webkit-input-placeholder {
    font-size: 12px;
}

/* ==========================================================================
   帮助中心-购票指南
 ============================================================================ */
.buytickettip {
    padding-top: 0px;
    margin-bottom: -1px;
}

.buytickettip h1 {
    color: #998278;
}

.buytickettip > .item:first-child {
    border-top-color: #f2f2f2;
    border-top-width: 10px;
}

/*.buytickettip >.item:first-child h1{*/
/*border-top-width: 0px;*/
/*}*/

/* 通用自适应高度背景样式 <div class="bottom-bg"></div>
============================================================================ */
.bottom-bg {
    background-size: auto 41px;
    width: 100%;
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 0px;
}

.bottom-re {
    background-size: auto 41px;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
}

/* ==========================================================================
   充值列表
 ============================================================================ */
.recharge-list .row {
    padding-left: 0px;
}

.recharge-list .select-active {
    background-color: #d4ab92;
    border-color: #d4ab92;
    color: white;
}

/* 常见问题
============================================================================ */
.problems-list label {
    border: 1px solid #cecece;
    margin-bottom: 12px;
    border-radius: 25px;
}

.yuanjiao {
    border-radius: 25px;
}

/* 自定义divider 用作分割边线
============================================================================ */
.my-divider {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 10px;
    background-color: #f2f2f2;
}

.infobtns {
    /*background-color: #d3ac92;*/
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
}

/*暂时找不到引用位置*/
.btn-info {
    text-align: center;
}

.btn-info div a {
    display: block;
    width: 50px;
    background-color: #ff5715;
}

/* 通用背景
============================================================================ */

/* 自适应高度背景样式 <div class="bottom-bg"></div> 只是针对于个人中心首页底部背景
============================================================================ */
.personcenter-bottom-bg {
    background-size: auto 41px;
    width: 100%;
    position: absolute;
    top: 362px;
    bottom: 0px;
    left: 0px;
}

.privateletter-pg {
    background-size: auto 41px;
    width: 100%;
    position: absolute;
    top: 56px;
    bottom: 0px;
    left: 0px;
}

.loginbottom-pg {
    background-size: auto 41px;
    width: 100%;
    position: absolute;
    top: 476px;
    bottom: 0px;
    left: 0px;
}

.btn-disabled {

}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 500px;
}

.tonggao-sixin {
    position: relative;
    top: 6px;
    padding-bottom: 7px;
}

.tonggao-sixin.active {
    color: #998278;
    border-bottom: 1px solid #998278;
}



.newselect-city {
    position: absolute;
    left: 12px;
    top: 10px;
    color: white !important;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    width: 82px;
    z-index: 100;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgba(153, 130, 120, 0.5);
    border: 1px solid rgba(248, 248, 248, 0.5);
}
.newselect-city a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60px;
    position: absolute;
    color: white;
    text-align: center;
}
.newselect-city i{
    z-index: 100;
    position: absolute;
    right: 8px;
}
.newscan{
    position: absolute;
    right: 12px;
    top: 10px;
    color: white !important;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    width: 82px;
    z-index: 100;
    border-radius: 20px;
    background-color: rgba(153, 130, 120, 0.5);
    border: 1px solid rgba(248, 248, 248, 0.5);
}
.newhome-banner{
    height: 60px;
    width: 100%;
    position: relative;
    z-index: 100;
    background-color: transparent;
}
.newhome-banner.active{
    background-color:#998278;
}
.newselect-city.active1 {
    background-color: #cccccc30;
}
.newscan.active2 {
    background-color: #cccccc30;
}
.newlogo{
    position: absolute;
    width: 64px;
    height: 70px;
    border: 2px solid #998278;
    border-left: 2px solid transparent;
    border-bottom: 37px solid transparent;
    border-right: 2px solid transparent;
    border-radius: 50%;
    left: 50%;
    top: -33px;
    margin-left: -49px;
    background: white;
}
.sogou{
    position: absolute;
    width: 60px;
    left: 50%;
    margin-left: -28px;
    top: -35px;
}
.accountmember-box1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 4% 0;
    text-align: center;
    font-size: 20px;
    color: #998278;
}
.accountmember-box1 p{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    border-right: 1px solid #998278;
}
.accountmember-box1 p:last-of-type{
    border-right: 0px;
}
.accountmember-box2{
    position: relative;
    top: 10px;
    left: 0px;
    text-align: center;
    width: 100%;
    background: #998278;
}
.hpc-p{
    padding: 5px 25px;
    border-bottom: 1px solid #f8f8f8;
    font-size: 16px;
    border-top: 8px solid #f8f8f8;
}
.hpc-p1{
    padding: 5px;
    border-bottom: 1px solid #f8f8f8;
    margin-left: 10px;
    margin-bottom: -1px;
}
.hpc-new{
    padding-top: 16px;
    width: 25%;
    text-align: center;
}
.feed-ion{
    position: absolute;
    right: -10px;
    top: 18px;
    color: #f5f5f5;
}
.feed-ion1{
    position: absolute;
    top: 18px;
    color: #f5f5f5;
    left: -11px;
    transform: rotate(180deg);
}
.yuan{
    height: 20px;
    width: 20px;
    background: #f2f2f2;
    border-radius: 20px;
    position: absolute;
    right: -11px;
    top: -7px;
}
.yuan1{
    height: 20px;
    width: 20px;
    background: #f2f2f2;
    border-radius: 20px;
    position: absolute;
    bottom: -7px;
    left: -11px;
}
.coupon-ion{
    font-size: 65px;
    color: #ddd;
    margin-left: 20%;
    margin-top: 6px;
}
.coupon-btn{
    height: 22px;
    width: 60px;
    text-align: center;
    background: #998278;
    border-radius: 20px;
    color: white;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: 3px;
}
.coupon-img{
    background: url(../img/coupon.png) no-repeat center;
    background-size: 100%;
}
.yuan2{
    width: 65px;
    height: 65px;
    border: 5px solid #ff571570;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20%;
    position: relative;
}
.yuan2 span{
    font-size: 12px;
    top: 15px;
    left: 4px;
    position: absolute;
    color: #ff5715;
}
.yuan3{
    width: 65px;
    height: 65px;
    border: 5px solid #ff571570;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    top: -5px;
    position: absolute;
    left: -5px;
}
.coupon-sss {

    position:absolute;

    width:70px;

    height:70px;

    border-radius:50%;

}

/* 圆底 */

#circle {
    position: absolute;
    left: 50%;
    margin-left: -30px;
    margin-top: 3px;
    background-color: #ff3262;
}

/* 上半部分 */

.coupon-t{

    clip:rect(0px,auto,35px,auto);

    transform:rotate(30deg);

    background-color:#ff99b1;

}

/* 下半部分 */

#coupon-b{

    clip:rect(35px,auto,auto,auto);
    background-color:#ff99b1;
}

/* 中心白 */

.coupon-p{
    width: 56px;
    height: 56px;
    line-height: 58px;
    left: 7px;
    top: 8px;
    text-align: center;
    border-radius: 50%;
    background-color: #FFFFFF;
    font-size: 12px;
}
/* 圆底 */

#circle1 {
    position: absolute;
    left: 50%;
    margin-left: -30px;
    margin-top: 3px;
    background-color: #ff8700;
}

/* 上半部分 */

.coupon-t1{

    clip:rect(0px,auto,35px,auto);

    transform:rotate(30deg);

    background-color:#ffc37e;

}

/* 下半部分 */

#coupon-b1{
    background-color:white;
    clip:rect(35px,auto,auto,auto);
    background-color:#ffc37e;
}

/* 中心白 */

.coupon-p1{
    width: 56px;
    height: 56px;
    line-height: 58px;
    left: 7px;
    top: 8px;
    text-align: center;
    border-radius: 50%;
    background-color: #FFFFFF;
    font-size: 12px;
}
.category-select{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    color: white;
    text-align: center;
    padding-right: 14px;
    margin-top: 8px;
    padding-left: 10px;
    width: 80px;
}
.category-select i{
    z-index: 100;
    position: absolute;
    right: 3px;
}
.category-div{
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding-right: 24px;
    padding-left: 6px;
}
.schedule-swiper-container .swiper-slide div{
    transition: all ease-in 250ms;
    opacity:.5;
}
.schedule-swiper-container .swiper-slide-active div{
    opacity:1;
}
.schedule-swiper-container .swiper-slide-active div{
    transform: scale(1.2,1.2);
    border:1px solid #fff;
}
.waitspinner {
    text-align: center;
    margin-bottom: 40px !important;
    position: fixed;
    top: 200px;
    z-index: 10000;
    width: 100%;
}
.spinner-balanced.spinner svg {
    width: 19% !important;
    height: 38px !important;
    stroke: #998278;
    fill: #998278;
}


.login-ion{
    position: absolute;
    color: #33cd5f;
    z-index: 2000;
    font-size: 33px;
    left: 45px;
    top: 6px;
}

/*直接登录*/
#phoneWXneedBind{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index:10000;
    background:rgba(0,0,0,.5);
}
#phoneWXneedBind-inner{
    width: 280px;
    height: 280px;
    background: #fff;
    padding: 10px 15px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10001;
    margin-left: -140px;
    margin-top: -150px;
    border-radius: 8px;
}
