<ion-view view-title="活动资讯">
  <ion-header-bar align-title="center">
    <a back-button=""  nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <div class="h1 title">活动资讯</div>
  </ion-header-bar>
  <ion-content scrollbar-y="false" style="margin-bottom: 50px;" >
      <div ng-if="content" style="padding: 12px;" class="articleDetailContent" ng-bind-html="content"></div>
  </ion-content>

  <!--footer-->
  <div class="activity-footer row" ng-if="!joinFlag">
    <div class="col col-60">
      <span><i class="icon jyicon">&#xe621;</i> <span class="fs12">{{currentData.numberOfParticipants}}</span></span>
      <span class="ml10"><i class="icon jyicon">&#xe707;</i>
        <span ng-if="currentData.flag=='NOT_START'"><span class="fs12">{{currentData.leftTime}}</span></span>
        <span ng-if="currentData.flag=='START'"><span class="fs12">{{currentData.leftTime}}</span></span>
          <span ng-if="currentData.flag=='END'">已结束</span>
      </span>
    </div>
    <div class="col col-40">
      <div ng-if="currentData.flag=='NOT_START'" class="joinBtn joinBtn-disabled">未开始</div>
      <div ui-sref="movieDetail({movieId:currentData.sourceNameId})" nav-direction="forward" ng-if="currentData.flag=='START' && currentData.sourceType == 'FILM'" class="joinBtn" style="height:40px;line-height:40px;margin-top:5px;">立即参与</div>
      <div ui-sref="theatreDetail({theatreId:currentData.sourceNameId})" nav-direction="forward" ng-if="currentData.flag=='START' && currentData.sourceType == 'CINEMA'" class="joinBtn" style="height:40px;line-height:40px;margin-top:5px;">立即参与</div>
      <div ui-sref="theatre({movieId:-1})" nav-direction="forward" ng-if="currentData.flag=='START' && currentData.sourceType == 'CINEMA_LIST'" class="joinBtn" style="height:40px;line-height:40px;margin-top:5px;">立即参与</div>
      <div on-tap="goliantong()" ng-if="currentData.flag=='START' && currentData.sourceType == 'CO_ACTIVITY'" class="joinBtn" style="height:40px;line-height:40px;margin-top:5px;">立即参与</div>
      <div on-tap="join()" ng-if="currentData.flag=='START' && currentData.sourceType == 'GUESS'" class="joinBtn" style="height:40px;line-height:40px;margin-top:5px;">立即参与</div>
      <div ng-if="currentData.flag=='END'" class="joinBtn joinBtn-disabled" style="height:40px;line-height:40px;margin-top:5px;">已结束</div>
    </div>
  </div>
  <ion-footer-bar  class="flex" style="z-index:110;height:58px;" ng-if="joinFlag">
    <div class="ping-lun" style="background: #b2b2b2" ui-sref="home" nav-direction="forward" >
      回到首页
    </div>
    <div class="xuan-zuo" on-tap="join()">
      我要参加
    </div>
  </ion-footer-bar>
  <!--手机号码直接注册或登录-->
  <div id="phonelogin" ng-if="needBind">
    <div id="phonelogin-inner">
      <div class="fs16 text-center mb10"><strong>登陆</strong></div>
      <div class="phoneloginWrap">
        <div class="box">
          <div class="box1"><input ng-model="bindPhone.mobileNumber"  maxlength="11" type="tel" placeholder="请输入手机号码"></div>
          <div class="phonelogin_yzm fs12" on-tap="sendYzm()">{{sendYzmFlag}}</div>
        </div>
      </div>
      <div class="phoneloginWrap"><input ng-model="bindPhone.vertifyCode" type="text" placeholder="请输入验证码"></div>
      <label class="item item-input item-input-lg" style="padding: 6px 0 0px 4px;border: 1px solid #ddd;">
        <span class="input-label color-000 fs14">图形码</span>
        <input type="number" ng-pattern="/\d{5}/" maxlength="5" ng-model="bindPhone.captcha1" required placeholder="请输入图形码">
        <div class="mr10" on-tap="getCode()" style="width:140px!important;"><img ng-src="{{yzmCode}}" alt=""/></div>
      </label>
      <div class="mt10"><button style="background: #998278" class="button button-block button-assertive" on-tap="login()">立即登录</button></div>
      <div style="text-align: center;text-decoration: underline;" on-tap="goLogin()">使用其它登录方式</div>
      <div on-tap="hide()" class="icon jyicon fs16" style="border-top-right-radius: 8px;position: absolute;top: 0;right: 0;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 3px 5px;background: #f2f2f2;border-bottom-left-radius: 5px;color: #666;">&#xe651;</div>
    </div>
  </div>
</ion-view>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?47d95162436213ec93dd9fa3aada82a1";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<!--<script>-->
  <!--var _hmt = _hmt || [];-->
  <!--(function() {-->
    <!--var hm = document.createElement("script");-->
    <!--hm.src = "https://hm.baidu.com/hm.js?a44b0f70abf543e4a7ab8f16dcef8b50";-->
    <!--var s = document.getElementsByTagName("script")[0];-->
    <!--s.parentNode.insertBefore(hm, s);-->
  <!--})();-->
<!--</script>-->

