<ion-view view-title="关于我们">
    <ion-header-bar class="calm-border" align-title="center">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">金逸影院用户注册协议</div>
    </ion-header-bar>
    <ion-content>
        <div class="pl15 jyAgreeMent pr15 pt10 pb30">
            <h2>一.网站服务协议</h2>
            <p>1.总则</p>
            <p>金逸网站（网址为www.jycinema.com，简称金逸）为广州金逸影视传媒股份有限公司（简称本公司）经营的网站。用户（您）登陆和使用金逸网站即表示您同意并接受本服务条款，包括载于金逸特定部分并适用于金逸指定部分的附加条款、协议、声明等。</p>
            <p>2.链接和第三方网站</p>
            <p>金逸网站上的链接服务，纯粹为方便用户而提供。用户使用该等链接，便会离开金逸，并须受该等第三方网站所载条款的约束。这些链接的站点、网站不受金逸的控制，金逸对任何与本站链接网站的内容不负责任。</p>
            <p>3.版权</p>
            <p>金逸包含之所有内容，包括但不限于，文本、图形、LOGO、创意、及软件等之所有权归属金逸及金逸的内容/信息提供者，并受中国及国际版权法的保护。对金逸上所有内容之复制（意指收集、组合和重新组合），金逸享有排他权并受中国及国际版权法的保护。金逸使用的所有软件的所有权归属于金逸或它的软件供应商，并受中国及国际版权法的保护。在金逸上的内容和软件可以用作信息获取网上交易及网上拍卖的信息资源，对金逸该等内容的任何其他使用，包括再造、修改、发布、转发、再版、演示或播出等被严格禁止。</p>
            <p>4.商标</p>
            <p>金逸及其他专属于金逸的图形、图片、图表、声音、创意、LOGO和服务名称、标识等均受相关法律保护，该等商标、域名、专有名称、标识等不能在任何非属金逸的产品或服务上进行可能引起客户混淆或歧义的使用，或以任何曲解或诋毁金逸之形式使用。</p>
            <p>5.网站使用</p>
            <p>金逸及其任何组成部分不得被再造、复制、抄袭、交易，或为任何未经金逸允许的商业目的所使用。如果金逸确定客户行为违法或有损其网站和企业的利益，则金逸及其关联企业将保留，包括但不限于拒绝提供服务、冻结会员专有账户和/或取消定单的权利。</p>
            <p>金逸在此郑重提请您注意，任何经由金逸提供的服务以上载、张贴、发送即时信息、电子邮件或任何其他方式传送的文字、视频、音频等（以下简称“内容”），无论系公开还是私下传送，均由内容提供者承担责任。金逸不保证内容的合法性、正确性、完整性、真实性或品质。您已预知使用金逸提供的服务时，可能会接触到令人不快、不适当或令人厌恶之内容，并同意将自行判断并承担所有风险，而不依赖于金逸。但在任何情况下，金逸有权依法停止传输任何前述内容并采取相应行动，包括但不限于暂停用户使用金逸提供的服务的全部或部分，保存有关记录，并向有关机关报告。但金逸有权(但无义务)依其自行之考量，拒绝和删除可经由金逸提供的服务提供之违反本条款的或其他引起金逸或其他用户反感的任何内容。</p>
            <p>6.评论</p>
            <p>金逸允许访问客户将其对产品的评论在金逸上发表个性化意见。如果您在金逸上发表评论，您即授权金逸及其关联企业在世界范围内的任何媒体上享有非排他的、永久的、不可更改的及完全的权利去使用、重新加工、修改、采用、出版、翻译、派生、分发及播出该评论。您同时授权金逸及其关联企业授权使用者可以引用您发表评论时的署名，并可以附您发表的评论。</p>
            <p>7.用户的守法义务及承诺</p>
            <p>您承诺绝不为任何非法目的或以任何非法方式使用本网站服务，并承诺遵守相关国家和地区的法律规定。您同意并保证不得利用金逸所提供的服务从事侵害他人权益或违法之行为，否则，由此引起的一切法律后果和责任，均由您承担。</p>
            <p>8.服务变更、中断或终止及服务条款的修改</p>
            <p>金逸特别提请用户注意，金逸拥有经或未经事先通知而修改服务内容、中断或中止部分或全部服务的权利。如果出现修改服务内容、中断或中止部分或全部服务的情形，金逸将公布于金逸相关页面上，一经公布视为通知。金逸对因此给用户或任何第三方造成的损失不负责任。金逸对本服务条款保留修改权。服务条款内容以金逸上最新公布的为准。如果用户不同意所改动的内容，用户应主动取消此项服务。如果用户继续使用服务，则视为接受服务条款的变动。</p>
            <p>9.法律适用和争议解决</p>
            <p>本服务条款适用中华人民共和国法律。因本服务条款引致的任何纠纷，用户和本公司均应友好协商解决，协商不成的，应提交本公司住所地有管辖权的人民法院通过诉讼解决。</p>

            <h2>二.会员服务协议</h2>
            <p>1.总则</p>
            <p>1.1本协议是用户（您）与广州金逸影视传媒股份有限公司（简称本公司）之间订立的关于您享受本公司经营之网站——金逸电影（网址为www.jycinema.com）为您提供的电影票及其他产品网上销售服务的协议。</p>
            <p>1.2您通过金逸电影或者金逸电影提供的其他途径注册为金逸电影会员（简称会员），即表示您同意接受本协议的约束。</p>
            <p>2.金逸电影的性质</p>
            <p>金逸电影仅为销售服务提供者，而非银行或任何其他形式的金融机构。</p>
            <p>3.会员注册</p>
            <p>用户可以通过以下两种途径注册为金逸电影会员：</p>
            <p>（一）线上注册</p>
            <p>登陆金逸电影，按照金逸电影上指定的流程和要求申请注册为金逸电影会员，并获得一个专属于用户自己的会员账户。</p>
            <p>（二）线下申请</p>
            <p>用户在金逸电影指定的地点办理并领取金逸电影会员卡即成为金逸电影会员。金逸电影为会员办理会员卡，将收取工本费人民币20元整，该工本费在会员办理会员卡退卡时不予退还。金逸电影可以根据实际情况调整手续费收费标准。</p>
            <p>（三）网上账户与会员卡绑定使用
            <p>在金逸电影注册的会员可以在金逸电影指定的地点申请办理会员卡，与网上账户绑定使用，唯须按照金逸电影确定的标准缴纳会员卡办理手续费，该等手续费在办理会员卡退卡时不予退还。</p>
            <p>4.会员账户/会员卡充值</p>
            <p>4.1充值方式</p>
            <p>会员可以通过以下两种途径对会员账户及会员卡进行充值：</p>
            <p>（一）线上充值</p>
            <p>在金逸电影上通过金逸电影提供的充值平台充值。</p>
            <p>（二）线下充值</p>
            <p>在金逸电影指定的地点使用现金或金逸电影提供的其他支付工具充值。</p>
            <p>4.2您在会员账户或会员卡中充入的充值款项是您在金逸电影消费的预付款。</p>
            <p>4.3充值限额</p>
            <p>会员账户和会员卡充值的最低限额和最高限额分别为 100 元和 1000元。金逸电影可根据实际情况调整该等限额。</p>
            <p>5.会员账户和会员卡管理</p>
            <p>5.1用户应妥善保管自己的会员网上账户信息，采取必要措施防止账户信息泄露、被盗。如果发生会员账户信息泄露、被盗的，请及时告知金逸电影，以便金逸电影进行相关账户使用权的暂停操作。</p>
            <p>5.2用户应妥善保管会员卡，以免发生会员卡丢失、破损、折曲、被盗等情形。如果会员卡丢失、被盗，用户应及时通知金逸电影并办理挂失手续。挂失手续完成后，金逸电影将停止该会员卡的使用并予以注销，用户应在金逸电影指定的期限内办理补卡手续，并按照金逸电影规定缴纳补卡所需手续费。用户会员卡破损、折曲影响到正常使用的，用户应将破损、折曲会员卡交至金逸电影，并及时办理补卡手续，缴纳补卡所需手续费。已注销/破损、折曲的会员卡里的剩余款项将自动转入补办的会员卡中。</p>
            <p>5.3用户不得以任何方法擅自改动会员账户和会员卡所储存的软件及数据。</p>
            <p>5.4如因用户改动或干扰或容许第三方改动或干扰会员账户和会员卡上数据引致本公司和/或金逸电影蒙受或产生任何费用、支出、损失或损害，本公司有权追收合理的费用、支出、损失或损害。</p>
            <p>5.5本公司的职员、本公司授权之代表，均有权在任何合理时间检查会员卡，包括会员卡的数据。</p>
            <p>5.6会员卡所包含之任何文本、图形、LOGO、创意、及软件等之所有权归属本公司所有。</p>
            <p>5.7用户须保证在注册会员、办理金逸电影会员卡过程中向金逸电影提交的资料的真实性、准确性和完整性，一旦用户个人资料（包括但不限于联系地址）发生变化，用户须在第一时间通知金逸电影。</p>
            <p>5.8若用户存在倒卖会员卡或倒票等行为，影城有权冻结该会员卡及个人账号。</p>
            <p>5.9用户不得利用会员卡和/或金逸电影向您提供的服务从事任何侵害他人合法权益、社会公共利益以及违反相关法律规定的活动。</p>
            <p>6.交易纪录</p>
            <p>用户在金逸电影的交易纪录，将由本公司稳妥保存。本公司只会向以下人士披露用户的任何交易纪录：</p>
            <p>a.对本公司有保密责任的有关服务商；</p>
            <p>b.履行任何具司法管辖权法院或有关监管机构所发出而本公司须遵行的命令；</p>
            <p>c.任何对本公司有保密责任的其他人士，藉此本公司得以维持金逸电影的正常管理、运作及保养；</p>
            <p>d.任何代理人、承办商或对本公司有保密责任并向本公司提供与本公司业务运作有关的行政、电讯、计算机、付款、数据处理或其它服务的第三方服务供货商；</p>
            <p>e.任何对本公司有保密责任的其它人，包括本公司的附属公司、关联公司及商务伙伴。</p>
            <p>7.退票和换票</p>
            <p>在金逸电影没有任何违约的情况下，您在金逸电影购买的电影票及其他产品概不退换。一旦您在金逸电影选座并确定支付后，即视为您已完成电影票的购买，您不能再主张退票或换票，但因金逸电影和影院的原因导致电影确实无法观看的除外。</p>
            <p>8.合同的转让</p>
            <p>您同意并确认，金逸电影可以在未事先通知您的前提下，将本协议中金逸电影享有的权利和/或承担的义务部分或全部转让给第三方，而您届时须根据本协议或修改后的服务条款之规定向该第三方履行您的义务。</p>
            <p>9.费用与收费</p>
            <p>本公司的费用及收费，可在金逸电影查阅。</p>
            <p>10.协议的修改</p>
            <p>10.1金逸电影有权不时修改本服务条款，但应事先在金逸电影刊登通知。服务条款内容以金逸电影当期公布的为准。若用户不同意所改动的内容，用户应主动取消此项服务；若用户继续使用金逸电影服务，则视为接受服务条款的变动。</p>
            <p>10.2有关修订须于该通知上所载的日期生效。</p>
            <p>10.3有关修订将适用于用户，除非用户于修订生效之前将会员资格注销。</p>
            <p>10.4本协议的最新版本，可于金逸电影查阅。</p>
            <p>11.法律适用和争议解决</p>
            <p>本协议适用中华人民共和国法律。因本协议引致的任何纠纷，用户和本公司均应友好协商解决，协商不成的，应提交本公司住所地有管辖权的人民法院通过诉讼解决。</p>

            <h2>三.隐私条款</h2>
            <p>1.总则</p>
            <p>1.1广州金逸影视传媒股份有限公司（简称本公司）及金逸尊重用户（您）的隐私，明白访问金逸、使用金逸提供的服务的用户个人隐私的重要性。本公司将收集及储存这些数据以便向用户更有效地提供服务。个人资料及隐私条款声明是为使用户了解本公司收集的个人资料的类型以及处理个人数据的方法而制定。</p>
            <p>1.2本条款所述“个人资料”是指本公司持有之任何有关用户个人信息及数据，包括用户注册会员及申请会员卡所提交、填写之一切数据。</p>
            <p>2.本公司的政策</p>
            <p>本公司将按照中华人民共和国相关法律、法规规定收集、储存、传送及使用用户的所有个人资料，本公司员工将对该等个人资料保密，并妥善保存。</p>
            <p>3.个人资料类别</p>
            <p>出于本公司运营目的，本公司可能会要求用户提供下列个人资料。若用户未能提供该等资料，本公司无法满足用户的服务要求。此类资料包括但不限于：</p>
            <p>a.用户的姓名；</p>
            <p>b.联络信息，包括联络人姓名及电话号码或电邮地址；</p>
            <p>c.用以核对身份的数据，包括身份证明文件类别及号码；</p>
            <p>d.用户的年龄及出生日期；</p>
            <p>e.本公司根据实际需要的其他有关信息。</p>
            <p>4.个人资料使用用途</p>
            <p>4.1持有人的个人资料可作下列用途：</p>
            <p>a.处理本公司任何一项服务的申请；</p>
            <p>b.金逸收费系统的正常管理、运作及保养，包括审计在内；</p>
            <p>c.涉及本公司、其附属公司及关联公司（即直接或间接控制本公司、本公司所控制或与本公司隶属同 一控制权的任何其它实体）供客户使用而提供的新服务，或改善现有服务；</p>
            <p>d.推广本公司、其附属公司、关联公司或任何选定商务伙伴的货品或服务。本公司、其附属公司、关联公司或任何选定商务伙伴可能需要进行核对程序，藉此让本公司更明白用户的特质及提供更能满足用户需要的其它服务（如提供特别生日推广活动给予用户），协助本公司选择用户可能有兴趣的货品及服务，以及确立用户与本公司选定商务伙伴是否已建立关系；</p>
            <p>e.本公司与用户进行通讯；</p>
            <p>f.调查投诉、备受怀疑的可疑交易及研究服务改善措施；</p>
            <p>g.防止及侦测罪行；</p>
            <p>h.根据相关法律规定做出披露；</p>
            <p>i.其它相关用途。</p>
            <p>4.2本公司会依您的要求，不将您个人资料作为直销推广之用。如您不想收取本公司的直销函件，请致函本公司予以取消。</p>
            <p>4.3除非您特别申明，本公司可将所收集的用户个人资料用作一般市场业务推广之用。</p>
            <p>5.个人资料保管</p>
            <p>本公司将妥善保管载有个人资料数据的相关记录。</p>
            <p>如您在网上递交您的个人数据，您的个人数据在传送期间有可能在您不知悉或未经您同意的情况下被第三者拦截或擅自改动。本公司不会就您的个人数据被拦截或擅自改动而负任何责任。倘您对此等风险感到不安，请不要在网上提供任何个人数据。</p>
            <p>6.查询及修改个人资料</p>
            <p>6.1您可根据相关法律规定：</p>
            <p>a.确定本公司是否持有关于您个人的个人资料，并且 ( 如有) 取得该等资料的副本；</p>
            <p>b.要求本公司改正关于您个人的不准确的个人资料以达到使用该等资料的目的。</p>
            <p>6.2个人资料如何查询</p>
            <p>主页面右上角点击进入“用户中心”可以查询到个人资料。</p>
            <p>7.其他网站链接</p>
            <p>金逸可不时在其网站内加载其他网站的链接。请注意，当您使用金逸内的链接，本公司不会就您进入这个链接的网站负责。这些网站的个人数据私隐政策声明可能与我们的政策有出入，故我们建议您阅读这些网站的个人资料私隐政策声明。</p>
            <p>8.个人资料私隐政策的更改</p>
            <p>本公司保留其权利，在任何时间及没有通知的情况下，加入、更改、更新或修订本个人数据私隐政策声明，这些更改、更新或修订会登载在金逸内，故您可知悉本公司收集了什么资料、如何使用这些数据及在什么情况下会披露这些数据。任何这些更改、更新或修订会在登载于金逸后实时生效。</p>

            <h2>四.免责申明</h2>
            <p>1.您（用户）保证您所提交的资料的真实性、准确性及完整性，并且您应采取必要措施保护您的密码及账号信息的安全。如果您的任何资料发生变化，您应及时更改。因您的主观过错或者过失导致的任何损失由您自行承担，该过错或者过失包括但不限于：不按照交易提示操作，未及时进行交易操作，遗忘密码，泄漏密码，密码被他人破解，您使用的计算机被他人侵入等，金逸对此不承担任何责任。</p>
            <p>2.金逸对服务之及时性、安全性、准确性不作担保，用户须承担因不可抗力、计算机病毒或黑客攻击、系统不稳定、通信线路原因等造成的服务中断或不能满足用户要求的风险，金逸对因此导致用户不能发送和接受阅读消息或传递错误、未予储存或其他问题不承担任何责任。</p>
            <p>3.如金逸的系统发生故障影响到金逸所提供服务的正常运行，金逸承诺在第一时间内与相关单位配合，及时处理进行修复。此外，金逸保留不经事先通知为维修保养、升级或其他目的暂停提供金逸服务的权利。</p>
        </div>
    </ion-content>
</ion-view>
