<ion-view view-title="积分商城">
    <ion-header-bar class="calm-border" align-title="center">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">金逸积分商城</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false" class="pt10" ng-class="categoryListData.length!=0?'bg-f2f2f2':''" >

        <div class="color-999 text-center fs12 pt100" ng-if="categoryListData.length==0">
            <div class="color-cacaca">敬请期待...</div>
        </div>

        <div class="flex flexBox pos" style="min-height: 200px;" ng-if="categoryListData.length!=0" >
            <div class="flex-50" ng-repeat="item in categoryListData" ui-sref="pointProductDetail({'skuId':{{item.skuId}}})" nav-direction="forward">
                <div class="flexBoxInner {{$index%2==0?'flexBoxInner-r':'flexBoxInner-l'}} ">
                    <div style="width: 135px;height: 145px;">
                        <img ng-src="{{item.appAbbImg}}" alt="">
                    </div>
                    <div class="fs14 color-000 mb5" style="height: 20px;overflow:hidden;">{{item.titleAlt}}</div>
                    <div class="box">
                        <div class="color-ff5715">
                            <strong class="fs15">{{item.pointsExPoint}}积分</strong>
                            <strong class="fs15" ng-if="item.pointsExPrice">+{{item.pointsExPrice/100 | currency:'¥'}}</strong>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box1  color-999 fs14">月售：{{item.monthSale?item.monthSale:0}}</div>
                    </div>
                </div>
            </div>
            <!--<ion-spinner class="spinLoading" icon="ios-small" ng-if="!specialOfferData"></ion-spinner>-->
        </div>
        <!--<div ng-if="((currentPage-1)*pageSize+specialOfferData.length)<total" class="text-center pb30 mt20" ng-click="getMore()"><a>查看更多</a></div>-->

    </ion-content>

</ion-view>
