<ion-view view-title="文章详情">
    <ion-header-bar align-title="center">
        <a ng-if="!shareCode" back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <a ng-if="shareCode" ui-sref="forum" nav-direction="none" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">资讯</div>
        <!--<span class="scan" on-tap="showShare($event)"><i class="ion-android-share-alt fs24"></i></span>-->
    </ion-header-bar>
    <ion-content scrollbar-y="false" scroll="true" overflow-scroll="true" style="background: white"  on-scroll="scrollContent()">
        <div  ng-if="articleFlag">
        <div ng-if="articleDetailData" class="articleDetailBanner pos">
            <img ng-src="{{articleDetailData.url}}" alt=""/>
            <div class="tui-jian">
                <span class="ml10 mr10"> 推荐度：{{articleDetailData.degree}}</span>
            </div>
        </div>
        <div ng-if="articleDetailData" class="article-content" style="padding-bottom: 10px">
            <h2 class="fs18 color-000 pt10 pb10 mb0">{{articleDetailData.articleTitle}}</h2>
            <div class="fs12" style="height: 20px;overflow: hidden" ng-if="strs.length>0">
                <span class="articleFlag" ng-repeat="item in strs">{{item}}</span>
            </div>
            <div class="row fs12 pd0 mb10" style="border-bottom: 1px solid #ddd;">
                <div class="col text-left color-999" style="white-space: nowrap;">
                    {{articleDetailData.articleAuthor}} <span>{{articleDetailData.articlePublishDate | date:'yyyy-MM-dd HH:mm'}}</span>
                </div>
                <div class="col text-right color-999">
                    阅读({{articleDetailData.articleReadNumber}})
                </div>
            </div>
            <div class="articleDetailContent" ng-bind-html="articleDetailData.articleContent"></div>
            <div class="box">
                <div class="box1 text-left">
                    <i class="icon jyicon fs18" on-tap="updateFabulous(articleDetailData)" ng-if="articleDetailData.isFabulous=='N'">&#xe662;</i>
                    <i class="icon jyicon fs18" on-tap="updateFabulous(articleDetailData)" style="color: #ff5715"  ng-if="articleDetailData.isFabulous=='Y'">&#xe8c6;</i>
                    <span class="fs15 mr10">{{articleDetailData.fabulous?articleDetailData.fabulous:0}}</span>
                    <i class="icon jyicon fs15">&#xe63c;</i>
                    <span class="fs15">{{articleDetailData.commentCount?articleDetailData.commentCount:'0'}}</span>
                </div>
                <div class="box1 text-right">
                    <span class="fs12">{{articleDetailData.creationDate}}</span>
                </div>
            </div>
        </div>

        <div class="gap"></div>
        <div class="yingp-p" ng-if="filmMessageData.length>0">
            <p>影片购票</p>
        </div>
        <div class="flex"  ng-repeat="item in filmMessageData">
            <div class="article-img">
                <img ng-src="{{item.url}}" style="height: 80px">
            </div>
            <div style="width: 50%;margin-top: 12px;">
                <p class="fs14" style="height: 20px;overflow: hidden;" >{{item.filmName}}</p>
                <!--<div class="theatreIcon" style="margin-top: 5px">-->
                    <!--<i class="icon iconfont">&#xe686;</i>-->
                    <!--<i class="icon iconfont">&#xe63a;</i>-->
                <!--</div>-->
                <div class="theatreIcon" style="margin-top: 5px">
                    <i class="icon iconfont" ng-repeat="subItem in item.screenTypeCode" ng-bind-html="subItem.code"></i>
                </div>
                <div style="height: 20px;overflow: hidden;font-size: 12px">{{item.actorList}}</div>
            </div>
            <div class="article-goupiao" ui-sref="theatre({movieId:'{{item.filmId}}'})" nav-direction="forward">
                购票
            </div>
        </div>
        <div class="gap" ng-if="filmMessageData.length>0"></div>
        <div class="yingp-p" ng-if="ActivityGuidanceInfoData.length>0">
            <p>影片活动</p>
        </div>
        <div style="padding: 10px;border-bottom: 1px solid #ddd;position: relative;overflow: hidden;" ng-repeat="item in ActivityGuidanceInfoData" ui-sref="activityDetail({activityGroupId:item.activityGroupId})" nav-direction="forward">
            <div class="hui">惠</div>
            <div class="fs15 ml10">{{item.activityGroupName}}</div>
            <div class="fs13 mt10" >活动时间：{{item.startDateActive | date:'yyyy-MM-dd'}}~{{item.endDateActive| date:'yyyy-MM-dd'}}</div>
            <div class="activityItems-dec color-666 mt10">
                <div class="pos text-right activityItems-dec">

                    <div class="text-left jyAct-num"><i class="icon jyicon mr5 fs14">&#xe62c;</i>{{item.numberOfParticipants}}人参与</div>
                    <i class="icon jyicon fs14">&#xe61c;</i>
                    <span>{{item.leftTime}}</span>
                    <!--<span ng-if="item.flag=='NOT_START'">{{item.leftTime}}</span>-->
                    <!--<span ng-if="item.flag=='START'">{{item.leftTime}}</span>-->
                    <!--<span ng-if="item.flag=='END'">{{'已结束'}}</span>-->

                </div>
            </div>
            <div style="position: absolute;right: 3%;top: 40%;">
                <i class="icon jyicon fs24">&#xe61d;</i>
            </div>
        </div>
        <div class="gap" ng-if="ActivityGuidanceInfoData.length>0"></div>
        <!--<div class="yingp-p">-->
        <!--<p>有奖问答</p>-->
        <!--</div>-->
        <!--<div class="flex">-->
        <!--<div class="article-youjiang">-->
        <!--<img src="./img/yingping.jpg" style="height: 90px">-->
        <!--</div>-->
        <!--<div style="width:54%;margin-top: 10px;margin-left: 8px;">-->
        <!--<div class="fs14 mt10" style="height: 40px;overflow: hidden">金逸有奖问答来了，欢迎各位金逸的小伙伴前来围观！！！</div>-->
        <!--<div class="fs12 mt10" style="height: 20px;overflow: hidden">活动时间：2017-10-19~2019-10-10</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="gap"></div>-->
        <div class="yingp-p" ng-if="artData.length>0">
            <p>相关文章</p>
        </div>
        <!--<div class="flex" ng-repeat="item in artData" ui-sref="articleDetail({id:'{{item.articleId}}'})" nav-direction="forward">-->
            <!--<div class="article-youjiang">-->
                <!--<img ng-src="{{item.url}}" style="height: 90px">-->
            <!--</div>-->
            <!--<div style="width: 54%;margin-top: 10px;margin-left: 8px;">-->
                <!--<div class="fs14 mt10" style="height: 40px;overflow: hidden">{{item.articleTitle}}</div>-->
                <!--<div class="fs12 mt10 " style="height: 20px;overflow: hidden">{{item.date}}<span class="articleFlag">阅读</span></div>-->
            <!--</div>-->
        <!--</div>-->
            <div  class="list pt10 mb0" style="position: relative" ng-repeat="item in artData">
                <div class=" box" ui-sref="articleDetail({id:'{{item.articleId}}'})" nav-direction="forward">
                    <div class="defaultBg-jytj" style="margin-left: 4px;margin-right: 4px">
                        <img ng-src="{{item.url}}" >
                    </div>
                    <div class="box1 tuijianCon">
                        <div class="forum-title">{{item.articleTitle}}</div>
                        <div class="forum-sp">
                            <span class="articleFlag" ng-repeat="row in item.strs">{{row}}</span>
                        </div>
                        <div class="box">
                            <div class="box1 text-left" style=" height: 20px;overflow: hidden;">
                                <span class="fs12">{{item.date}}</span>
                            </div>
                            <div class="box1 text-right" style="margin-left: -20px">
                                <i class="icon jyicon">&#xe601;</i>
                                <span class="fs12">{{item.fabulous}}</span>
                                <i class="icon jyicon">&#xe63c;</i>
                                <span class="fs12">{{item.commentCount}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        <div class="gap" ng-if="artData.length>0"></div>
        <div class="yingp-p">
            <p>说说</p>
        </div>
        <div class="yingp-box" ng-repeat="item in commentFilmDetailData">
            <div class="row" style="padding-bottom: 0px;margin-left: -8px">
                <div class="col col-20" style="margin-right: -14px" ui-sref="homePage({'memberId':{{item.memberId}}})" nav-direction="forward">
                    <img src="./img/user.png" style="width: 60%;;border-radius: 28px;" ng-if="!item.logoImageUrl">
                    <img ng-src="{{item.logoImageUrl}}" style="width: 60%;;border-radius: 28px;" ng-if="item.logoImageUrl">
                </div>
                <div class="col col-60 text-left">
                    <p>{{item.memberName}}</p>
                    <p class="fs12" ng-if="item.date!='今天'">{{item.date}}天前</p>
                    <p class="fs12" ng-if="item.date=='今天'">{{item.date}}</p>
                    <!--<div class="flex" style="width: 60px;">-->
                    <!--<div style="width: 20%" ng-repeat="item in starArray" >-->
                    <!--<img style="" ng-src="{{item.src}}"/>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="col col-20 ml30"  style="position: relative">
                    <i class="icon jyicon fs20" ng-click="showList(item,$event)">&#xe658;</i>
                    <div class="article-search-layer {{item.showFlag?'active':''}}">
                        <div class="flex">
                            <div class="flex-33" style="color: white" ng-repeat="row in item.searchList" on-tap="getFilter(item,row)">
                                <i class="icon jyicon" ng-bind-html="row.icon"></i>
                                {{row.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="film-detail mb10" style="height: auto;" >-->
                <!--<div class="san-jiao">-->
                    <!--<span></span>-->
                <!--</div>-->
                <!--<div style="color: #aaa">回复{{item.viceMemberName}}:</div>-->
                <!--<div style="margin-top: 6px">{{item.viceContent}}</div>-->
            <!--</div>-->
            <div class="film-detail mb10" style="height: auto;" ng-if="item.viceMemberId">
                <div class="san-jiao">
                    <span></span>
                </div>
                <div style="color: #aaa">回复{{item.viceMemberName}}:</div>
                <div style="margin-top: 6px">{{item.viceContent}}</div>
            </div>
            <div class="yingp-div" style="height: 100%;padding-left: 0px;margin-left: 15%;">
                {{item.content}}
            </div>
            <div class="flex" style="padding-left: 15%; padding-right: 6%;">
                <div class="fs12" style="width: 50%">
                    <span>赞 ({{item.fabulous?item.fabulous:0}})</span>
                </div>
                <div class="fs12" style="width: 50%;text-align: end" >
                    <span class="">{{$index+1}}楼</span>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="!noMorePage&&commentFilmDetailData" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
        <div ng-if="noMorePage&&!noDataFlag" class="text-center pd20">暂无更多评论</div>
        <div class="text-center mt30" ng-if="!commentFilmDetailData">
            <i class="icon jyicon fs40 color-cacaca">&#xe656;</i>
            <p class="mt10">还没有人评论，赶快来抢沙发~</p>
        </div>

        <div style="height: 60px;"></div>

        </div>
        <!--<div style="position: absolute;left: 50%;top: 40%;margin-left: -14px;" ng-if="!articleFlag">-->
            <!--<ion-spinner icon="ios-small"></ion-spinner>-->
        <!--</div>-->
    </ion-content>
    <ion-footer-bar class="flex pb10" style="height: auto !important; background: #f8f6f3;" id="comment" ng-show="!joinFlag">
        <textarea class="textarea" ng-model="comment" id="abc" placeholder="{{text}}"></textarea>
        <div class="fa-song" on-tap="save()" ng-if="comment">
            发表
        </div>
        <div class="fa-song" style="background: #b2b2b2;" ng-if="!comment">
            发表
        </div>
    </ion-footer-bar>
    <ion-footer-bar  class="flex" style="z-index:110;height:58px;" ng-if="joinFlag">
        <div class="ping-lun" style="background: #b2b2b2" ui-sref="home" nav-direction="forward" >
            回到首页
        </div>
        <div class="xuan-zuo" on-tap="join()">
            我要参加
        </div>
    </ion-footer-bar>
    <!--<ion-footer-bar ng-if="status=='HOT' && movieId" align-title="center" style="padding: 12px 15px;z-index:110;height:68px!important;">-->
        <!--<button ui-sref="theatre({movieId:'{{movieId}}'})" nav-direction="forward" class="button button-select fs16">选座购票</button>-->
    <!--</ion-footer-bar>-->
    <script id="templates/modal4.html" type="text/ng-template">
        <style>
            .modal-backdrop, .modal-backdrop-bg{
                top: auto!important;
                bottom: 0;
                z-index: 100;
                max-height:170px;
            }
            .modal-backdrop .modal-wrapper{
                max-height:100%;
                height: 100%;
            }
        </style>
        <ion-modal-view class="layer">
            <ion-content overflow-scroll="false" scrollbar-y="false">
                <!-- 分享朋友 -->
                <div class="pt10">
                    <h2 class="text-center fs16 mb20">分享给朋友</h2>
                    <div class="row" style="border-bottom: 1px solid #f5f5f5;">
                        <div class="col" on-tap="shareWechat()">
                            <div><i class="icon iconfont fs40" style="color: #4caf50;">&#xe693;</i></div>
                            <p class="mt5">微信</p>
                        </div>
                        <div class="col" on-tap="shareWechatFriend()">
                            <div><i class="icon iconfont fs40" style="color: #00bcd4;">&#xe694;</i></div>
                            <p class="mt5">朋友圈</p>
                        </div>
                        <div class="col" on-tap="shareWeibo()">
                            <div><i class="icon iconfont fs40" style="color: #ff9800;">&#xe641;</i></div>
                            <p class="mt5">新浪微博</p>
                        </div>
                        <div class="col" on-tap="shareQq()">
                            <div><i class="icon iconfont fs40" style="color: #03a9f4;">&#xe63e;</i></div>
                            <p class="mt5">QQ</p>
                        </div>

                    </div>
                    <div ng-click="hideShare($event)" class="text-center fs14 pt10 pb10 color-666">取消</div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>

    <!--手机号码直接注册或登录-->
    <div id="phonelogin" ng-if="needBind">
        <div id="phonelogin-inner">
            <div class="fs16 text-center mb10"><strong>登陆</strong></div>
            <div class="phoneloginWrap">
                <div class="box">
                    <div class="box1"><input ng-model="bindPhone.mobileNumber"  maxlength="11" type="tel" placeholder="请输入手机号码"></div>
                    <div class="phonelogin_yzm fs12" on-tap="sendYzm()">{{sendYzmFlag}}</div>
                </div>
            </div>
            <div class="phoneloginWrap"><input ng-model="bindPhone.vertifyCode" type="text" placeholder="请输入验证码"></div>
            <label class="item item-input item-input-lg" style="padding: 6px 0 0px 4px;border: 1px solid #ddd;">
                <span class="input-label color-000 fs14">图形码</span>
                <input type="number" ng-pattern="/\d{5}/" maxlength="5" ng-model="bindPhone.captcha1" required placeholder="请输入图形码">
                <div class="mr10" on-tap="getCode()" style="width:140px!important;"><img ng-src="{{yzmCode}}" alt=""/></div>
            </label>
            <div class="mt10"><button style="background: #998278" class="button button-block button-assertive" on-tap="login()">立即登录</button></div>
            <div style="text-align: center;text-decoration: underline;" on-tap="goLogin()">使用其它登录方式</div>
            <div on-tap="hide()" class="icon jyicon fs16" style="border-top-right-radius: 8px;position: absolute;top: 0;right: 0;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 3px 5px;background: #f2f2f2;border-bottom-left-radius: 5px;color: #666;">&#xe651;</div>
        </div>
    </div>
</ion-view>