<ion-view view-title="幸运大转盘">
  <!--<script src="js/vconsole.min.js"></script>
  <script>
      new VConsole()
  </script>-->
  <div class="wheelObj-nav" ng-if="resData">
    <div class="box">
      <div class="wheelObj-nav-arrow" back-button="" nav-direction="back"><i class="jyicon fs22 color-fff">&#xe638;</i></div>
    </div>
  </div>
  <ion-content class="wheelObj" ng-style="wheelObj">
    <div ng-style="wheelBgObj" ng-if="resData">
      <div style="padding: 55% 0 10% 0;">
        <div class="wheelCenterObj">
          <img ng-src="{{resData.outerPic}}" alt="">
          <div class="wheelInnerObj" ng-style="wheelInnerRotateObj">
            <img ng-src="{{resData.bgPic}}" alt="">
            <div class="wheelProduct">
              <ul>
                <li class="wheelLi{{$index}}" ng-repeat="item in prizeInfos"><img ng-src="{{item.accessPath}}" alt=""></li>
              </ul>
            </div>
          </div>
          <div class="wheelBtnObj">
            <img ng-src="{{resData.btnPic}}" on-tap="startDrawLottery()" alt="" ng-if="show==true">
            <img ng-src="{{resData.btnPic}}" alt="" ng-if="show==false">
          </div>
        </div>
        <p class="pt20 color-fff text-center" style="font-size: 1rem;">剩余抽奖次数: {{remainingFrequency?remainingFrequency:0}}次</p>
        <div class="mt20"><img src="./img/award-line.png" alt=""></div>
        <div class="ruleText" ng-bind-html="ruleText"></div>

        <div class="text-center color-fff fs20 mb20">中奖名单公布</div>
        <marquee align="middle" behavior="scroll" direction="up" height="250" hspace="0" vspace="0" loop="-1" scrollamount="4" scrolldelay="0">
          　
          <div class="ruleText text-center mt30 color-fff" ng-bind-html="winText"></div>
          　
        </marquee>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="flex" style="z-index:110;height:58px;" ng-if="joinFlag">
    <div class="ping-lun" style="background: #b2b2b2" ui-sref="home" nav-direction="forward">
      回到首页
    </div>
    <div class="xuan-zuo" on-tap="join()">
      我要参加
    </div>
  </ion-footer-bar>
  <!--手机号码直接注册或登录-->
  <!--<div id="phonelogin" ng-if="needBind">
      <div id="phonelogin-inner">
          <div class="fs16 text-center mb10"><strong>登陆</strong></div>
          <div class="phoneloginWrap">
              <div class="box">
                  <div class="box1"><input ng-model="bindPhone.mobileNumber" maxlength="11" type="tel" placeholder="请输入手机号码"></div>
                  <div class="phonelogin_yzm fs12" on-tap="sendYzm()">{{sendYzmFlag}}</div>
              </div>
          </div>
          <div class="phoneloginWrap"><input ng-model="bindPhone.vertifyCode" type="text" placeholder="请输入验证码"></div>
          <label class="item item-input item-input-lg" style="padding: 6px 0 0px 4px;border: 1px solid #ddd;">
              <span class="input-label color-000 fs14">图形码</span>
              <input type="number" ng-pattern="/\d{5}/" maxlength="5" ng-model="bindPhone.captcha1" required placeholder="请输入图形码">
              <div class="mr10" on-tap="getCode()" style="width:140px!important;"><img ng-src="{{yzmCode}}" alt=""/></div>
          </label>
          <div class="mt10">
              <button style="background: #998278" class="button button-block button-assertive" on-tap="login()">立即登录</button>
          </div>
          <div style="text-align: center;text-decoration: underline;" on-tap="goLogin()">使用其它登录方式</div>
          <div on-tap="hide()" class="icon jyicon fs16" style="border-top-right-radius: 8px;position: absolute;top: 0;right: 0;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 3px 5px;background: #f2f2f2;border-bottom-left-radius: 5px;color: #666;">&#xe651;</div>
      </div>
  </div>-->
</ion-view>
