<ion-view view-title="会员卡绑定">
    <ion-content scrollbar-y="false">
        <!--绑定卡号信息列表-->
        <form name="myForm" novalidate ng-submit="bingCard(myForm)">
            <div class="list buildlist">
                <div class="list list-inset" >
                    <label class="item item-input">
                        <i class="icon ion-android-phone-portrait placeholder-icon "></i>
                        <span class="pr10">手机号码:</span>
                        <input required ng-model="cardInfo.phoneNumber" maxlength="11" name="phone" type="text" placeholder="请输入开卡手机号码">
                    </label>
                </div>
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-android-unlock placeholder-icon"></i>
                        <span class="pr10">支付密码:</span>
                        <input ng-model="cardInfo.password" required  name="password6" type="password" placeholder="请输入6位密码">
                    </label>
                </div>
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-briefcase placeholder-icon "></i>
                        <input required="" ng-model="cardInfo.captcha" name="phoneCaptcha" type="text" placeholder="请输入验证码">
                        <div ng-if="yzmFlag" stop-propagation="" ng-disabled="{true:'disabled'}[!cardInfo.phoneNumber]" class="button button-small button-register yzmBtn" style="top:4px;border-radius:20px;" on-tap="yzmLogic()">获取验证码</div>
                        <button ng-if="!yzmFlag" stop-propagation="" disabled="disabled" class="button button-small button-register yzmBtn" style="top:4px;">{{leftTime}}s后重新获取</button>
                    </label>
                </div>

                <div class="item item-borderless">
                    <p>卡绑定后，只限本人在金逸影城官网和移动端使用消费</p>
                </div>
                <div class="item item-borderless pt0">
                    <button type="submit"  ng-disabled="myForm.$invalid" class="button button-block button-jy">
                        <span>绑定</span>
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>