<ion-view view-title="走进金逸">
    <ion-header-bar align-title="center" class="top-xian">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">走进金逸</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false">
        <div class="list buytickettip" ng-repeat="item in businessCategory">
            <h1 class="item">{{item.name}}</h1>
            <a ng-repeat="subItem in item.subList" class="item item-icon-right" ui-sref="businessDetail({id:'{{subItem.identifier}}',name:'{{subItem.name}}'})" nav-direction="forward">
                <h2> {{subItem.name}}</h2>
                <div class="icon ion-ios-arrow-right ion-tu-biao"></div>
            </a>
        </div>
    </ion-content>
</ion-view>