<ion-view view-title="商城分类" class="yd-home">
    <div class="mall-category-banner">
        <div class="flex pt10">
            <div style="width: 23%;">
                <div class="category-select">
                    <a ui-sref="selectCity" style="color: white;"  nav-direction="forward" class=" fs14">{{currentCity}} <i ui-sref="selectCity" nav-direction="forward" class="ion-chevron-down"></i></a>
                </div>
            </div>
            <div style="width: 65%">
                <div class="mall-search box" style="margin: 0px 10px">
                    <div class="category-div pos" ui-sref="cinema">
                        {{cinemaNameAlt}}<i class="ion jyicon" style="color: #998278; position: absolute;right: 12px;top: 3px;">&#xe6a6;</i>
                        <!--<p style="color: black"></p>-->
                    </div>
                </div>
            </div>
            <div style="width: 12%;">
                <div ng-if="userInfo" class="fs12 mall-cart pos" ui-sref="myCart" nav-direction="forward" style=" margin-left: 8px;">
                    <i class="iconfont jyicon">&#xe68c;</i>
                    <span ng-if="cartNum>0" class="badge badge-assertive" style="position: absolute;border-radius:50%;top:-3px;left:18px;padding: 1px 5px">{{cartNum}}</span>
                </div>
                <div ng-if="!userInfo" class="fs12 mall-cart pos" ui-sref="login" nav-direction="forward" style=" margin-left: 8px;">
                    <i class="iconfont jyicon">&#xe68c;</i>
                </div>
            </div>
        </div>
    </div>

    <ion-content scrollbar-y="false" style="top: 52px" >
        <div class="box subSort" >
                <div class="box" style="height:1000px;overflow: hidden;background: #f2f2f2;" ng-nicescroll nice-option="{cursorcolor: '#f2f2f2',cursorwidth: '10px'}">
                    <ul style="width: 90px">
                        <li style="border-bottom: 1px solid #ddd;" ng-repeat="item in categoryListNewData" class="{{item.active?'active':''}}">
                            <div style="padding: 8px 0px;margin-left: -8px;" on-tap="changeCategoryListNew(item.catId,$index)">{{item.catName}}</div>
                        </li>
                    </ul>
                </div>
        </div>
    </ion-content>
    <ion-content scrollbar-y="false" style="top: 55px;left: 90px;background: transparent" delegate-handle="mainScroll"  on-scroll="scrollContent()">
        <div ng-repeat="row in categoryListNewData" >
    <div class="box" ng-repeat="item in row.itemSkuList">
        <div class="box1" style="height: 100%;border-bottom: 1px solid #f5f5f5;" >
            <div class="flex" on-tap="getcinemaBySku({{item}})">
                <div style="width: 35%;padding: 8px 8px;">
                    <div style="width: 90px;height: 90px;position: relative;">
                        <img ng-src="{{item.appAbbImg}}">
                        <!--<div class="category-box-mask" ng-if="equitycardFlag==='N' && item.ruleHeaderIdList.length!=0"></div>-->
                    </div>
                </div>
                <div style="width: 65%;padding-left: 12px" class="pos">
                    <h2 class="fs14 mb10" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: 16px;margin-top: 20px !important;">{{item.titleAlt}}</h2>
                    <p class="fs12 mb10" style="height: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" ng-bind-html="item.specInfo"></p>
                    <p class="fs12" style="padding-bottom: 12px;">网购价: <span class="color-red">{{item.price/100 | currency:'¥'}}</span></p>
                </div>
            </div>
            <div class="fs13 pos category-detail" ng-if="item.activityFlag=='Y'">
                <span style="background: #e45016;color: white;padding: 2px 3px;">惠</span>
                <span>{{item.activityInfo[0].activityGroupName}}</span>
                <div style="position: absolute;top: -2px;left: 77%;" on-tap="showDetial(row.itemSkuList,$index)">
                    <span>详情</span>
                    <i class="ion jyicon fs22">&#xe6da;</i>
                </div>
            </div>
            <div style="padding: 2px 5px;font-size: 13px;margin-left: 23px" class="showCon {{item.showCon?'showConActive':''}}">{{item.activityInfo[0].ruleDesc}}</div>

        </div>
    </div>
        </div>
    <div class="text-center" ng-if="categoryListNewData" style="padding-bottom: 400px;padding-top: 20px">暂无更多商品</div>

    </ion-content>

    <ion-footer-bar style="border-top:  1px solid #f5f5f5;">
        <div class="row homeNav">
            <div class="col" ui-sref="home" nav-direction="none">
                <i class="icon jyicon">&#xe601;</i>
                <p class="fs12">推荐</p>
            </div>
            <div class="col" ui-sref="category({catId:4,index:0})" nav-direction="none">
                <i class="icon jyicon color-998278">&#xe82f;</i>
                <p class="fs12 color-998278">商城</p>
            </div>
            <div class="col">
            </div>
            <div class="col" ui-sref="forum" nav-direction="none">
                <i class="icon jyicon ">&#xe67b;</i>
                <p class="fs12">圈子</p>
            </div>
            <div class="col" ui-sref="account" nav-direction="none">
                <i class="icon jyicon">&#xe605;</i>
                <p class="fs12">我的</p>
            </div>
        </div>
        <div class="sogou" on-tap="sougou()">
            <img src="img/sugou.png">
        </div>
    </ion-footer-bar>

    <style>
        .category-box-mask {
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            background-color: #9e9e9e;
            z-index: 99999;
        }
    </style>
</ion-view>

