<ion-view view-title="修改手机">
    <ion-header-bar align-title="center" class="top-xian">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">{{flag?'修改手机':'绑定手机'}}</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false">
        <div ng-if="flag">
            <form novalidate name="myForm" ng-submit="editPhone(myForm)">
                <label class="item item-input item-input-lg">
                    <span class="input-label color-000">新手机号码</span>
                    <input style="margin-left: 20px !important;" class="mr50" type="tel" ng-model="bindData.tel" ng-pattern="/[0-9]{11}/" ng-minlength="11" ng-maxlength="11" required placeholder="手机号码">
                    <div ng-if="yzmFlag" ng-disabled="{true:'disabled'}[!bindData.tel]" class="button button-small button-register yzmBtn" style="margin-top: 9px;margin-right: 15px;" on-tap="yzmLogic(bindData.tel)">获取验证码</div>
                    <button ng-if="!yzmFlag" stop-propagation="" disabled="disabled" class="button button-small button-register yzmBtn" style="margin-top: 9px;margin-right: 15px;">{{leftTime}}s后重新获取</button>
                </label>
                <label class="item item-input item-input-lg">
                    <span class="input-label color-000">验证码</span>
                    <input class="mr80" type="text" ng-pattern="/\d{6}/" maxlength="6" ng-model="bindData.captcha" required placeholder="请输入验证码">
                </label>
                <div class="ml15 mt20 mr15">
                    <button type="submit" ng-disabled="bindForm.$invalid" class="button button-jy button-block">确定修改</button>
                </div>
            </form>
        </div>
        <div ng-if="!flag">
            <form name="bindForm" novalidate ng-submit="bindPhone(bindForm)">
                <label class="item item-input item-input-lg">
                    <span class="input-label color-000">手机号码</span>
                    <input class="mr50" type="tel" ng-model="bindData.tel" ng-pattern="/[0-9]{11}/" ng-minlength="11" ng-maxlength="11" required placeholder="手机号码">
                    <div ng-if="yzmFlag" ng-disabled="{true:'disabled'}[!bindData.tel]" class="button button-small button-register yzmBtn" style="margin-top: 9px;margin-right: 15px;" on-tap="yzmLogic(bindData.tel)">获取验证码</div>
                    <button ng-if="!yzmFlag" stop-propagation="" disabled="disabled" class="button button-small button-register yzmBtn" style="margin-top: 9px;margin-right: 15px;">{{leftTime}}s后重新获取</button>
                </label>
                <label class="item item-input item-input-lg">
                    <span class="input-label color-000">验证码</span>
                    <input class="mr80" type="text" ng-pattern="/\d{6}/" maxlength="6" ng-model="bindData.captcha" required placeholder="请输入验证码">
                </label>
                <div class="ml15 mt20 mr15">
                    <button type="submit" ng-disabled="bindForm.$invalid" class="button button-jy button-block">绑定</button>
                </div>
            </form>
        </div>

    </ion-content>
</ion-view>
