<ion-view view-title="申请联名卡">
    <!--<ion-header-bar class="calm-border" align-title="center">-->
        <!--<a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>-->
        <!--<div class="h1 title">申请联名卡</div>-->
    <!--</ion-header-bar>-->
    <ion-content scrollbar-y="false">
        
        <div style="padding: 25px 20px 15px 20px;border-bottom: 8px solid #ddd;">
            <img src="img/co-brandedCard.jpg">
            <div style="text-align: center;margin-top: 10px;">
                <span style="margin-left: -5px;">开卡手机号：</span>
                <input ng-model="tel" readonly style="border: 1px solid #ddd;margin-left: -5px;">
                <span style="text-decoration: underline;color: #998278;margin-left: 0px;" on-tap="go()">更改</span>
            </div>
        </div>

        <!--<div class="mall-division" style="background: white;padding: 20px 0px 2px 0px;">-->
            <!--<div class="box ml30 mr30">-->
                <!--<div class="mall-division-l box1 text-right mr10" style="border-bottom: 1px solid #46423f;"></div>-->
                <!--<div style="color: #46423f">联名卡权益</div>-->
                <!--<div class="mall-division-l box1 text-left ml10" style="border-bottom: 1px solid #46423f;"></div>-->
            <!--</div>-->
        <!--</div>-->

        <div>
            <img src="img/co-brandedCard3.jpg">
            <!--<p style="padding: 5px 0px 0px 20px;"><i class="ion jyicon fs20" style="color: #998278;margin-right: 5px">&#xe67d;</i>购票享超级会员价</p>-->
            <!--<p style="padding: 5px 10px 5px 40px;">xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>-->
            <!--<p style="padding: 5px 0px 0px 20px;"><i class="ion jyicon fs20"  style="color: #998278;margin-right: 5px">&#xe67d;</i>积分可抵扣联通话费</p>-->
            <!--<p style="padding: 5px 10px 5px 40px;">xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>-->
            <!--<p style="padding: 5px 0px 0px 20px;"><i class="ion jyicon fs20"  style="color: #998278;margin-right: 5px">&#xe67d;</i>出售激活不可退换</p>-->
            <!--<p style="padding: 5px 10px 5px 40px;">xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>-->
        </div>
        <div style="height: 50px">

        </div>

    </ion-content>
    <ion-footer-bar align-title="center" style="padding: 30px 10px 5px 10px; height: 86px;" >
        <span style="position: absolute; top: 5px; right: 0px;" ui-sref="hyqy"><i class="ion jyicon" style="color: #998278;">&#xe615;</i>开通即同意《联名卡协议》</span>
        <button ng-click="paySubmit()"  nav-direction="forward" class="button button-select fs16" style="background: #998278;border-radius: 0px !important;">我要开卡</button>
    </ion-footer-bar>
</ion-view>
