<ion-view view-title="每日一题">
    <ion-header-bar align-title="center" class="top-xian">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">每日一题</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false">
       <div>
           <img src="img/day-test.png">
       </div>
        <div class="daily-q" ng-if="noflag">
            <div style="text-align: center;margin-top: 32px;font-size: 16px;margin-bottom: 38px">问题：{{questionTitle}}</div>
            <div class="daily-btn" ng-repeat="item in optionData" on-tap="choose(item)">
                <p style="padding-top: 6px;color: white">{{item.questionChoiceCode}}、{{item.questionChoiceContent}}</p>
            </div>
            <div ng-if="sourceType=='FILM'|| sourceType=='CINEMA'||sourceType=='ACTIVITY'||sourceType=='ARTICLE'||sourceType=='ACTOR'" style="text-decoration: underline;text-align: center" on-tap="go()" >
                查看提示
            </div>
        </div>
        <div ng-if="!noflag" style="margin-top: 50px;text-align: center">
            {{msg}}
        </div>

    </ion-content>
</ion-view>