<ion-view view-title="权益卡协议">
  <ion-header-bar class="calm-border" align-title="center">
    <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <div class="h1 title">金逸线上权益卡协议</div>
  </ion-header-bar>
  <ion-content>
    <div class="pl15 jyAgreeMent pr15 pt10 pb30">
    <!--<h3 style="text-align: center">金逸线上权益卡协议</h3>-->
    <p>1、“金逸权益卡”（以下简称“权益卡”）为电子权益卡，
      仅限于在金逸官网及金逸手机客户端购买金逸旗下支持使用权益卡的影院之影票时使用（具体影城清单以影院公告信息为准）。</p>
    <p>2.购买权益卡：用户在金逸官网及客户端购买影城卡，无需进行线下操作，只需按照线上引导流程即可完成开卡并在正常在线选座购票流程中使用。
      本权益卡仅用于权益会员身份认证，卡内无金额，不可储值，已经购买，不可退换。如产生开卡失败、续费失败情况，卡费将在7-10个工作日内退还给用户。</p>
    <p>3.权益卡购票：权益卡有效期由开通之日算起，逾期失效。权益卡用户在权益卡有效期内，通过金逸线上渠道购票，享有会员价并能获得会员相关优惠。
      金逸平台有权限制单张权益卡在一定时间内的购票次数，以防止非正常用卡行为。因部分影院票价已为最优惠票价，故使用权益卡不再享有额外优惠。
      受不同影片和优惠活动影响，同一影院的优惠价有可能随时发生变动，针对这些变动，金逸平台将不对用户进行另行通知，票价以顾客实际购票时的票价为准。</p>
    <p>4.权益卡丢失：本卡为虚拟卡，不提供实体卡。若出现因为账号问题导致的权益卡丢失等情况，平台不提供补办。请妥善管理账号。</p>
    <p>5.金逸平台有权不定期修改本协议及相关服务规则（包括但不限于购票次数、使用时段、使用影片等），一旦协议内容产生变动，
      变更后的协议内容将同步至“金逸线上权益卡协议”中。请注意及时查阅。</p>
    <p>6.用户使用本权益卡时请同时遵守金逸电影及其金逸旗下影院的相关规定。</p>
    <p>7.金逸平台及该影院保留对本权益卡相关规则的最终解释权，如有任何问题可拨打金逸客服电话400-000-8008。</p>
    </div>
  </ion-content>
</ion-view>
