<ion-view view-title="取回密码">
    <ion-header-bar align-title="center">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title text-center">
            找回密码
        </div>
    </ion-header-bar>
    <ion-content scrollbar-y="false" scroll="false" class="bg-img">
            <form novalidate name="myForm" ng-submit="findPasswordSubmit(myForm)">
                <label class="item item-input">
                    <span class="input-label">手机号</span>
                    <input style="margin-right: 110px;" type="tel" ng-model="findPasswordData.tel" ng-pattern="/[0-9]{11}/" maxlength="11" required placeholder="请输入手机号">
                    <div ng-if="yzmFlag" ng-disabled="{true:'disabled'}[!findPasswordData.tel]" class="button button-small button-register yzmBtn" on-tap="getYzm()" style="margin: 6px 15px;">获取验证码</div>
                    <button ng-if="!yzmFlag" stop-propagation="" disabled="disabled" class="button button-small button-register yzmBtn" style="margin: 6px 15px;">{{leftTime}}s后重新获取</button>
                </label>
                <label class="item item-input">
                    <span class="input-label">验证码</span>
                    <input type="text" ng-pattern="/\d{6}/" maxlength="6" required ng-model="findPasswordData.captcha" placeholder="请输入验证码">
                </label>
                <label class="item item-input">
                    <span class="input-label">输入密码</span>
                    <input type="password" required ng-minlength="6" ng-model="findPasswordData.password" placeholder="请输入密码">
                </label>
                <label class="item item-input">
                    <span class="input-label">重复输入</span>
                    <input type="password" required ng-minlength="6" ng-model="findPasswordData.repassword" placeholder="请输入密码">
                </label>
                <div class="ml15 mt20 mr15"><button type="submit" ng-disabled="myForm.$invalid" class="button button-jy button-block">提交</button></div>
            </form>
    </ion-content>
</ion-view>