<ion-view view-title="即将上映">
    <ion-content>
        <div class="banner"><img src="img/bannerf.jpg"></div>
        <ion-refresher spinner="bubbles" pulling-text="下拉刷新" pulling-icon="ion-ios-refresh-empty" on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ion-item ng-repeat="item in initParams.movieData" class="mv-list mv-list-currentLine">
                <div class="mv-pic" nav-direction="forward" ui-sref="movieDetail({movieId:'{{item.id}}'})">
                    <img ng-src="{{item.imgSrc}}">
                </div>
                <a class="mv-text" nav-direction="forward" ui-sref="movieDetail({movieId:'{{item.id}}'})">
                    <h2 class="mb5 fs17">{{item.tit}} <i class="icon iconfont fs24" ng-repeat="subItem in item.icon" ng-bind-html="subItem"></i></h2>
                    <div class="fs14 subTit">{{item.subTit}}</div>
                    <p class="mv-sort fs12 color-bf">{{item.movieTime}}分钟 {{item.movieType}}</p>
                </a>
                <div class="mv-opt" style="top:10px;">
                    <div class="text-right"><span class="fs12 color-ff5715" >{{item.sub}}人想看</span></div>
                </div>
                <div class="mv-button">
                    <button ng-if="item.buyFlag" ui-sref="theatre({id:'{{item.id}}'})" class="button button-small button-select"  style="border:1px solid #af292d;color:#af292d;background: none;">{{item.movieBtn}}</button>
                    <button ng-if="!item.buyFlag" style="width:72px;padding:5px 0;" ui-sref="theatre({id:'{{item.id}}'})" class="button button-small button-select button-select-youhui"><i class="ion-heart"></i> {{item.movieBtn}}</button>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" ng-if="initParams.noMoreData" icon="ion-loading-c" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>