<ion-view view-title="{{title}}">
    <ion-header-bar align-title="center">
        <a ui-sref="home" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">{{title}}</div>
    </ion-header-bar>
    <ion-content overflow-scroll='false' scrollbar-y="false" scrollbar-x="false">
        <ion-refresher spinner="ios-small" pulling-icon="" on-refresh="doRefresh()"></ion-refresher>
        <div class="pd10">
            <div class="fs16 mb5"><strong>{{resData.orderType=='GOODS'?resData.title:resData.filmName}}</strong></div>
            <p ng-if="resData.orderType=='MOVIE'" style="color: #fd661d;">{{resData.showtimeIsk}} {{resData.attributeNameAlt}}</p>
            <p ng-if="resData.orderType=='MOVIE'">{{resData.cinemaName}}</p>
            <p ng-if="resData.orderType=='MOVIE'" class="pb10 mb10" style="border-bottom: 1px dashed #ddd;">{{resData.screenName}} {{resData.seatdetailMessage}}</p>
            <div ng-if="resData.orderType=='MOVIE' && resData.goods && resData.goods.length>0" style="margin-top: -5px;" class="fs12 text-left">(含观影套餐)</div>
            <p ng-if="resData.orderType=='GOODS'">{{resData.specNatureInfo}}</p>
            <p ng-if="resData.orderType=='GOODS'">{{resData.price | currency:'￥'}} X {{resData.num}}</p>

            <div class="ticketing"></div>
            <p class="text-center fs14 mb5">{{tip}} <ion-spinner style="position:relative;top:8px;" icon="dots"></ion-spinner> </p>
            <p class="text-center fs12 color-999">{{tip2}}</p>
        </div>
        <div class="text-center mt30">
            <button class="refreshTicket" on-tap="findOrder()">刷新重新获取</button>
        </div>
    </ion-content>
</ion-view>
