<ion-view view-title="礼品卡列表">
    <ion-header-bar align-title="center" class="top-xian">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">礼品卡记录</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false" has-bouncing="true">
        <div class="pt14">
            <div class="giftCardsWrap" ng-repeat="item in giftCardsListData">
                <div>金逸礼品卡</div>
                <div class="text-center">
                    <div class="mt20">金额 ￥<strong class="fs36">{{item.rechargeAmount}}</strong></div>
                </div>
                <div class="fs12" style="position: absolute;bottom: 8px;color: #eee;">
                    <!--<div>卡<span style="margin-left:12px;">号</span>: 3990500000000081</div>-->
                    <div style="margin-top: -2px;">卡号: {{item.chipNumber}}</div>
                </div>
                <img src="./img/logo.png" alt="" style="position: absolute;right: 15px;top: 15px;width: 70px;opacity: .8;">
            </div>
            <div class="giftCardsListData"></div>
        </div>


    </ion-content>
    <div ui-sref="giftCards" nav-direction="forward" class="bar bar-footer" >
        <div class="title" style="background: #998278;color: #fff;font-weight: normal"><i class="iconfont jyicon fs20">&#xe643;</i> 激活礼品卡</div>
    </div>
</ion-view>