<ion-view view-title="个人主页">
    <div class="mall-fix-nav" ng-if="homePageFlag">
        <div class="box">
            <div class="box1">
                <div class="mall-iconWrap" ng-if="!shareCode" nav-direction="back" back-button=""><i class="jyicon iconfont fs20">&#xe638;</i></div>
                <div class="mall-iconWrap" ng-if="shareCode" ui-sref="home" nav-direction="none"><i class="jyicon iconfont fs20">&#xe638;</i></div>
            </div>
            <!--<div class="box1 text-right">-->
                <!--<div class="mall-iconWrap pos" on-tap="saveCmtFanFollowP(sMemberId)" ng-if="sMemberId">-->
                    <!--<i class="jyicon iconfont fs20">&#xe652;</i>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <ion-content overflow-scroll='false' scrollbar-y="false" style="z-index:100;">
        <div ng-if="homePageFlag">
        <div class="swiper-container swiper-container-mall-productDetail">
            <div class="swiper-wrapper" >
                <div class="swiper-slide swiper-slide-product"><img style="min-height:220px;height: 220px" ng-src="./img/beijing.jpg" alt=""></div>
            </div>
            <div class="swiper-pagination swiper-pagination-product"></div>
        </div>
        <div class="mall-fix-nav" style="height: 220px;background: rgba(0, 0, 0, 0.5);"></div>
        <div class="homePage-img">
            <img src="./img/user.png" ng-if="!memberData.logoImageUrl">
            <img ng-src="{{memberData.logoImageUrl}}"  ng-if="memberData.logoImageUrl">
        </div>
        <div class="homePage">
            <div class="fs18 mt5">{{memberData.mmbName}}</div>
            <div class="homePage-p mt5">{{memberData.selfIntroduction==null?'金逸粉丝...':memberData.selfIntroduction}}</div>
            <div class="mt5 flex">
                <div class="guan-zhu" ui-sref="myAttention" nav-direction="forward" ng-if="!sMemberId">关注 {{fanOrFollowCountData[0].followCount?fanOrFollowCountData[0].followCount:'0'}}</div>
                <div class="guan-zhu" ng-if="sMemberId">关注 {{fanOrFollowCountData[0].followCount?fanOrFollowCountData[0].followCount:'0'}}</div>
                <div class="cu-xian" ></div>
                 <div class="fen-si" ui-sref="myFans" nav-direction="forward" ng-if="!sMemberId"> 粉丝 {{fanOrFollowCountData[0].fanCount?fanOrFollowCountData[0].fanCount:'0'}}</div>
                <div class="fen-si" ng-if="sMemberId"> 粉丝 {{fanOrFollowCountData[0].fanCount?fanOrFollowCountData[0].fanCount:'0'}}</div>
            </div>
            <!--<div class="homePage-guanzhu" ng-if="sMemberId">+ 关注</div>-->
        </div>
        <!--<ion-refresher spinner="ios-small" pulling-icon="" on-refresh="doRefresh()"></ion-refresher>-->
        <!--<div class="pos clearfix" tabs-click="">-->
            <!--<a class="stap step1" style="width: 50%;" ng-class="activeIndex==0?'active':''">{{sMemberId?'他的文章':'我的文章'}}</a>-->

            <!--<a class="stap step2" style="width: 50%" ng-class="activeIndex==1?'active':''">{{sMemberId?'他的影评':'我的影评'}}</a>-->
        <!--</div>-->
        <!--<div class="su-xian" ></div>-->
        <div class="pos clearfix" style="text-align: center; font-size: 16px;padding: 10px 10px;border-bottom: 1px solid #ddd;">
            {{sMemberId?'他的影评':'我的影评'}}
        </div>
        <!--<ion-slide-box active-slide="slideTo()" show-pager="false" on-slide-changed="slideHasChanged($index)">-->
            <!--<ion-slide class="slider-slide-vh myTicketsSlide">-->
                <!--<div class="list mb0" style="position: relative;">-->
                    <!--<div>敬请期待...</div>-->

                    <!--<div class="text-right mr20 color-ff5715 mt5">推荐度:9.1</div>-->
                    <!--<div class="box" style=" border-bottom: 1px solid #f5f5f5;">-->
                        <!--<div class="defaultBg-jytj">-->
                            <!--<img src="./img/yingping.jpg" style="height: 100px">-->
                        <!--</div>-->
                        <!--<div class="box1 tuijianCon" style="height:110px;">-->
                            <!--<div class="forum-title">我都结婚了，而你却还只是一个单身狗你好呀呀呀呀呀呀呀呀</div>-->
                            <!--<div class="forum-sp">-->
                                <!--<span class="articleFlag">阅读</span>-->
                                <!--<span class="articleFlag">活动</span>-->
                                <!--<span class="articleFlag">衍生</span>-->
                                <!--<span class="articleFlag">热卖</span>-->
                                <!--<span class="articleFlag">热卖</span>-->
                            <!--</div>-->
                            <!--<div class="box">-->
                                <!--<div class="fs12">2017-11-11</div>-->
                            <!--</div>-->
                            <!--<div class="box">-->
                                <!--<div class="box1 text-right">-->
                                    <!--<i class="icon jyicon">&#xe601;</i>-->
                                    <!--<span class="fs12">2334432</span>-->
                                    <!--<i class="icon jyicon">&#xe63c;</i>-->
                                    <!--<span class="fs12">1234433</span>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div ng-if="untakeData.length==0" class="text-center pt100 color-999">{{languageSetting.noDataTip}}</div>-->
            <!--</ion-slide>-->

            <!--<ion-slide class="slider-slide-vh myTicketsSlide">-->
            <div ng-if="!personCenterData" style="text-align: center;padding-top: 30px">
                小主，你还没留下你的足迹哦
            </div>
                <div ng-repeat="item in personCenterData" ng-if="personCenterData">
                <div style="padding: 0px 20px;" class="fs14" ng-repeat="row in item.list">
                    <div class="row" style="padding-bottom: 0px;margin-left: -18px;" ng-if="item.type=='FILE_REVIEW'">
                        <div class="col col-50 fs12 text-left" style="padding-bottom: 0px;height: 29px;margin-left: 6px;overflow: hidden;color: #cccccc">
                            评 : {{item.filmName}}
                        </div>
                        <div class="col col-30 text-left" style="margin-left: 0px; line-height: 26px;padding-bottom: 0px" >
                            <div class="flex" style="width: 80px;">
                                <div style="width: 20%" ng-repeat="rowChild in row.starArr" >
                                    <img style="" src="./img/star.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fs12 mt10 mb10 text-left" ng-if="item.type=='ARTICLE_REVIEW'" style="color: #cccccc;">
                        评 : {{item.articleTitle}}
                    </div>
                    <div ng-if="row.viceMemberId">
                        回复<span style="color: red">{{'@'+row.viceMemberName+' : '}}</span>{{row.content}}
                    </div>
                    <div ng-if="!row.viceMemberId" >
                       {{row.content}}
                    </div>
                    <div class="text-left mt5 fs12 mb5" style="color: #666;">
                        {{row.creationDate}}
                    </div>
                </div>
                <div class="box mt10 mb5"  ng-if="item.type=='ARTICLE_REVIEW'"  ui-sref="articleDetail({id:'{{item.articleId}}'})" nav-direction="forward">
                    <div class="defaultBg-jytj" style="margin-left: 4px;margin-right: 4px">
                        <img ng-src="{{item.articleUrl}}" style="height: 80px">
                    </div>
                    <div class="box1 tuijianCon">
                        <div class="forum-title">{{item.articleTitle}}</div>
                        <div class="forum-sp">
                            <span class="articleFlag" ng-repeat="row in item.strs">{{row}}</span>
                            <!--<span class="articleFlag">活动</span>-->
                            <!--<span class="articleFlag">衍生</span>-->
                            <!--<span class="articleFlag">热卖</span>-->
                            <!--<span class="articleFlag">热卖</span>-->
                        </div>
                        <!--<div class="box">-->
                            <!--<div class="fs12">{{item.creationDate==undefined?'2017-10-10':item.creationDate}}</div>-->
                        <!--</div>-->
                        <div class="box">
                            <div class="box1 text-left" style=" height: 20px;overflow: hidden;">
                                <span class="fs12">{{item.date}}</span>
                            </div>
                            <div class="box1 text-right" style="margin-left: -20px">
                                <i class="icon jyicon">&#xe601;</i>
                                <span class="fs12">{{item.fabulous==undefined?0:item.fabulous}}</span>
                                <i class="icon jyicon">&#xe63c;</i>
                                <span class="fs12">{{item.commentCount==undefined?0:item.commentCount}}</span>
                            </div>
                        </div>

                    </div>
                </div>
                    <div class="gap"></div>
                </div>
                <ion-infinite-scroll ng-if="!noMorePage&&commentFilmDetailData" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
                <div ng-if="noMorePage&&personCenterData" class="text-center pd20">暂无更多评论</div>
                <!--<div ng-if="takedData.length==0" class="text-center pt100 color-999">{{languageSetting.noDataTip}}</div>-->
            <!--</ion-slide>-->
        <!--</ion-slide-box>-->
            </div>
        <div style="position: absolute;left: 50%;top: 40%;margin-left: -14px;" ng-if="!homePageFlag">
            <ion-spinner icon="ios-small"></ion-spinner>
        </div>
    </ion-content>
    <ion-footer-bar class="flex" ng-if="sMemberId&&memberData.isFan=='N'" style="z-index: 200">
        <div class="homePage-guanzhu" on-tap="saveCmtFanFollowP()">
            <i class="icon jyicon">&#xe643;</i>
            关注
        </div>
    </ion-footer-bar>
</ion-view>

