<ion-view view-title="会员权益">
  <ion-header-bar align-title="center" class="top-xian">
    <a back-button="" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <div class="h1 title">{{title}}</div>
  </ion-header-bar>
  <ion-content scrollbar-y="false" scrollbar-x="false">
    <div class="pl15 pr15 pt15">
      <div ng-bind-html="jydtTit"></div>
      <style>
        .hyUl li {
          display: flex;
        }
        .hyCon img {
          width: 2rem;
          vertical-align: middle;
          display: none;
        }
        .hyCon h3 {
          font-weight: bold;
        }
      </style>

      <!--<ul class="hyUl">
          <li class="flex">
              <div class="hyIcon"><i class="ion-film-marker"></i></div>
              <div class="hyCon">
                  <h3>购票优惠</h3>
                  <p>会员最低可享受线上价格的9折优惠，每卡每日限购6张影票</p>
              </div>
          </li>
          <li class="flex">
              <div class="hyIcon"><i class="ion-ios-body"></i></div>
              <div class="hyCon">
                  <h3>免费直升厅（仅限VIP+观影卡会员）</h3>
                  <p style="word-break: break-all;">会员每月享有2张升厅券：①升厅券当月有效，不能累计，每月为自然月；
                      ②用券可将3D电影票（除首开赠票）免费升级为IMAX/4D/VIP/床厅等特殊厅，IMAX/4D/VIP/床厅等特殊厅之间不可用升级券。</p>
              </div>
          </li>
          &lt;!&ndash;<li class="flex">
              <div class="hyIcon"><i class="ion-android-playstore"></i></div>
              <div class="hyCon">
                  <h3>【满购送抵扣券】</h3>
                  <p>“VIP+观影卡”会员，通过金逸官网/金逸电影APP/金逸官微/官方微博/金逸旗下直营影城门店累计消费满150元，用户可在金逸电影APP商城凭150积分（1元=1积分）自助兑换20元卖品现金抵扣券，用于金逸电影APP平台卖品消费使用，每月限兑换一次；抵扣券有效期为30天，且不可与其他优惠同时使用（上述“每月”均为“自然月”）。</p>
              </div>
          </li>&ndash;&gt;
          <li class="flex">
              <div class="hyIcon"><i class="ion-cash"></i></div>
              <div class="hyCon">
                  <h3>积分兑换</h3>
                  <p>会员每消费1元可获得1积分，积分可兑换卖品、电影衍生品、电影票等权益。</p>
              </div>
          </li>
          <li class="flex">
              <div class="hyIcon"><i class="ion-aperture"></i></div>
              <div class="hyCon">
                  <h3>明星见面会（仅限VIP+观影卡会员）</h3>
                  <p>会员每月至少可享受一次线上抢票活动（金逸官网/金逸电影APP/金逸官微/官方微博），包含明星见面会门票。</p>
              </div>
          </li>
          <li class="flex">
              <div class="hyIcon"><i class="ion-ios-people"></i></div>
              <div class="hyCon">
                  <h3>生日赠券</h3>
                  <p>会员生日当天可凭有效身份证明在全国任一金逸直营影城前台免费领取2D\3D电影赠券一张（赠票限在领取的影城使用）。</p>
              </div>
          </li>
          <li class="flex">
              <div class="hyIcon"><i class="ion-mic-c"></i></div>
              <div class="hyCon">
                  <h3>会员活动</h3>
                  <p>定期举办主题会员活动（金逸官网/金逸电影APP/金逸官微/官方微博）。</p>
              </div>
          </li>
          <li class="flex">
              <div class="hyIcon"><i class="ion-ios-film"></i></div>
              <div class="hyCon">
                  <h3>自主退票</h3>
                  <p>持卡会员采用会员卡支付且未取票的影票订单，影票开场前2小时可自主退票（限退6张/天）。</p>
              </div>
          </li>
      </ul>-->
    </div>
  </ion-content>
</ion-view>
