<ion-view view-title="金逸文化">
    <ion-header-bar class="calm-border" align-title="center">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">{{jydtTit[0].articleTitle}}</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false">

            <div style="padding: 15px;" ng-repeat="item in jydtTit">
                <div ng-bind-html="item.articleContent"></div>
                <div  ng-repeat="row in item.list">
                    <img ng-src="{{row.url}}">
                </div>
            </div>


    </ion-content>

</ion-view>
