<ion-view view-title="验证码登陆">
    <ion-content scrollbar-y="false" scroll="false" class="bg-img">
        <form role="form" w5c-form-validate="vm.validateOptions" novalidate name="myForm">
            <div class="{{img.status}}"><img src="img/icon1.png" alt=""/></div>
        <div class="list list-inset register-list pt20" style="background-color:rgba(0,0,0,0);">
            <div class="button-bar button-tab mb20 pgr10">
            <a href="#/login" nav-direction="none" class="button fs12">密码登陆</a>
            <a href="#/loginByYzm" nav-direction="none" class="button active fs12">验证码登陆</a>
            <a href="#/loginByVip" nav-direction="none" class="button fs12">会员卡登录</a>
        </div>
             <label class="item item-input lb-p">
                    <i class="icon ion-android-phone-portrait placeholder-icon"></i>
                   <!--ng-pattern="/^1\d{10}$/"-->
                 <input  ng-focus="imgSmall()"required="" ng-pattern="/^1\d{10}$/" ng-model="loginData.phone" name="phone" type="number" placeholder="手机号码">
              </label>
                <label class="item item-input lb-p">
                    <i class="icon ion-android-unlock placeholder-icon"></i>
                    <!--ng-pattern="/^\d{6}$/"-->
                    <input  ng-focus="imgSmall()" ng-blur="imgBig()" required="" ng-model="loginData.captcha" name="phoneCaptcha" type="number" placeholder="验证码">
                    <button on-touch="yzmLogic()" ng-disabled="myForm.phone.$invalid" class="button button-select btn-Yzm button-yzm">{{paracont}}</button>
                </label>

                <!--ui-sref="personalInformation"-->
                <div class="mt20"><button  ng-click="myForm.$errors.length > 0 && vm.showErrorType == 2 ? alertError(myForm.$errors[0]) : ''" w5c-form-submit="loginByYzm()" class="button button-select button-block" nav-direction="forward">登陆</button></div>
            <div class="pos pt30 pb10">
                <a href="#/register" nav-direction="forward" class="button button-small button-goRegister">免费注册</a>
            </div>
            <div class="pos pt30 pb10">
                <a href="#/findPassword" nav-direction="forward" class="button button-small button-goFindpassword">忘记密码</a>
            </div>
        </div>
        </form>
    </ion-content>
    <span class="other">第三方登录</span>
    <div class="bang">
        <span class=""><img src="img/qq1.png"></span>
        <span class=""><img src="img/weixin1.png"></span>
        <span class=""><img src="img/weibo2.png"></span>
        <span class=""><img src="img/zfb1.png"></span>
    </div>
</ion-view>