<ion-view view-title={{scanCodeFlag?cinemaNameAlt:'观影套餐'}}>
    <ion-header-bar align-title="center">
        <a back-button class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">{{scanCodeFlag?cinemaNameAlt:'观影套餐'}}</div>
    </ion-header-bar>
        <div style="margin-top: 40px">
            <img src="./img/mealList.png">
        </div>

    <ion-content scrollbar-y="false" style="margin-top: 12%" >
        <div class="box subSort">
            <div class="box" style="height:1000px;overflow: hidden;background: #f2f2f2;" ng-nicescroll nice-option="{cursorcolor: '#f2f2f2',cursorwidth: '10px'}">
                <ul style="width: 80px">
                    <li style="border-bottom: 1px solid #ddd;" ng-repeat="item in categoryListNewData" class="{{item.active?'active':''}}">
                        <div style="padding: 8px 0px;margin-left: -8px;" on-tap="changeFindItemGoodNew(item.catId,$index)">{{item.catName}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
    <ion-content scrollbar-y="false" style="margin-top:12%;margin-left: 70px;background: white" delegate-handle="mainScroll"  on-scroll="scrollContent()">
        <div ng-repeat="row in categoryListNewData">
        <div class="box" ng-repeat="item in row.itemGoodsList">
            <div class="box1" style="height: 100%;border-bottom: 1px solid #f5f5f5;">
                <div class="flex">
                    <div style="width: 31%;padding: 8px 8px;">
                        <div style="width: 90px;height: 90px">
                            <img ng-src="{{item.accessPath}}">
                        </div>
                    </div>
                    <div style="width: 69%;padding-left: 12px" class="pos">
                        <h2 class="fs14 mb10" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: 16px;margin-top: 20px !important;">{{item.titleAlt}}</h2>
                        <p class="fs12 mb10" style="height: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" ng-bind-html="item.specInfo"></p>
                        <p class="fs12" style="padding-bottom: 12px;">网购价: <span class="color-red">{{item.costPrice/100 | currency:'￥'}}</span></p>
                        <div class="sales-qty" style="position: absolute; right: 3px;top: 75px;">
                        <span on-tap="reduce(row.itemGoodsList,$index)" class="reduce"><i class="jyicon fs24">&#xe661;</i></span>
                        <span class="sales-qty-value">{{item.salesQty?item.salesQty:0}}</span>
                        <span on-tap="add(row.itemGoodsList,$index)" class="add active"><i class="jyicon fs24">&#xe677;</i></span>
                        </div>
                    </div>
                </div>
                <div class="fs13 pos category-detail" ng-if="item.activityInfo.length>0">
                    <span style="background: #e45016;color: white;padding: 2px 3px;">惠</span>
                    <span>{{item.activityInfo[0].activityGroupName}}</span>
                    <div style="position: absolute;top: -2px;left: 77%;" on-tap="showDetial(row.itemGoodsList,$index)">
                        <span>详情</span>
                        <i class="ion jyicon fs22">&#xe6da;</i>
                    </div>
                </div>
                <div style="padding: 2px 5px;margin-left: 23px;font-size: 13px" class="showCon {{item.showCon?'showConActive':''}}">{{item.activityInfo[0].ruleDesc}}</div>
            </div>
        </div>
        </div>
        <div class="text-center" style="padding-bottom: 400px;padding-top: 20px">暂无更多商品</div>
    </ion-content>
    <div class="mall-p-group-btn flex" >
        <div style="width: 65%;color: white;line-height: 48px; text-align: left;">
            <span class="ml10">
              小计：{{salesTotal | currency:'¥'}}
            </span>
        </div>
        <div style="width: 35%;text-align: center;line-height: 48px;color: white;background: #998278;" on-tap="buildSales()">
            立即购买
        </div>

    </div>
    <script id="meallist" type="text/ng-template">
        <style>
            .modal-backdrop, .modal-backdrop-bg {
                top: auto !important;
                bottom: 0;
                z-index: 100;
                max-height: 400px;
            }

            .modal-backdrop .modal-wrapper {
                max-height: 100%;
                height: 100%;
            }
        </style>
        <ion-modal-view class="layer" stop-propagation="">
            <ion-header-bar class="bar bar-header bar-filter ">
                <div class="text-center" style="width: 100%;line-height: 34px;font-weight: bold;">
                    活动列表
                </div>
            </ion-header-bar>
            <ion-content class="activityContent" overflow-scroll="false" scrollbar-y="false" style="background: #fff;">
                <div style="height: 10px;overflow: hidden;"></div>
                <div class="box" ng-repeat="item in newActivityGroupIdArr[currentIndex].activityInfo" style="padding: 12px 16px;border-bottom: 1px solid #f5f5f5;">
                    <div class="box">
                        <div class="color-ff1100 mr10" style="border: 1px solid #ff5715;transform:scale(.8);height: 20px;line-height: 20px;width: 35px;text-align:center">活动</div>
                        <div class="box1">{{item.activityGroupName}}</div>
                </div>
                    </div>
            </ion-content>
            <ion-footer-bar class="bar bar-footer bar-filter text-center" style="padding: 0;">
                <div class="box" style="width: 100%;line-height: 42px;">
                    <!--<div class="box1" on-tap="hideModal()">取消</div>-->
                    <div class="box1" style="background: #998278;color: #fff" on-tap="confirm()">确定</div>
                </div>
            </ion-footer-bar>
        </ion-modal-view>
    </script>
    <!--手机号码直接注册或登录-->
    <div id="phonelogin" ng-if="needBind">
        <div id="phonelogin-inner">
            <div class="fs16 text-center mb10"><strong>登陆</strong></div>
            <div class="phoneloginWrap">
                <div class="box">
                    <div class="box1"><input ng-model="bindPhone.mobileNumber"  maxlength="11" type="tel" placeholder="请输入手机号码"></div>
                    <div class="phonelogin_yzm fs12" on-tap="sendYzm()">{{sendYzmFlag}}</div>
                </div>
            </div>
            <div class="phoneloginWrap"><input ng-model="bindPhone.vertifyCode" type="text" placeholder="请输入验证码"></div>
            <label class="item item-input item-input-lg" style="padding: 6px 0 0px 4px;border: 1px solid #ddd;">
                <span class="input-label color-000 fs14">图形码</span>
                <input type="number" ng-pattern="/\d{5}/" maxlength="5" ng-model="bindPhone.captcha1" required placeholder="请输入图形码">
                <div class="mr10" on-tap="getCode()" style="width:140px!important;"><img ng-src="{{yzmCode}}" alt=""/></div>
            </label>
            <div class="mt10"><button style="background: #998278" class="button button-block button-assertive" on-tap="login()">立即登录</button></div>
            <div style="text-align: center;text-decoration: underline;" on-tap="goLogin()">使用其它登录方式</div>
            <div on-tap="hide()" class="icon jyicon fs16" style="border-top-right-radius: 8px;position: absolute;top: 0;right: 0;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 3px 5px;background: #f2f2f2;border-bottom-left-radius: 5px;color: #666;">&#xe651;</div>
        </div>
    </div>

</ion-view>
