<ion-view view-title="会员秘籍">
    <ion-header-bar align-title="center" class="top-xian">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">会员秘籍</div>
    </ion-header-bar>
    <ion-content overflow-scroll="false" scrollbar-y="false" has-bouncing="false">
        <div class="cheats-box" ng-repeat="item in growData">
            <div>
                <i class="icon jyicon fs20 color-998278">&#xe685;</i>
                <span class="fs16">{{item.meaning}}:</span>
            </div>
            <p class="pt5">{{item.description}}</p>
        </div>



    </ion-content>
</ion-view>
