<ion-view view-title="优惠券">
  <ion-header-bar align-title="center" style="background: #f2f2f2!important;background-image: none!important;">
      <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
      <div class="h1 title">优惠券</div>
      <span class="quan-add" on-tap="addQuan()">添加</span>
  </ion-header-bar>
  <ion-content scrollbar-y="false" has-bouncing="false" class="walletContent">

      <!--现金券-->
      <h2 class="quan-tit">现金券</h2>
      <div class="list ml10 mr10 quan-list">
        <a class="item item-thumbnail-left" href="#">
          <img src="./img/cash-card2.png">
          <h2>20元影片现金抵扣券</h2>
          <p class="fs12">使用日期:2017.3.2-2017.4.20</p>
          <div class="quan-opt fs12 color-999">
              <div class="row pl0 pr0 pt0">
                  <div class="col pl0 text-left">使用规则</div>
                  <div class="col pr0" style="text-align:right!important;">立即使用</div>
              </div>
          </div>
        </a>
      </div>

      <div class="list ml10 mr10 quan-list">
        <a class="item item-thumbnail-left" href="#">
          <img src="./img/cash-card2.png">
          <h2>20元影片现金抵扣券</h2>
          <p class="fs12">使用日期:2017.3.2-2017.4.20</p>
          <div class="quan-opt fs12 color-999">
            <div class="row pl0 pr0 pt0">
              <div class="col pl0 text-left">使用规则</div>
              <div class="col pr0" style="text-align:right!important;">立即使用</div>
            </div>
          </div>
        </a>
      </div>

  </ion-content>
</ion-view>
