<ion-view view-title="我的足迹">
    <ion-header-bar align-title="center" class="top-xian">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">我的足迹</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false" has-bouncing="false">
        <ion-refresher spinner="ios-small" pulling-icon="" on-refresh="doRefresh()"></ion-refresher>
        <div class="list">
            <div class="times" ng-repeat="item in myFootprint">
                <ul>
                    <li>
                        <b>{{item.areaName}}</b><span><strong class="fs14">{{item.cinemaName}}</strong></span>
                        <p>地址:{{item.address1}}</p>
                        <p class="fs12 color-999">观影次数: <strong class="mr10">{{item.totals}}</strong> 上次观影: <strong>{{item.orderTime | date:'yyyy-MM-dd HH:ss'}}</strong></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center" ng-if="myFootprint.length==0">暂无数据</div>
    </ion-content>
</ion-view>
