<ion-view view-title="我的订单">
    <ion-header-bar align-title="center" class="top-xian">
        <a ui-sref="account" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">我的订单</div>
    </ion-header-bar>
    <ion-content class="bg-f2f2f2" overflow-scroll="false" scrollbar-y="false" has-bouncing="false">
        <div class="list">
            <div class="item" ui-sref="myTickets" nav-direction="forward">
                <i class="icon jyicon item-icon" style="background: #998278">&#xe60d;</i> 影票订单
                <span class="arrow-foward"><i class="ion-ios-arrow-forward"></i></span>
            </div>
            <div class="item" ui-sref="mySales" nav-direction="forward">
              <i class="icon jyicon item-icon" style="background: #998278">&#xe610;</i> 卖品订单
              <span class="arrow-foward"><i class="ion-ios-arrow-forward"></i></span>
            </div>
            <div class="item" ui-sref="myGoods" nav-direction="forward">
                <i class="icon jyicon item-icon" style="background: #998278">&#xe649;</i> 衍生品订单
                <span class="arrow-foward"><i class="ion-ios-arrow-forward"></i></span>
            </div>
            <div class="item" ui-sref="myCart" nav-direction="forward">
                <i class="icon jyicon item-icon" style="background: #998278">&#xe63f;</i> 购物车
                <span class="arrow-foward"><i class="ion-ios-arrow-forward"></i></span>
            </div>
        </div>
    </ion-content>
</ion-view>
