<ion-view view-title="我的兑奖">
    <style>
        .box{
            height: 100%;
        }
    </style>
    <ion-header-bar align-title="center" class="top-xian">
        <a  back-button=""  nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">我的兑奖</div>
    </ion-header-bar>
    <div class="pos clearfix" tabs-click="" style="margin-top: 44px">
        <a class="stap step1" ng-class="activeIndex==0?'active':''">奖品列表</a>
        <a class="stap step2" ng-class="activeIndex==1?'active':''">已兑换</a>
        <a class="stap step3" ng-class="activeIndex==2?'active':''">可兑换</a>
    </div>
    <ion-content overflow-scroll="false" scrollbar-y="false" has-bouncing="false" style="top: 88px">
        <ion-refresher spinner="ios-small" pulling-icon="" on-refresh="doRefresh()"></ion-refresher>

        <ion-slide-box active-slide="slideTo()" show-pager="false" on-slide-changed="slideHasChanged($index)">
            <ion-slide class="slider-slide-vh myTicketsSlide">
                <div class="box yhj-layer" on-tap="showRules(item,$event)" style="width: auto;margin: 7px 12px;" ng-repeat="item in notSaleData">
                    <div class="yhj-layer-main" style="background: url('{{item.guessingPrizeImg || defaultPic}}') #e5e5e5 no-repeat center; background-size: 100% 100%;border: 1px solid #e0d4cf;">
                        <!--<img ng-src="{{item.guessingPrizeImg}}">-->
                    </div>
                    <div class="box1 yhj-layer-content" style="background: #fff; padding: 3px 9px;">
                        <div class="fs13 yhj-layer-content-tit" style="height: 22px;padding-right: 0px">
                            {{item.guessingPrizeName}}
                            <i class="ion jyicon" style="color: #998278" >&#xe60b;</i>
                        </div>
                        <p class="fs12 color-999" style="bottom: 27px;white-space: nowrap;">{{item.restrictiveCondition}}</p>
                        <p class="fs12 color-999" style="bottom: 14px; white-space: nowrap;">{{item.dateRange}}</p>
                        <p class="fs12 color-999" style="bottom: 0px;white-space: nowrap;">已兑数量:{{item.alreadyExchangeNum}}  剩余数量:{{item.surplusExchangeNum}}</p>
                        <!--<div ui-sref="theatre({movieId:-1})" nav-direction="forward" class="yhj-layer-radio fs12 yhj-layer-btn">立即使用</div>-->
                    </div>
                </div>
                <div ng-if="notSaleData.length==0 && !noMorePage1" class="text-center pt50 color-999">暂无数据！</div>
                <div ng-if="noMorePage1" class="text-center pd20">暂无更多数据</div>
            </ion-slide>

            <ion-slide class="slider-slide-vh myTicketsSlide">
                <div class="box yhj-layer" on-tap="showRules(item,$event)" style="width: auto;margin: 7px 12px;" ng-repeat="item in TURNED_BACKData">
                    <div class="yhj-layer-main" style="background: url('{{item.guessingPrizeImg || defaultPic}}') #e5e5e5 no-repeat center; background-size: 100% 100%;border: 1px solid #e0d4cf;">
                    </div>
                    <div class="box1 yhj-layer-content" style="background: #fff; padding: 3px 9px;">
                        <div class="fs13 yhj-layer-content-tit" style="height: 22px;padding-right: 0px">
                            {{item.guessingPrizeName}}
                            <i class="ion jyicon" style="color: #998278"  >&#xe60b;</i>
                        </div>
                        <p class="fs12 color-999" style="bottom: 14px;">{{item.dateRange}}</p>
                    </div>
                </div>
                <div ng-if="TURNED_BACKData.length==0 && !noMorePage2" class="text-center pt50 color-999">暂无数据！</div>
                <div ng-if="noMorePage2" class="text-center pd20">暂无更多数据</div>
            </ion-slide>

            <ion-slide class="slider-slide-vh myTicketsSlide">
                <div class="box yhj-layer"  style="width: auto;margin: 7px 12px;" ng-repeat="item in EXPIREDData">
                    <div class="yhj-layer-main" style="background: url('{{item.guessingPrizeImg || defaultPic}}') #e5e5e5 no-repeat center; background-size: 100% 100%;border: 1px solid #e0d4cf;">
                        <!--<img ng-src="{{item.guessingPrizeImg}}">-->
                    </div>
                    <div class="box1 yhj-layer-content" style="background: #fff; padding: 3px 9px;">
                        <div class="fs13 yhj-layer-content-tit" style="height: 22px;padding-right: 0px">
                            {{item.guessingPrizeName}}
                            <i class="ion jyicon" style="color: #998278"  on-tap="showRules(item,$event)">&#xe60b;</i>
                        </div>
                        <p class="fs12 color-999" style="bottom: 27px; white-space: nowrap;">{{item.restrictiveCondition}}</p>
                        <p class="fs12 color-999" style="bottom: 14px; white-space: nowrap;">{{item.dateRange}}</p>
                        <p class="fs12 color-999" style="bottom: 0px;white-space: nowrap;">已兑数量:{{item.alreadyExchangeNum}}  剩余数量:{{item.surplusExchangeNum}}</p>
                        <div  class="yhj-layer-radio fs12 yhj-layer-btn" style=" right: 5px;" on-tap="redem(item.guessingPrizeId)">兑换</div>
                    </div>
                </div>
                <div ng-if="EXPIREDData.length==0 && !noMorePage3" class="text-center pt50 color-999">暂无数据！</div>
                <div ng-if="noMorePage3" class="text-center pd20">暂无更多数据</div>
            </ion-slide>
        </ion-slide-box>
        <ion-infinite-scroll ng-if="!noMorePage" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-content>
    <p style="position: fixed;padding: 8px;right: 0px;bottom: 0px">剩余可兑换场次数量：{{surplusExchangeTimes}}</p>
</ion-view>
