<ion-view view-title="使用说明">
  <ion-header-bar align-title="center">
    <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <div class="h1 title">使用说明</div>
  </ion-header-bar>
  <ion-content scrollbar-y="false" has-bouncing="false" class="">
      <div class="list list-rights">
        <a class="item item-icon-left" >
          <i class="icon jyicon color-998278">&#xe618;</i>
          <h2>使用须知</h2>
        </a>
        <div>
        </div>
        <a class="item" ng-repeat="item in rightsDetailData">
          <!--<p class="mt10" ng-repeat="item in rightsMeaningData">{{item}}</p>-->
          <p class="mt10" ng-bind-html="item.specInfoDetail"></p>
        </a>
      </div>


  </ion-content>
</ion-view>
