<ion-view view-title="未支付">
    <ion-content scrollbar-y="false">
        <div class="pos pg10 clearfix">
            <a href="#/myTickets" nav-direction="none"><div class="stap step1">未取票</div></a>
            <a href="#/myTicketsStep2" nav-direction="none"><div class="stap step2">已取票</div></a>
            <a href="#/myTicketsStep3"><div class="stap step3 active">未支付</div></a>
        </div>
        <a class="item pg20" href="">
            <span> 珠江新城金逸影院 ></span>
        </a>
        <a class="item item-icon-right item-thumbnail-left" href="">
            <img src="img/test02.jpg">
            <div class="pg20">
                <p>快手枪手快枪手 X 2张</p>
                <p>2016年6月16日 21:50</p>
                <p>3号厅 3排7座<span class="wei-qu-piao">未支付</span></p>
            </div>
            <div class="icon ion-ios-arrow-right ion-tu-biao"></div>
        </a>
    </ion-content>
</ion-view>
