<ion-view view-title="我的钱包">
    <ion-header-bar align-title="center">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">我的钱包</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false" has-bouncing="false" class="walletContent">
        <div class="list">
            <!--<a class="item item-icon-left" ui-sref="myVipHome" nav-direction="forward">-->
            <!--<i class="icon jyicon color-998278">&#xe606;</i>-->
            <!--会员卡-->
            <!--<span class="ion-ios-arrow-forward item-arrow"></span>-->
            <!--</a>-->
            <!--<div class="bor"></div>-->
            <!--<a class="item item-icon-left" ui-sref="myRightsCard" nav-direction="forward">-->
            <!--<i class="icon jyicon color-998278">&#xe62f;</i>-->
            <!--权益卡-->
            <!--<span class="ion-ios-arrow-forward item-arrow"></span>-->
            <!--</a>-->
            <a class="item item-icon-left" ui-sref="myRightsCard" nav-direction="forward">
                <i class="icon jyicon color-998278">&#xe606;</i>
                卡中心
                <span class="ion-ios-arrow-forward item-arrow"></span>
            </a>
            <div class="bor"></div>
            <a class="item item-icon-left" ui-sref="yhj" nav-direction="forward">
                <i class="icon jyicon color-998278">&#xe602;</i>
                优惠券
                <span class="ion-ios-arrow-forward item-arrow"></span>
                <div class="myWallet-youhui" ng-if="vouLifetimeCountFlag">{{vouLifetimeCount}}</div>
            </a>
            <div class="bor"></div>
            <a class="item item-icon-left" ui-sref="giftCardsList" nav-direction="forward">
                <i class="icon jyicon color-998278">&#xe6c0;</i>
                礼包
                <span class="ion-ios-arrow-forward item-arrow"></span>
            </a>
        </div>
    </ion-content>
</ion-view>


