<ion-view view-title="加载页" id="onLoadingPage">
    <style>
        #onLoadingPage {
            z-index: 99999999;
        }
        #startSpinner svg{
            width:35px;
            height:35px;
            stroke: #998278;
            fill: #998278;
        }
    </style>
    <ion-content>
        <div style="padding-top: 50px;width: 100px;margin: 0 auto;"><img src="./img/icon.png" alt=""></div>
        <div style="padding-top: 100px;margin: 0 auto;text-align: center">
            <ion-spinner id="startSpinner" icon="bubbles"></ion-spinner>
            <div class="text-center fs12 pt10">loading...</div>
        </div>

    </ion-content>
</ion-view>
