<ion-view view-title="支付">
    <ion-header-bar align-title="center">
        <a on-tap="cancelPay()" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">支付</div>
    </ion-header-bar>
    <ion-content class="payContent" overflow-scroll="false" scrollbar-y="false">

        <div class="payBlock">
            <div class="calculateTit fs16 color-000">支付方式:</div>
            <div class="list list-inset" tabs-click="" style="margin: 10px;">
                <a  class="item" style="background: none!important;border:none;" ng-if="!weixinFlag">
                    <div class="row">
                        <div class="col-20 col">
                            <img style="width: 35px;" src="img/zfb2.png">
                        </div>
                        <div class="col-70 pl10 pr10 col text-left">
                            <div style="margin-top:7px;">支付宝支付</div>
                        </div>
                        <div class="col-10 col" style="padding-left: 0;">
                            <i style="position: relative;top: 4px;" ng-class="{true:'ion-ios-checkmark color-green',false:'ion-ios-circle-outline'}[payIndex==0]" class="fs30"></i>
                        </div>
                    </div>
                </a>
                <a class="item" style="background: none!important;border:none;"  ng-if="weixinFlag">
                    <div class="row">
                        <div class="col-20 col">
                            <img style="width: 38px;" src="img/weixin2.png">
                        </div>
                        <div class="col-70 pl10 pr10 col text-left">
                            <div style="margin-top:7px;">微信支付</div>
                        </div>
                        <div class="col-10 col" style="padding-left: 0;">
                            <i style="position: relative;top: 4px;" ng-class="{true:'ion-ios-checkmark color-green',false:'ion-ios-circle-outline'}[payIndex==1]" class="fs30"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div style="height: 150px;"></div>

    </ion-content>
    <div class="fixOrder">
        <div class="text-right pr20 pb10">应付金额:
            <span class="fs18 color-red">￥{{100 | number:2}}</span>
        </div>
        <div on-tap="buildOrder()" nav-direction="forward" class="queryPayBtn">确认支付</div>
    </div>
</ion-view>
