<ion-view view-title="支付订单">
    <ion-header-bar align-title="center">
        <a on-tap="cancelPay()" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">支付订单</div>
    </ion-header-bar>
    <ion-content class="payContent" overflow-scroll="false" scrollbar-y="false">
        <div class="row jc" style="padding-bottom: 15px;">
            <div class="col col-25">
                <img style="width: 35px;position: relative;top:7px;" src="./img/tickets.png">
            </div>
            <!--<div class="col col-75 pl0" ng-show="orderInfo.bookingType != 'ONLINE_VIRTUAL_GOODS'&&orderInfo.bookingType != 'ONLINE_GOODS'&&orderInfo.bookingType != 'ONLINE_VIRTUAL_GOODS_BUY'">-->
            <!--<h2 class="text-left fs16 mb0" style="margin-top:5px;">{{orderInfo.totalAmount | currency:'￥'}}</h2>-->
            <!--<p class="fs12 text-left">卖品订单:{{orderInfo.orderCode}}</p>-->
            <!--</div>-->
            <!--<div class="col col-75 pl0" ng-show="orderInfo.bookingType == 'ONLINE_VIRTUAL_GOODS_BUY'">-->
            <!--<h2 class="text-left fs16 mb0" style="margin-top:5px;">{{orderInfo.totalAmount | currency:'￥'}}</h2>-->
            <!--<p class="fs12 text-left">订单编号:{{orderInfo.orderCode}}</p>-->
            <!--</div>-->
            <!--<div class="col col-75 pl0" ng-show="orderInfo.bookingType == 'ONLINE_GOODS'">-->
            <!--<h2 class="text-left fs16 mb0" style="margin-top:5px;">{{orderInfo.totalAmount | currency:'￥'}}</h2>-->
            <!--<p class="fs12 text-left">订单编号:{{orderInfo.orderCode}}</p>-->
            <!--</div>-->
            <div class="col col-75 pl0">
                <h2 class="text-left fs16 mb0" style="margin-top:5px;">{{orderInfo.totalAmount | currency:'￥'}}</h2>
                <p class="fs12 text-left">订单编号:{{orderInfo.orderCode}}</p>
            </div>
        </div>

        <div ng-if="getOrderTimeFlag" class="payBlock">
            <!--<div class="calculateTit fs16 color-000">支付方式:</div>-->
            <div class="list list-inset" tabs-click="" style="margin: 10px;">
                <a ng-show="orderInfo.bookingType=='CARD'&&!voucherCard&&!integralPay" class="item" style="background: none!important;border:none;padding-top: 10px;">
                    <div class="row">
                        <div class="col-20 col">
                            <img style="width: 35px;" src="img/vip.png">
                        </div>
                        <div class="col-70 pl10 pr10 col text-left">
                            <div class="mb5">会员卡支付</div>
                        </div>
                        <div class="col-10 col" style="padding-left: 0;">
                            <i style="position: relative;top: -3px;" ng-class="{true:'ion-ios-checkmark color-green',false:'ion-ios-circle-outline'}[payIndex==0]" class="fs30"></i>
                        </div>
                    </div>
                </a>
                <a ng-show="!weixinFlag&&orderInfo.bookingType!='CARD'&&!voucherCard&&!integralPay" class="item" style="background: none!important;border:none;">
                    <div class="row">
                        <div class="col-20 col">
                            <img style="width: 35px;" src="img/zfb2.png">
                        </div>
                        <div class="col-70 pl10 pr10 col text-left">
                            <div style="margin-top:7px;">支付宝支付</div>
                        </div>
                        <div class="col-10 col" style="padding-left: 0;">
                            <i style="position: relative;top: 4px;" ng-class="{true:'ion-ios-checkmark color-green',false:'ion-ios-circle-outline'}[payIndex==1]" class="fs30"></i>
                        </div>
                    </div>
                </a>
                <a class="item" style="background: none!important;border:none;" ng-show="orderInfo.bookingType!='CARD'&&!voucherCard&&!integralPay">
                    <div class="row">
                        <div class="col-20 col">
                            <img style="width: 38px;" src="img/weixin2.png">
                        </div>
                        <div class="col-70 pl10 pr10 col text-left">
                            <div style="margin-top:7px;">微信支付</div>
                        </div>
                        <div class="col-10 col" style="padding-left: 0;">
                            <i style="position: relative;top: 4px;" ng-class="{true:'ion-ios-checkmark color-green',false:'ion-ios-circle-outline'}[payIndex==2]" class="fs30"></i>
                        </div>
                    </div>
                </a>
                <a ng-show="voucherCard" class="item" style="background: none!important;border:none;padding-top: 10px;">
                    <div class="row">
                        <div class="col-20 col">
                            <i class="icon jyicon fs32" style="color:#998278">&#xe66f;</i>
                            <!--<img style="width: 35px;" src="img/cika.png">-->
                        </div>
                        <div class="col-70 pl10 pr10 col text-left">
                            <div class="mb5">卡券支付</div>
                        </div>
                        <div class="col-10 col" style="padding-left: 0;">
                            <i style="position: relative;top: -3px;" ng-class="{true:'ion-ios-checkmark color-green',false:'ion-ios-circle-outline'}[payIndex==3]" class="fs30"></i>
                        </div>
                    </div>
                </a>
                <a ng-show="integralPay" class="item" style="background: none!important;border:none;padding-top: 10px;">
                    <div class="row">
                        <div class="col-20 col">
                            <i class="icon jyicon fs32" style="color:#998278">&#xe644;</i>
                            <!--<img style="width: 35px;" src="img/cika.png">-->
                        </div>
                        <div class="col-70 pl10 pr10 col text-left">
                            <div class="mb5">积分支付</div>
                        </div>
                        <div class="col-10 col" style="padding-left: 0;">
                            <i style="position: relative;top: -3px;" ng-class="{true:'ion-ios-checkmark color-green',false:'ion-ios-circle-outline'}[payIndex==4]" class="fs30"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="modifyTel pos"><input ng-blur="changeReceivePhoneNumber();" class="tel" type="tel" required name="tel" ng-model="user.mobileNumber" ng-minlength="11" ng-maxlength="11" placeholder="请输入接收短信的手机号"><i on-tap="clearText()" class="ion-ios-close fs20 clearText"></i></div>
        <div style="height: 150px;"></div>

    </ion-content>
    <div id="bang" class="fixOrder" style="background: none">
        <div class="queryPayBtn" ng-if="isPay" style="background: #ccc">确认支付</div>
        <div class="queryPayBtn" ng-if="!isPay" on-tap="paySubmit()">确认支付</div>
    </div>
    <!--<div id="bang" class="fixOrder" style="padding: 0px !important;">-->
    <!--<div ng-if="isPay">-->
    <!--<img src="./img/yd-zf.png">-->
    <!--</div>-->
    <!--<div on-tap="paySubmit()" ng-if="!isPay">-->
    <!--<img src="./img/yd-zf.png">-->
    <!--</div>-->

    </div>
    <script id="templates/paySalesmemberCard.html" type="text/ng-template">
        <style>
            .modal-backdrop, .modal-backdrop-bg {
                top: 0 !important;
                z-index: 12;
                max-height: 350px;
            }
            .modal-backdrop .modal-wrapper {
                max-height: 100%;
                height: 100%;
            }
        </style>
        <ion-modal-view class="layer" stop-propagation="">
            <ion-header-bar class="bar bar-header bar-filter ">
                <div class="text-center" style="width: 100%;line-height: 34px;font-weight: bold;font-size: 16px;">
                    {{currentShowIndex==1||currentShowIndex==2||currentShowIndex==3?'支付验证':'会员卡支付'}}
                </div>
                <div class="cancelBtn" on-tap="hideModal()"><i class="ion-ios-close-empty color-999 closeBtn fs26"></i></div>
            </ion-header-bar>
            <ion-content class="activityContent" overflow-scroll="false" scroll="false" scrollbar-y="false" style="background: #fff;">
                <h2 class="text-center fs24 pt20" ng-if="currentShowIndex==0">{{orderInfo.totalAmount | currency:'￥'}}</h2>

                <div class="memberCardBlock" ng-class="currentShowIndex==0?'mt30':''">
                    <div class="row plr0 pos" style="padding-bottom: 8px;">
                        <div class="col col-25 plr0 text-left color-999">手机号码</div>
                        <div class="col col-75 plr0 text-left">{{cardPhonenumber}}</div>
                    </div>
                    <div class="row plr0 pos" style="padding-bottom: 8px;">
                        <div class="col col-25 plr0 text-left color-999">验证码</div>
                        <div class="col col-75 plr0 text-left">
                            <input ng-focus="hideTip()" class="memberCardBlock-input" type="text" ng-model="data.yzm">
                            <span class="memberCardBlock-btn" ng-if="yzmFlagPay" on-tap="yzmLogicPay()">获取验证码</span>
                            <span class="memberCardBlock-btn" ng-if="!yzmFlagPay" stop-propagation="" disabled="disabled">{{leftTimePay}}s</span>
                        </div>
                    </div>
                    <div class="row plr0 pos" style="padding-bottom: 8px;" ng-if="currentShowIndex==0">
                        <div class="col col-25 plr0 text-left color-999">密码</div>
                        <div class="col col-75 plr0"><input ng-focus="hideTip()" class="memberCardBlock-input fs12" placeholder="会员卡密码为纯数字" onkeypress="return event.keyCode>=48&&event.keyCode<=57" maxlength="6" type="password" ng-model="data.cardPassword"></div>
                    </div>
                </div>
                <div class="text-center fs14 pt10" ng-if="errorTip"><i class="icon jyicon color-red">&#xe692;</i> {{errorTipMsg}}</div>

            </ion-content>
            <ion-footer-bar class="bar bar-footer bar-filter text-center" style="padding: 0;background: none">
                <button class="text-center fs16 ljfk" ng-if="data.yzm && data.cardPassword" on-tap="memberCardPay()" ng-show="currentShowIndex==0">立即付款</button>
                <button class="text-center fs16 ljfk" disabled ng-if="!data.yzm || !data.cardPassword" ng-show="currentShowIndex==0">立即付款</button>
                <button class="text-center fs16 ljfk" ng-show="currentShowIndex==1" on-tap="zfbPay()">立即付款</button>
                <button class="text-center fs16 ljfk" ng-show="currentShowIndex==2" on-tap="wxPay()">立即付款</button>
                <button class="text-center fs16 ljfk" ng-show="currentShowIndex==3" on-tap="zeroPay()">立即付款</button>
            </ion-footer-bar>
        </ion-modal-view>
    </script>
</ion-view>
