<ion-view view-title="私信">
  <ion-header-bar align-title="center" class="top-xian">
    <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <div class="h1 title">私信</div>
  </ion-header-bar>
  <ion-content scrollbar-y="true" scroll="true" overflow-scroll="true">
    <div class="pl15 pr15 pt20" style="-webkit-user-select: auto;" ng-bind-html="messageContent"></div>
    <a ng-if="platform=='MATERIAL_OBJECT'" ui-sref="address({person:'person'})" nav-direction="forward"
       style="padding-left: 15px;text-decoration: underline;color: #998278;cursor: pointer">去设置</a>
  </ion-content>
</ion-view>
