<ion-view view-title="预告片">
    <ion-header-bar class="calm-border" align-title="center">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">预告片</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false">
        <!--<div style="position:absolute;top:10px;">-->
        <!--<video src="./img/test.mp4" controls autoplay height="300px" width="100%"></video>-->
        <!--</div>-->
        <video ng-if="autoplay==false"  class="video-js vjs-default-skin"  style="width: 100% !important;height: 100% !important;"
               controls preload=""
               poster={{imgUrl}}
               data-setup="{}">
            <source src={{videoUrl}} type='video/mp4' />
            <track kind="captions" src="hangge.vtt" srclang="en" label="English" />
        </video>
        <video ng-if="autoplay==true"  class="video-js vjs-default-skin"  style="width: 100% !important;height: 100% !important;"
               controls preload="" autoplay="autoplay"
               poster={{imgUrl}}
               data-setup="{}">
            <source src={{videoUrl}} type='video/mp4' />
            <track kind="captions" src="hangge.vtt" srclang="en" label="English" />
        </video>
        <div class="pt10 pos">
            <div style="margin-left: 5px">{{filmName}}</div>
            <div style="position: absolute;right: 5px;top: 10px">{{viewTimes?viewTimes:0}}次播放</div>
        </div>
        <div class="pt10 pos">
            <div style="margin-left: 5px">上映时间：{{showTime}}</div>
            <!--<div style="position: absolute;right: 5px;top: 10px">分享</div>-->
        </div>
    </ion-content>

</ion-view>