<ion-view view-title="隐私政策">
    <ion-header-bar class="calm-border" align-title="center">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">隐私政策</div>
    </ion-header-bar>
    <ion-content>
        <div class="pl15 jyAgreeMent pr15 pt10 pb30">
            <h2 style="margin: 0 auto;text-align: center">金逸用户隐私政策</h2>
            <p>1.总则</p>
            <p>1.1广州金逸影视传媒股份有限公司（简称本公司）及金逸尊重用户（您）的隐私，明白访问金逸、使用金逸提供的服务的用户个人隐私的重要性。本公司将收集及储存这些数据以便向用户更有效地提供服务。个人资料及隐私条款声明是为使用户了解本公司收集的个人资料的类型以及处理个人数据的方法而制定。</p>
            <p>1.2本条款所述“个人资料”是指本公司持有之任何有关用户个人信息及数据，包括用户注册会员及申请会员卡所提交、填写之一切数据。</p>
            <p>2.本公司的政策</p>
            <p>本公司将按照中华人民共和国相关法律、法规规定收集、储存、传送及使用用户的所有个人资料，本公司员工将对该等个人资料保密，并妥善保存。</p>
            <p>3.个人资料类别</p>
            <p>出于本公司运营目的，本公司可能会要求用户提供下列个人资料。若用户未能提供该等资料，本公司无法满足用户的服务要求。此类资料包括但不限于：</p>
            <p>a.用户的姓名；</p>
            <p>b.联络信息，包括联络人姓名及电话号码或电邮地址；</p>
            <p>c.用以核对身份的数据，包括身份证明文件类别及号码；</p>
            <p>d.用户的年龄及出生日期；</p>
            <p>e.本公司根据实际需要的其他有关信息。</p>
            <p>4.个人资料使用用途</p>
            <p>4.1持有人的个人资料可作下列用途：</p>
            <p>a.处理本公司任何一项服务的申请；</p>
            <p>b.金逸收费系统的正常管理、运作及保养，包括审计在内；</p>
            <p>c.涉及本公司、其附属公司及关联公司（即直接或间接控制本公司、本公司所控制或与本公司隶属同 一控制权的任何其它实体）供客户使用而提供的新服务，或改善现有服务；</p>
            <p>d.推广本公司、其附属公司、关联公司或任何选定商务伙伴的货品或服务。本公司、其附属公司、关联公司或任何选定商务伙伴可能需要进行核对程序，藉此让本公司更明白用户的特质及提供更能满足用户需要的其它服务（如提供特别生日推广活动给予用户），协助本公司选择用户可能有兴趣的货品及服务，以及确立用户与本公司选定商务伙伴是否已建立关系；</p>
            <p>e.本公司与用户进行通讯；</p>
            <p>f.调查投诉、备受怀疑的可疑交易及研究服务改善措施；</p>
            <p>g.防止及侦测罪行；</p>
            <p>h.根据相关法律规定做出披露；</p>
            <p>i.其它相关用途。</p>
            <p>4.2本公司会依您的要求，不将您个人资料作为直销推广之用。如您不想收取本公司的直销函件，请致函本公司予以取消。</p>
            <p>4.3除非您特别申明，本公司可将所收集的用户个人资料用作一般市场业务推广之用。</p>
            <p>5.个人资料保管</p>
            <p>本公司将妥善保管载有个人资料数据的相关记录。</p>
            <p>如您在网上递交您的个人数据，您的个人数据在传送期间有可能在您不知悉或未经您同意的情况下被第三者拦截或擅自改动。本公司不会就您的个人数据被拦截或擅自改动而负任何责任。倘您对此等风险感到不安，请不要在网上提供任何个人数据。</p>
            <p>6.查询及修改个人资料</p>
            <p>6.1您可根据相关法律规定：</p>
            <p>a.确定本公司是否持有关于您个人的个人资料，并且 ( 如有) 取得该等资料的副本；</p>
            <p>b.要求本公司改正关于您个人的不准确的个人资料以达到使用该等资料的目的。</p>
            <p>6.2个人资料如何查询</p>
            <p>主页面右上角点击进入“用户中心”可以查询到个人资料。</p>
            <p>7.其他网站链接</p>
            <p>金逸可不时在其网站内加载其他网站的链接。请注意，当您使用金逸内的链接，本公司不会就您进入这个链接的网站负责。这些网站的个人数据私隐政策声明可能与我们的政策有出入，故我们建议您阅读这些网站的个人资料私隐政策声明。</p>
            <p>8.个人资料私隐政策的更改</p>
            <p>本公司保留其权利，在任何时间及没有通知的情况下，加入、更改、更新或修订本个人数据私隐政策声明，这些更改、更新或修订会登载在金逸内，故您可知悉本公司收集了什么资料、如何使用这些数据及在什么情况下会披露这些数据。任何这些更改、更新或修订会在登载于金逸后实时生效。</p>
        </div>
    </ion-content>
</ion-view>
