<ion-view view-title="帮助中心">

    <ion-content scrollbar-y="false">
        <div class="list problems-list">
            <div class="list list-inset">
                <label class="item item-input" style="border-radius: 25px" >
                    <i class="icon ion-ios-search-strong placeholder-icon fs16"></i>
                    <input ng-model="help.keywords" ng-change="searchByKeywords()" type="text" placeholder="输入你遇到的问题关键字">
                </label>
            </div>
            <!--问题集合-->
            <div class="item" ng-repeat="item in problemsData">
                <h2 style="font-weight: bold">{{item.faqTitle}}？</h2>
                <p style="padding-top: 4px" ng-bind-html="item.faqContent"></p>
            </div>
        </div>
    </ion-content>
</ion-view>

