<ion-view view-title="确认订单">
    <ion-header-bar align-title="center">
        <a back-button="" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">确认订单{{card.password}}</div>
    </ion-header-bar>
    <ion-content overflow-scroll="false" scrollbar-y="false" has-bouncing="false" style="margin-bottom: 92px;">
        <!--<div ng-if="querySalesOrderFlag">-->

        <div class="orderTit fs16" style="border-bottom: 1px solid #f5f5f5;">卖品套餐</div>
        <div class="box salesWap" ng-repeat="item in selesParams">
            <div class="mr10"><img ng-src="{{item.accessPath}}" alt=""></div>
            <div class="box1">
                <div style="height: 20px;line-height:20px;overflow: hidden;margin-top: 5px;">{{item.title}}</div>
                <div ng-bind-html="item.specInfo"></div>
                <div class="color-dd160a mt10">{{item.costPrice/100 | currency:'¥'}}</div>
            </div>
            <div style="height: 20px;line-height:20px;margin-top: 5px;">X{{item.salesQty}}</div>
        </div>
        <div class="gap"></div>

        <!--活动块-->
        <div class="activityBlock">
            <!--会员信息-->
            <div class="row pd0 pos" on-tap="selMemberCard()">
                <div class="col col-25 plr0 text-left">会员卡</div>
                <div class="col col-75 plr0 text-right fs12">
                    <ion-spinner ng-if="!memberCardInfo" class="spinner-sm" icon="ios-small"></ion-spinner>
                    <span ng-if="selIndex==1">减{{discount}}元</span>
                    <!--<span ng-if="memberCardInfo && selIndex!=1">{{minMemberCardTotal=='10000'?'不可用':'去使用'}}</span>-->
                    <span ng-if="memberCardInfo && selIndex!=1 && binding!=true && minMemberCardTotal==10000">（余额不足）去充值</span>
                    <span ng-if="memberCardInfo && selIndex!=1 && binding==true && minMemberCardTotal==10000">去绑定</span>
                    <span ng-if="memberCardInfo && selIndex!=1 && minMemberCardTotal!=10000">去使用</span>
                </div>
                <div class="arrowIcon"><i class="ion-ios-arrow-forward color-999 fs18"></i></div>
            </div>

            <!--活动信息-->
            <div class="row pd0 pos">
                <div class="col col-25 plr0 text-left">优惠活动</div>
                <div class="col col-75 plr0 text-right fs12" on-tap="showModal(1)">
                    <ion-spinner ng-if="!activityInfo" class="spinner-sm" icon="ios-small"></ion-spinner>
                    <span ng-if="selIndex==2">减{{discount}}元</span>
                    <span ng-if="activityInfo && selIndex!=2">{{minActivityInfo=='10000'?'不可用':'去使用'}}</span>
                </div>
                <div class="arrowIcon"><i class="ion-ios-arrow-forward color-999 fs18"></i></div>
            </div>

            <div class="row pd0 pos">
                <div class="col col-25 plr0 text-left">优惠券</div>
                <div class="col col-75 plr0 text-right fs12" on-tap="showModal(2)">
                    <ion-spinner ng-if="!memberVoucherInfo" class="spinner-sm" icon="ios-small"></ion-spinner>
                    <span ng-if="selIndex==3">减{{discount}}元</span>
                    <!--<span ng-if="memberVoucherInfo && selIndex!=3">{{minMemberVoucherInfo=='10000'?'不可用':'去使用'}}</span>-->
                    <span ng-if="memberVoucherInfo && selIndex!=3 && minMemberVoucherInfo!=10000">去使用</span>
                    <span ng-if="memberVoucherInfo && selIndex!=3 && minMemberVoucherInfo==10000&&bindingVoucher!=true">不可用</span>
                    <span ng-if="memberVoucherInfo && selIndex!=3 && minMemberVoucherInfo==10000&&bindingVoucher==true">去绑定</span>
                </div>
                <div class="arrowIcon"><i class="ion-ios-arrow-forward color-999 fs18"></i></div>
            </div>

            <div class="row pd0 pos">
                <div class="col col-25 plr0 text-left">小计</div>
                <div class="col col-75 plr0 text-right color-red fs12" style="padding-right: 20px!important;">
                    <span class="color-999 mr10" ng-if="selIndex==1">已选会员卡购卖品</span>
                    <span class="color-999 mr10" ng-if="selIndex==2">已选活动购卖品</span>
                    <span class="color-999 mr10" ng-if="selIndex==3">已选优惠劵购卖品</span>
                    <span class="color-999 mr10" ng-if="selIndex==0">已选正常购卖品</span>
                    <span class="fs14">￥</span>{{minPrice | number:2}}
                </div>
            </div>
        </div>

        <div class="gap"></div>
        <div class="modifyTel pos" ng-if="selesParams[0].scanCodeFlag=='ORDER_FOR_GOODS'">
            <input ng-blur="updateTelphone();" class="tel" type="tel" onkeypress="return event.keyCode>=48&&event.keyCode<=57" required name="tel" ng-model="user.mobileNumber" minlength="11" maxlength="11" placeholder="请输入接收短信的手机号">
            <i on-tap="clearText()" class="ion-ios-close fs20 clearText"></i>
        </div>
        <!--</div>-->

        <!--<div style="position: absolute;left: 50%;top: 40%;margin-left: -14px;" ng-if="!querySalesOrderFlag">-->
            <!--<ion-spinner icon="ios-small"></ion-spinner>-->
        <!--</div>-->
<div style="height: 200px"></div>
    </ion-content>
    <div class="fixOrder">
        <div class="text-right pr20 pb10">应付金额:
            <span class="fs18 color-red" ng-if="needPayTotal">￥{{needPayTotal | number:2}}</span>
            <span class="fs18 color-red" ng-if="!needPayTotal">￥{{minPrice | number:2}}</span>
        </div>
        <div on-tap="buildOrder()" nav-direction="forward" class="queryPayBtn">确认支付</div>
        <!--<div on-tap="buildOrder()" nav-direction="forward" class="queryPayBtn">-->
            <!--<img src="./img/yd-zf.png">-->
        <!--</div>-->

    </div>

    <script id="templates/salesactivityList.html" type="text/ng-template">
        <style>
            .modal-backdrop, .modal-backdrop-bg {
                top: auto !important;
                bottom: 0;
                z-index: 100;
                max-height: 400px;
            }

            .modal-backdrop .modal-wrapper {
                max-height: 100%;
                height: 100%;
            }
        </style>
        <ion-modal-view class="layer" stop-propagation="">
            <ion-header-bar class="bar bar-header bar-filter ">
                <div class="text-center" style="width: 100%;line-height: 34px;font-weight: bold;" ng-if="currentShowIndex==1">
                    优惠活动
                </div>
                <div class="text-center" style="width: 100%;line-height: 34px;font-weight: bold;" ng-if="currentShowIndex==2">
                    优惠券
                </div>
                <div class="cancelBtn" on-tap="hideModal()"><i class="ion-ios-close-empty color-999 closeBtn fs26"></i></div>
            </ion-header-bar>
            <ion-content class="activityContent" overflow-scroll="false" scrollbar-y="false" style="background: #fff;">
                <div ng-if="currentShowIndex==1" class="row pos mt5" ng-repeat="item in activityInfo" style="padding-top: 10px;">
                    <div class="col col-10 {{item.lightingFlag=='N'?'opc':''}}" on-tap="toggleSelect(row,$index)">
                        <i style="position: relative;top:2px;color: #998278;" class="icon jyicon fs24">{{item.isActive?'&#xe615;':'&#xe79f;'}}</i>
                    </div>
                    <div class="col col-80 pr0 text-left {{item.lightingFlag=='N'?'opc':''}}" on-tap="toggleSelect(row,$index)">
                        <div class="color-000">{{item.promotionalCopy }} <span ng-if="tuijianActivityInfoId && tuijianActivityInfoId == item.ruleHeaderId" class="tuijian icon jyicon color-red fs24">&#xe69a;</span></div>
                        <div class="fs12 mb5 color-999">
                            优惠价:<span class="color-red mr10"> {{item.skuArray[0].newPriceincents}}元/个</span>
                            <!--普通价:<span class="commonPrice">{{commonPrice}}元/个</span>-->
                            <div>有效期：<span class="color-333">{{item.startDateActive | date:'yyyy.MM.dd'}}-{{item.endDateActive | date:'yyyy.MM.dd'}}</span>
                            </div>
                        </div>
                        <div class="showCon {{item.showCon?'showConActive':''}}" ng-bind-html="item.ruleDesc"></div>
                    </div>
                    <div class="col col-10" style="position: absolute;top: 20px;right: 0;" on-tap="toggleDetail($index)">
                        <div class="arrow-r {{item.showCon?'arrow-r-active':''}}"><i
                                class="{{item.showCon?'ion-ios-arrow-right':'ion-ios-arrow-right'}} color-999"></i>
                        </div>
                    </div>
                </div>

                <div ng-if="currentShowIndex==2" ng-repeat="item in memberVoucherInfo">
                <div  class="row pos mt5 mb10" style="border-bottom: 0!important;">
                    <div class="box yhj-layer-box"  >
                        <div class="yhj-layer-order" ng-class="item.lightingFlag=='N'?'opc':''">
                            <div style="padding-top: 26px">
                                <div class="text-center fs12" ng-class="item.lightingFlag=='N'?'color-d6d6d6':''">{{item.voucherTypeName}}</div>
                            </div>
                        </div>
                        <div class="box1 yhj-layer-order-box">
                            <div class="yhj-layer-radio"   on-tap="toggleSelect(item,$index)">
                                <i class="fs24 icon jyicon" ng-class="item.lightingFlag=='N'?'color-d6d6d6':''">{{item.isActive?'&#xe615;':'&#xe79f;'}}</i>
                            </div>
                            <div class="pt3">
                                <p class="pl0" ng-class="item.lightingFlag=='N'?'color-d6d6d6':''">{{item.voucherDescribe}}*{{item.speciesCodeNum}}张
                                    <i class="icon jyicon" ng-click="use(item)">&#xe60e;</i>
                                </p>
                            </div>
                            <!--<p style="color: red;padding-top: 10px">￥{{row.newPriceincents}}</p>-->
                            <div class="box-order-count1" ng-class="item.lightingFlag=='N'?'color-d6d6d6':''" ng-click="decr(item)">
                                <span>-</span>
                            </div>
                            <span class="box-order-sp" ng-class="item.lightingFlag=='N'?'color-d6d6d6':''">{{item.num}}</span>
                            <div class="box-order-count" ng-class="item.lightingFlag=='N'?'color-d6d6d6':''" ng-click="incr(item)">
                                <span>+</span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="color-999 text-center fs12 pt100" ng-if="currentShowIndex==1 && activityInfo.length==0">
                    <div class="mb10"><i class="icon jyicon fs50" style="color: #e0e0e0;">&#xe646;</i></div>
                    <div class="color-cacaca">暂无数据</div>
                </div>
                <div class="color-999 text-center fs12 pt100" ng-if="currentShowIndex==2 && memberVoucherInfo.length==0">
                    <div class="mb10"><i class="icon jyicon fs50" style="color: #e0e0e0;">&#xe646;</i></div>
                    <div class="color-cacaca">暂无数据</div>
                </div>
            </ion-content>
            <ion-footer-bar class="bar bar-footer bar-filter text-center" style="padding: 0;line-height:43px;text-align: center!important;">
                <div style="width: 100%;background: #998278;color: #fff;" class="text-center fs16" on-tap="confirm()">确定</div>
            </ion-footer-bar>
        </ion-modal-view>
    </script>
    <script id="activityDetail" type="text/ng-template">
        <div class="modal">
            <ion-header-bar>
                <h1 class="title">使用须知</h1>
            </ion-header-bar>
            <ion-content>
                <div class="detail-p">
                    <p ng-repeat="row in rightsMeaningData">{{row}}</p>
                </div>
            </ion-content>
            <ion-footer-bar class="bar bar-footer bar-filter text-center" style="padding: 0;">
                <div class="text-center modalBtn fs16" on-tap="sure()">确定</div>
            </ion-footer-bar>
        </div>
    </script>
</ion-view>
