<ion-view view-title="充值记录">
    <ion-header-bar align-title="center" class="top-xian">
        <a ui-sref="myVipHome" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">充值明细</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false">
        <ion-refresher spinner="ios-small" pulling-icon="" on-refresh="doRefresh()"></ion-refresher>
        <div class="chongzhilist">
        <ul class="list">
            <li class="item" ng-repeat="item in rechargeData">
                <h2>充值</h2>
                <p>{{item.orderTime | date:'yyyy-MM-dd HH:mm'}}</p>
                <h2 class="h2-position" style="color: #dd160a;">{{item.paymentAmount | currency:'￥'}}</h2>
            </li>
        </ul>
        </div>

    </ion-content>
</ion-view>
