<ion-view view-title="选择城市">
    <ion-header-bar align-title="center">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">选择城市</div>
    </ion-header-bar>
    <ion-content>
        <div class="bar item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon fs18"></i>
                <input type="search" name="keywords" ng-change="searchCity()" ng-model="search.keywords" placeholder="搜索">
            </label>
        </div>
        <div ng-if="citys.length==0">
            <div class="row">
                <div class="col text-left fs12" on-tap="changeCity(gpsCity)">
                    <span class="color-aaa">定位城市</span> {{gpsCity}}
                </div>
            </div>
            <div ng-repeat="item in resort">
                <div class="item item-divider cityPosTop item-divider-tit fs12">常去城市</div>
                <ul class="jy-table clearfix">
                    <li on-tap="changeCity(item.cityName)" >{{item.cityName}}</li>
                </ul>
            </div>
            <div ng-repeat="item in cityList">
                <div class="item item-divider cityPosTop item-divider-tit fs12">{{item.areaName}}</div>
                <ul class="jy-table clearfix">
                    <li on-tap="changeCity(subItem.areaName)" title="{{subItem.areaName}}" ng-repeat="subItem in item.City">{{subItem.areaName}}</li>
                </ul>
            </div>
        </div>
        <div ng-if="citys.length>0">
            <ion-list>
                <ion-item ng-repeat="item in citys" on-tap="changeCity(item.areaName)">
                   {{item.areaName}}
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>