<ion-view view-title="商城">
    <ion-content overflow-scroll='false' scrollbar-y="false" style="z-index:100;">
        <div class="text-center" style="position: absolute;top: 50%;left:50%;margin-left: -30px;margin-top: -100px;color: #d0d0d0;">
            <i class="ion-android-playstore fs50"></i>
            <p class="text-center fs12">暂未开放</p>
        </div>
    </ion-content>
    <!--footer-->
    <ion-footer-bar style="z-index: 100;">
        <div class="row homeNav">
            <div class="col" ui-sref="home" nav-direction="none">
                <i class="ion-ios-heart-outline"></i>
                <p class="fs12">推荐</p>
            </div>
            <div class="col" ui-sref="find" nav-direction="none">
                <i class="ion-ios-film-outline"></i>
                <p class="fs12">寻片</p>
            </div>
            <div class="col" ui-sref="shop" nav-direction="none">
                <i class="ion-ios-cart color-af292d"></i>
                <p class="fs12 color-af292d">商城</p>
            </div>
            <div class="col" ui-sref="forum" nav-direction="none">
                <i class="ion-ios-chatbubble-outline"></i>
                <p class="fs12">论坛</p>
            </div>
            <div class="col" ui-sref="account" nav-direction="none">
                <i class="ion-ios-person-outline"></i>
                <p class="fs12">我的</p>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
