<ion-view view-title="创建订单">
    <ion-header-bar align-title="center">
        <a ui-sref="home" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">创建订单</div>
    </ion-header-bar>
    <ion-content overflow-scroll='false' scrollbar-y="false" scrollbar-x="false">
        <ion-refresher spinner="ios-small" pulling-icon="" on-refresh="doRefresh()"></ion-refresher>
        <div class="pd10">
            <div class="waiting"></div>
            <p class="text-center fs14 mb5">正在创建订单...<ion-spinner style="position:relative;top:8px;" icon="dots"></ion-spinner> </p>
            <p class="text-center fs12 color-999">若遇到系统创建订单失败,请联系客服</p>
        </div>
        <div class="text-center mt30">
            <button class="refreshTicket" on-tap="findMyOrderInfo()">刷新重新获取</button>
        </div>
    </ion-content>
</ion-view>
