<ion-view view-title="世界杯有奖竞猜">
    <!--<ion-header-bar class="calm-border" align-title="center">-->
        <!--<a ui-sref="account" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>-->
        <!--<div class="h1 title">世界杯有奖竞猜</div>-->
    <!--</ion-header-bar>-->
    <!--<a  back-button=""  nav-direction="back" class="backButton noBar"><i class="ion-ios-arrow-left fs32"></i></a>-->
    <ion-content scrollbar-y="false" >
        <div class="ball"  ui-sref="home">
            <img style="width: 50%" src="./img/wc-home.png">
        </div>
        <div>
            <div style="font-size: 30px; padding:50px 0px 12px 0px;font-weight: 600;text-align: center;">世界杯有奖竞猜</div>
            <div>
                <img src="img/wc2.jpg">
            </div>
            <div class="worldCup-RS">RUSSIA <span style="color: #fb3122;">2018</span></div>
            <div class="worldCup-cup">FIFA WORLD CUP</div>
            <p ui-sref="worldCup-quiz" style=" text-align: center; padding: 10px; font-size: 20px; color: #998278;text-shadow: 5px 5px 5px #af8585;">活动入口</p>
            <div style="text-align: center;" ui-sref="worldCup-quiz">
                <img style="width: 30px;height: 30px;margin-right: -15px;" src="./img/ball.png">
                <i class="ion jyicon worldCup-i" style="opacity: 0.4;">&#xe61d;</i>
                <i class="ion jyicon worldCup-i" style="opacity: 0.6;margin-left: -25px">&#xe61d;</i>
                <i class="ion jyicon worldCup-i" style="opacity: 0.8;margin-left: -25px">&#xe61d;</i>
                <i class="ion jyicon worldCup-i" style="margin-left: -25px">&#xe61d;</i>
                <img  style="width: 30px;height: 30px;margin-left: -14px;"  src="./img/men.png">
            </div>
        </div>

    </ion-content>
</ion-view>