<ion-view view-title="广州金逸影城">
    <ion-header-bar class="calm-border" align-title="center">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">世界杯竞猜</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false" class="worldcup-bg" >
        <div style="margin-bottom: 10px" ng-repeat="item in MatchInfosData">
        <div style="padding: 10px 0px 0px 0px;;text-align: center;color: white;font-size: 16px;">{{item.day}}</div>
            <div  ng-repeat="row in item.value" style="margin: 10px;">
                <div class="flex" style="color: #101010;background-color: rgba(255,255,255,0.6);border-radius: 10px;">
                        <div  style="text-align: center;position: relative;width: 30%">
                            <div style="margin-top: 25px"><img style="width: 70%" ng-src="{{row.playerTeamImgMain}}"></div>
                            <p style="margin-top: -2px">{{row.playerTeamNameMain}}</p>
                            <p style="margin-top: 10px" ng-if="row.active!=1"><img style="width: 70%" src="./img/nowin.png"  on-tap="choose(row,1)"></p>
                            <p style="margin-top: 10px"  ng-if="row.active==1"><img style="width: 70%" src="./img/win.png" on-tap="choose(row,1)"></p>
                            <!--<div class="worldCup-btn {{row.active==1?'active':''}}" on-tap="choose(row,1)">-->
                            <!--胜-->
                            <!--</div>-->
                        </div>
                        <div  style="text-align: center;position: relative;width: 40%">
                            <p class="fs12" style=" height: 21px;">{{row.matchDate}}  {{row.matchName}}</p>
                            <p style="margin-top: 10px"><img style="width: 60%" src="./img/ping.png"></p>
                            <p style="margin-top: 19px" ng-if="row.active!='IN_DRAW'"><img style="width: 53%" src="./img/nowinW.png"  on-tap="choose(row,'IN_DRAW')"></p>
                            <p style="margin-top: 19px" ng-if="row.active=='IN_DRAW'"><img style="width: 53%" src="./img/winW.png"  on-tap="choose(row,'IN_DRAW')"></p>
                            <!--<div class="worldCup-btn {{row.active=='IN_DRAW'?'active':''}}" on-tap="choose(row,'IN_DRAW')">-->
                            <!--平-->
                            <!--</div>-->
                        </div>
                        <div  style="text-align: center;position: relative;width: 30%">
                            <div style="margin-top: 25px"><img style="width: 70%" ng-src="{{row.playerTeamImgSecond}}"></div>
                            <p style="margin-top: -2px">{{row.playerTeamNameSecond}}</p>
                            <p style="margin-top: 10px"  ng-if="row.active!=2"><img style="width: 70%" src="./img/nowin.png" on-tap="choose(row,2)"></p>
                            <p style="margin-top: 10px" ng-if="row.active==2"><img style="width: 70%" src="./img/win.png"  on-tap="choose(row,2)"></p>
                            <!--<div class="worldCup-btn {{row.active==2?'active':''}}" on-tap="choose(row,2)">-->
                            <!--胜-->
                            <!--</div>-->
                        </div>
                </div>
            </div>
            </div>
      <div style="height: 50px"></div>

    </ion-content>
    <div ng-if="currentGuessingTimes" style="position: absolute;bottom: 40px;right: 0px;background: white;text-align: center;padding: 5px 10px;;border-top-left-radius: 8px;">今天还可竞猜 {{currentGuessingTimes}} 个场次</div>
    <ion-footer-bar style="background: #998278;">
        <div class="row homeNav" style="color: white;">
            <div class="col" on-tap="myWorld()">
                <p style="margin-top: 5px">我的</p>
            </div>
            <div style="position: absolute;height: 45px;width: 1px;background: #ddd;left: 50%"></div>
            <div class="col" on-tap="sure()">
                <p style="margin-top: 5px">确认</p>
            </div>
        </div>
    </ion-footer-bar>
    <div id="phonelogin" ng-if="showFlag">
        <div id="phonelogin-inner" style="background: #ede3d3;height: auto;">
           <p>您已选择：</p>
            <div style="height: 200px;overflow-y: scroll">
            <div ng-repeat="row in MatchInfosData">
                <div ng-repeat="item in row.value" ng-if="item.active">
                <div style="padding: 3px 5px;background: #ede3d3;text-align: center">{{item.matchDateNew}}</div>
                <div style="border-bottom: 1px solid white">
                    <p style="font-size: 14px;font-weight: 600;text-align: center"> {{item.playerTeamNameMain}}  <span class="ml20 mr20">vs</span> {{item.playerTeamNameSecond}} </p>
                    <p style="margin-left: 57px;color: #998278; margin-bottom: 5px;" ng-if="item.active==1">胜</p>
                    <p style="margin-left: 118px;color: #998278; margin-bottom: 5px;" ng-if="item.active=='IN_DRAW'">平</p>
                    <p style="margin-left: 160px;color: #998278; margin-bottom: 5px;" ng-if="item.active==2">胜</p>
                </div>
                </div>
            </div>
            </div>
            <p style="text-align: center;font-size: 12px">(确认后不可更改)</p>
            <div class="flex">
                <div class="worldCup-btn1" on-tap="chooseAgain()">重选</div>
                <div class="worldCup-btn1" style="margin-left: 48px"  on-tap="submissionOptions()">确认</div>
            </div>
        </div>
    </div>
    <!--手机号码直接注册或登录-->
    <div id="phonelogin" ng-if="needBind">
        <div id="phonelogin-inner">
            <div class="fs16 text-center mb10"><strong>登陆</strong></div>
            <div class="phoneloginWrap">
                <div class="box">
                    <div class="box1"><input ng-model="bindPhone.mobileNumber"  maxlength="11" type="tel" placeholder="请输入手机号码"></div>
                    <div class="phonelogin_yzm fs12" on-tap="sendYzm()">{{sendYzmFlag}}</div>
                </div>
            </div>
            <div class="phoneloginWrap"><input ng-model="bindPhone.vertifyCode" type="text" placeholder="请输入验证码"></div>
            <label class="item item-input item-input-lg" style="padding: 6px 0 0px 4px;border: 1px solid #ddd;">
                <span class="input-label color-000 fs14">图形码</span>
                <input type="number" ng-pattern="/\d{5}/" maxlength="5" ng-model="bindPhone.captcha1" required placeholder="请输入图形码">
                <div class="mr10" on-tap="getCode()" style="width:140px!important;"><img ng-src="{{yzmCode}}" alt=""/></div>
            </label>
            <div class="mt10"><button style="background: #998278" class="button button-block button-assertive" on-tap="login()">立即登录</button></div>
            <div style="text-align: center;text-decoration: underline;" on-tap="goLogin()">使用其它登录方式</div>
            <div on-tap="hide()" class="icon jyicon fs16" style="border-top-right-radius: 8px;position: absolute;top: 0;right: 0;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 3px 5px;background: #f2f2f2;border-bottom-left-radius: 5px;color: #666;">&#xe651;</div>
        </div>
    </div>
</ion-view>