<ion-view view-title="个人中心" class="yd-home" >

  <div class="user-center-block yd-account" nav-direction="forward">
    <div class="qian-dao" ng-if="userInfo">
      <!--<i  class="icon jyicon fs18" >&#xe65f;</i>-->
      <span  ui-sref="dailyQuestion" nav-direction="forward">每日答题</span>
      <span style="color: white" ui-sref="dailyCheck" nav-direction="forward">
          <i class="icon jyicon fs18" ui-sref="dailyCheck" nav-direction="forward" >&#xe65f;</i>
          签到
      </span>
      <!--<i ng-if="sign==false" class="icon jyicon fs18" >&#xe61e;</i>-->
      <!--<span ng-if="sign==false" >已签到</span>-->
    </div>

    <div class="setting text-right pb10 pt10 pr10" ng-if="userInfo" style="padding-top: 45px">
      <!--<a ui-sref="setUp" class="icon iconfont fs22 mr15" nav-direction="forward"><i class="ion-gear-a set" ></i> <span class="fs14 color-fff" style="position: relative;top: -3px;">设置</span></a>-->
      <!--<a on-tap="menuSelect('messageCenter')" class="icon iconfont fs22" nav-direction="forward"><i class="ion-android-notifications-none set"></i></a>-->
    </div>
    <div style="display: flex;">
      <div ng-if="userInfo" class="user-pic" on-tap="showImageUploadChoices()" style="background: url('{{userInfo.logoImageUrl || userPic}}') #fff no-repeat center;background-size: cover;"></div>
      <div ng-if="!userInfo" class="loginTip clearfix" style="margin-top: 67px;">
        <div class="login-img"><img ui-sref="login" nav-direction="forward" src="img/user.png"></div>
        <span class="fs14 mr1 active"  ui-sref="login" nav-direction="forward">登录</span>
        <span class="fs14 mr1 ml10" ui-sref="register" nav-direction="forward">注册</span>
      </div>
      <div ng-if="userInfo" class="user-info" ui-sref="personalInformation">
        <p class="fs16" style="height: 20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{userInfo.mmbName}}</p>
        <p class="mt10" style="height: 20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">个性签名：{{userInfo.selfIntroduction}}</p>
      </div>
    </div>

    <i ng-if="userInfo" ui-sref="personalInformation" class="ion-ios-arrow-right rBtn fs34"></i>
    <div class="accountmember-box2" ng-if="userInfo">
      <div class="member-tiao ml20">
        <div class="member-tiao-true" ng-style="{width:progress+3+'%'}"></div>
      </div>
      <div class="memberCenter-box2"  ui-sref="memberCenter" >
        <div ng-repeat="item in leveGrowData" style="width: 20%" >
          <div class="memberCenter-box2-div1" ng-if="memberLevelData[0].description!=item.meaning" >{{item.lookupCode}}</div>
          <div class="memberCenter-box2-div1" ng-if="memberLevelData[0].description==item.meaning" style="color: #fffcfc">{{item.lookupCode}}</div>
        </div>
      </div>
      <div class="memberCenter-box2"  ui-sref="memberCenter"  style="margin-top: -3px" ng-if="!leveGrowData">
        <div  style="width: 20%">
          <div class="memberCenter-box2-div1" style="color: #fffcfc" ></div>
        </div>
      </div>
      <p   style="text-align: center;color: white"><span ui-sref="memberCenter">{{planData[0].description}}</span> <span on-tap="show()">（点击切换）</span></p>
    </div>
  </div>

  <div class="accountmember-box1">
    <p>
      <span>{{cardIntegral}}</span>
      <span style="color: black;font-size: 13px;">积分</span>
    </p>
    <p>
      <span>{{cardBalance}}</span>
      <span style="color: black;font-size: 13px;">余额</span>
    </p>
    <p>
      <span>{{cardLevel}}</span>
      <span style="color: black;font-size: 13px;">卡等级</span>
    </p>
    <p ui-sref="yhj" nav-direction="forward">
      <span>{{couponCount}}</span>
      <span style="color: black;font-size: 13px;">可用券</span>
    </p>
  </div>

  <ion-content scrollbar-y="false" style="top: 295px;" class="bxjg-currentLine account-content-768px">
    <table class="user-moudle" check-login style="background: white;">
      <tr>
        <td ref="homePage" class="pos">
          <i class="icon jyicon fs28" style="color: #0c98af;">&#xe64d;</i>
          <p>我的主页</p>
        </td>
        <!--<td ref="memberCenter">-->
        <!--<i class="icon jyicon fs28" style="color: #998278;">&#xe634;</i>-->
        <!--<p>会员中心</p>-->
        <!--</td>-->
        <td ref="myOrder">
          <i class="icon jyicon fs30" style="color: #998278;">&#xe8c3;</i>
          <p>我的订单</p> </a>
        </td>
        <td ref="messageCenter" class="pos">
          <i class="icon iconfont fs28" style="color: #0c98af;">&#xe626;</i>
          <div class="messageCenter-yuan" ng-if="noRead">{{noRead}}</div>
          <p>消息通知</p>
        </td>

      </tr>
      <tr>
        <td ref="helpCenter">
          <i class="icon iconfont fs28" style="color: #11c1f3;">&#xe60b;</i>
          <p>帮助中心</p>
        </td>
        <td ref="myWallet">
          <img style="width: 28px;" src="./img/wallet.png">
          <p>我的钱包</p>
        </td>
        <td ref="couponCenter">
          <i class="icon jyicon fs30" style="color:#d87852">&#xe637;</i>
          <p>礼券中心</p>
        </td>


      </tr>
      <tr>
        <td ref="myFootprint">
          <i class="icon iconfont fs28" style="color: #28a54c;">&#xe619;</i>
          <p>我的足迹</p>
        </td>
        <td ref="business">
          <i class="icon jyicon fs26" style="color: #28a54c;">&#xe618;</i>
          <p>金逸文化</p>
        </td>
        <td ref="setUp">
          <i class="icon jyicon fs26" style="color: #998278;">&#xe7da;</i>
          <p>系统设置</p>
        </td>

      </tr>


    </table>
  </ion-content>
  <ion-footer-bar class="yd-bar-footer iphonexFoot" style="border-top:  1px solid #f5f5f5;">
    <div class="row homeNav">
      <div class="col" ui-sref="home" nav-direction="none">
        <i class="icon jyicon">&#xe601;</i>
        <p class="fs12">推荐</p>
      </div>
      <div class="col"  ui-sref="category({catId:4,index:0})" nav-direction="none">
        <i class="icon jyicon">&#xe619;</i>
        <p class="fs12">商城</p>
      </div>
      <div class="col">
      </div>
      <div class="col" ui-sref="forum" nav-direction="none">
        <i class="icon jyicon">&#xe67b;</i>
        <p class="fs12">圈子</p>
      </div>
      <div class="col" ui-sref="account" nav-direction="none">
        <i class="icon jyicon color-998278">&#xe607;</i>
        <p class="fs12 color-998278">我的</p>
      </div>
    </div>
    <div class="sogou" on-tap="sougou()">
      <img src="img/sugou.png">
    </div>
  </ion-footer-bar>

</ion-view>
