<ion-view view-title="收货地址维护">
    <ion-header-bar class="calm-border iphone-x-head" align-title="center">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">{{addressStatus=='edit'?'修改收货地址':'添加收货地址'}}</div>
        <button on-tap="saveAddress()" type="submit" class="button button-clear pg10 pg11 iphone-x-button">
            保存
        </button>
    </ion-header-bar>
    <ion-content scrollbar-y="false" class="iphone-x-content">
        <div class="list passlist item-pz pg16">
            <div style="padding: 5px 15px;background: #f5f5f5;">
                联系人
            </div>
            <label class="item item-input">
                <span class="input-label" style="width: 80px;">姓名:</span>
                <input type="text" placeholder="请输入收货人姓名" ng-model="address.name">
            </label>
            <!--<label class="item item-icon-right" on-tap="show()">-->
            <!--<span style="width: 80px;display: inline-block"> 性别:</span>-->
            <!--<span ng-if="!address.sex"></span>-->
            <!--<span ng-if="address.sex">{{address.sex=='MAN'?'先生':'女士'}}</span>-->
            <!--<div class="icon ion-ios-arrow-right ion-tu-biao"></div>-->
            <!--</label>-->
            <label class="item item-input">
                <span class="input-label" style="width: 80px;">电话:</span>
                <input type="tel" placeholder="请输入收货人手机号"  maxlength="11" ng-model="address.phone">
            </label>

            <div style="padding: 5px 15px;background: #f5f5f5;">
               收货地址
            </div>

            <!--<div style="padding: 15px 15px;position: relative;font-size: 16px">-->
                <!--所在地区-->
                <!--<div style="position: absolute;right: 10px;top: 16px;" id="demo1">-->
                    <!--<i class="iconfont jyicon fs20">&#xe60a;</i>-->
                    <!--点击选择-->
                    <!--<i class="iconfont jyicon fs20">&#xe61d;</i>-->
                <!--</div>-->
            <!--</div>-->
            <div style="padding: 16px;position: relative">
                <span style="font-size: 16px">所在地区:</span>
                <input id="demo1" style="background: white;position: absolute;top: 0px;margin-left: 73px;width: 100%;height: 100%" type="text" readonly=""  ng-model="address.demo1" placeholder=""/>
                <i class="iconfont jyicon fs20" style="position: absolute;right: 10px">&#xe61d;</i>
            </div>
            <div id="value1"></div>
        <label class="item item-input">
                <span class="input-label" style="width: 80px;">详细地址:</span>
                <input type="text" placeholder="街道、楼牌号等" ng-model="address.detial">
            </label>

            <ul class="block list address-bt">
                <li class="item item-toggle">
                    设为默认
                    <label class="toggle toggle-jy">
                        <input type="checkbox" ng-model="address.checked" ng-checked="address.checked">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
