<ion-view view-title="会员卡绑定">
    <ion-header-bar align-title="center" class="iphone-x-head">
        <a href="#/myVipHome" nav-direction="back" class="backButton"><i class="icon iconfont">&#xe625;</i></a>
        <div class="h1 title">会员卡绑定</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false" class="iphone-x-content">
        <div class="list buildlist">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-android-unlock placeholder-icon"></i>
                    <span>卡 号:</span>
                    <input type="text" placeholder="">
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-android-unlock placeholder-icon"></i>
                    <span>密 码:</span>
                    <input type="password" placeholder="请输入6位密码">
                </label>
            </div>
            <div class="list list-inset" >
                <label class="item item-input">
                    <i class="icon ion-android-phone-portrait placeholder-icon "></i>
                    <span>手机号码:</span>
                    <input type="text" placeholder="请输入开卡手机号码">
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-briefcase placeholder-icon"></i>
                    <input type="text" placeholder="请输入验证码">
                    <button on-tap="getVerifyCode()" class="button button-select btn-huoqu button-small">{{btnName}}</button>
                </label>
            </div>

            <div class="item item-borderless">
                <p>1.卡绑定后，只限本人在金逸影城官网和移动端使用消费</p>
            </div>
            <div class="item item-borderless pt0">
            <button ng-click="bingCard()" class="button button-block button-buildCard" >
                <span>绑&nbsp&nbsp&nbsp&nbsp定</span>
            </button>
            </div>
        </div>


    </ion-content>
</ion-view>
