<ion-view view-title="购买详情">
  <ion-header-bar align-title="center" class="iphone-x-head">
    <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <div class="h1 title">购买详情</div>
  </ion-header-bar>
  <ion-content overflow-scroll="false" scrollbar-y="false" has-bouncing="false" class="iphone-x-content">
    <div class="list" ng-repeat="item in rightsDetailData" style="margin-bottom: 22px">
      <div class="my-rights-img">
        <img ng-src="{{item.accessPath}}">
        <!--<span class="my-rights-sp">￥{{item.sales}}</span>-->
        <!--<p class="my-rights-p2">{{item.timeData}}</p>-->
        <p class="my-rights-p">{{item.equitycardCode}}</p>
        <p class="my-rights-p1">售价：<span style="color: red">￥{{item.sales}}</span> | <span class="">{{item.skuSourceTypeIdName}}</span></p>
      </div>
    </div>
    <div class="bor"></div>
      <a class="item item-icon-left" >
        <i class="icon jyicon color-998278">&#xe618;</i>
        <h2>使用须知</h2>
      </a>
      <a class="item pt0" ng-repeat="item in rightsDetailData" >
        <p class="mt10" ng-bind-html="item.specInfoSku"></p>
      </a>
    <div class="bor"></div>
    <!--<a class="item" style="text-align: center" ui-sref="equityAgreement" nav-direction="forward">-->
      <!--我已阅读并同意《权益卡协议》-->
    <!--</a>-->
    <div class="item" nav-direction="forward" style="text-align: center">我已阅读并同意
    <a style="text-decoration: underline;" class="color-af292d" ui-sref="equityAgreement" nav-direction="forward">《权益卡协议》</a>
    </div>
    <div style="height: 50px"></div>
  </ion-content>
  <div class="fixOrder-kf" style="background: none;background-color: white">
    <a href="tel:400 000 8008" class="rightsPayBtn-kf"><i class="icon jyicon color-998278 icon-kf">&#xe7bf;</i>客服</a>
    <div class="rightsPayBtn" ng-repeat="item in rightsDetailData" on-tap="buildRightsSales()">￥{{item.sales}}{{status}}</div>
  </div>
</ion-view>
