    <ion-view view-title="修改手机">
          <ion-header-bar align-title="center" class="top-xian iphone-x-head">
              <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
                     <div class="h1 title">修改手机</div>
                   </ion-header-bar>
                 <ion-content scrollbar-y="false" class="iphone-x-content">
                     <form  role="form" w5c-form-validate="vm.validateOptions" novalidate name="myForm" >
                         <div class="list passlist item-pg">
                             <label class="item item-input">
                                 <span class="input-label">原手机号码:</span>
                                 <span id="mobileNumber">{{userInfo.mobilenumber}}</span>
                             </label>
                             <label class="item item-input">
                                 <span class="input-label">填写验证码:</span>
                                 <input ng-pattern="/^\d{6}$/" required="" name="phoneCaptcha" ng-model="personInfo.vCode" type="number">
                                 <button on-touch="yzmPhone()" ng-disabled="disabledbtn" ng-class="paraclass" ng-bind="gain" class="button btn-pgr fs13">{{gain}}</button>
                             </label>
                         </div>
                         <div class="btn-cp">
                             <button ng-click="myForm.$errors.length > 0 && vm.showErrorType == 2 ? alertError(myForm.$errors[0]) : ''" w5c-form-submit="editPhone()" class="button button-block button-full button-buildCard">
                                 下一步
                             </button>
                         </div>
                     </form>
                 </ion-content>
    </ion-view>
