<ion-view view-title="取回密码">
    <ion-header-bar class="calm-border bg-img iphone-x-head" align-title="center">
        <a href="#/findPassword" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title text-center">
            找回密码
        </div>
    </ion-header-bar>
    <ion-content scrollbar-y="false" scroll="false" class="bg-img iphone-x-content">
            <div class="{{img.status}}"><img src="img/icon1.png" alt=""/></div>
            <div class="pos mb40 mt20 clearfix">
                <a><div class="step step1">确认账号<span>1</span></div></a>
                <div class="step step2 active">修改密码<span>2</span></div>
            </div>
            <form role="form" w5c-form-validate="vm.validateOptions" novalidate name="myForm">
            <div class="list list-inset register-list pt26" style="background-color:rgba(0,0,0,0);">
                <label class="item item-input lb-p">
                    <i class="icon ion-android-wifi placeholder-icon"></i>
                    <input ng-focus="imgSmall()"  ng-pattern="/^\d{6}$/" required="" ng-model="pswInfo.phoneCaptcha" name="phoneCaptcha" type="number" placeholder="请输入验证码">
                    <!--<button on-touch="yzmFind()" ng-disabled="disabledbtn" ng-class="paraclass" ng-bind="gain" class="button button-select btn-getYzm button-yzm">{{gain}}</button>-->
                    <div ng-if="yzmFlag" ng-disabled="{true:'disabled'}[!registerData.tel]" class="button button-small button-register yzmBtn" on-tap="yzmFind()">获取验证码</div>
                    <button ng-if="!yzmFlag" stop-propagation="" disabled="disabled" class="button button-small button-register yzmBtn">{{leftTime}}s后重新获取</button>

                </label>
                <label class="item item-input lb-p">
                    <i class="icon ion-android-unlock placeholder-icon"></i>
                    <input ng-focus="imgSmall()"  ng-pattern="/^[a-zA-Z0-9]+$/" required="" ng-model="pswInfo.password" ng-minlength="6" ng-maxlength="18" required="" type="password" name="password6_18" placeholder="请输入密码">
                </label>
                <label class="item item-input lb-p">
                    <i class="icon ion-android-unlock placeholder-icon"></i>
                    <input ng-focus="imgSmall()" ng-blur="imgBig()" ng-model="pswInfo.repeatPassword" required="" type="password" w5c-repeat="password6_18" name="repeatPassword6_18" placeholder="请再次输入密码">
                </label>
                <a nav-direction="none"><div class="mt18"><button ng-click="myForm.$errors.length > 0 && vm.showErrorType == 2 ? alertError(myForm.$errors[0]) : ''" w5c-form-submit="confirmRevise()" class="button button-select button-block">确定修改</button></div></a>
            </div>
            </form>
    </ion-content>
</ion-view>
