<ion-view view-title="帮助中心">
    <ion-header-bar align-title="center" class="top-xian iphone-x-head">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">帮助中心</div>
        <a style="top: -8px;right: 10px" class="icon iconfont scan fs22 tel iphone-x-icon3" on-tap="callPhone()">&#xe603;</a>
        <span class="iphone-x-icon3" style="position: absolute;right: 6px;top: 24px;z-index: -1;">客服热线</span>
    </ion-header-bar>
    <ion-content scrollbar-y="false" has-bouncing="false" class="iphone-x-content">
        <!--<div class="list buytickettip" ng-repeat="item in resMenuTree">-->
            <!--<h1 class="item"><i class="{{item.data[0].menuListIcon}}"></i> {{item.data[0].classCodeName}}</h1>-->
            <!--<a ng-repeat="subItem in item.data" class="item item-icon-right" ui-sref="commonDetail({params:'{{subItem.faqTitle}}'})" nav-direction="forward">-->
                <!--<h2> {{subItem.faqTitle}}</h2>-->
                <!--<div class="icon ion-ios-arrow-right ion-tu-biao"></div>-->
            <!--</a>-->
            <!--<div ng-if="$index!=resMenuTree.length-1" class="gap"></div>-->
        <!--</div>-->
        <p class="hpc-p">猜你想问</p>
        <p class="hpc-p1" ng-repeat="item in topData" ui-sref="commonDetail({params:'{{item.faqTitle}}'})" nav-direction="forward">{{item.settopProblem}}</p>


        <p class="hpc-p" style="margin-top: -1px;">常见问题</p>

        <div class="flex" style="border-bottom: 1px solid #f8f8f8;" ng-repeat="item in  remarkData">
            <div class="hpc-new" on-tap="getData(item)">
                <i class="ion jyicon" style="font-size: 28px;color: #998278;" ng-bind-html="item.code">&#xe64d;</i>
                <p>{{item.classCodeName}}</p>
                <i ng-if="item.down" class="ion jyicon">&#xe611;</i>
                <i ng-if="!item.down" class="ion jyicon">&#xe81b;</i>
            </div>
            <div style="width: 75%;border-left: 1px solid #f8f8f8;">
                <div style="height: 43px; padding: 10px;border-bottom: 1px solid #f8f8f8;" ui-sref="commonDetail({params:'{{item.content[0].faqTitle}}'})" nav-direction="forward">
                    {{item.content[0].faqTitle}}
                </div>
                <div style="height: 43px; padding: 10px;border-bottom: 1px solid #f8f8f8;" ui-sref="commonDetail({params:'{{item.content[1].faqTitle}}'})" nav-direction="forward">
                    {{item.content[1].faqTitle}}
                </div>
                <div style="height: 43px; padding: 10px;border-bottom: 1px solid #f8f8f8;" ng-repeat="row in item.bb" ui-sref="commonDetail({params:'{{row.faqTitle}}'})" nav-direction="forward">
                    {{row.faqTitle}}
                </div>
            </div>
        </div>
        <div style="height:120px"></div>
    </ion-content>
    <div id="bang" class="fixOrder" style="background: #fff">
        <div class="queryPayBtn" style="margin: 10px;" ui-sref="feedBack">我要咨询</div>
    </div>
</ion-view>
