<ion-view view-title="消息中心">
    <ion-header-bar align-title="center" class="iphone-x-head">
        <a href="#/tab/dash" nav-direction="back" class="backButton"><i class="icon iconfont">&#xe625;</i></a>
        <div class="h1 title">消息中心</div>
    </ion-header-bar>

    <ion-content scrollbar-y="false" class="iphone-x-content">
        <div class="list-info">
        <div class="list">
            <div class="item col pr10 pb10">
                <button class="button button-small mr20">喜欢</button>
                <button class="button button-small ">不喜欢</button>
            </div>
            <a class="item" href="#">
                <h2>金逸影院《寒战2》提前预售</h2>
                <p>今天08:01</p>
             </a>
            <a class="item">
                <h2>7月8日全国热映，《无间道》后香港电影巅峰之作</h2>
                <p>前天08:01</p>
            </a>
        </div>
        </div>
    </ion-content>
</ion-view>
