<ion-view view-title="金逸动态详情">
    <ion-header-bar align-title="center" class="top-xian iphone-x-head">
        <a back-button="" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">金逸动态</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false" class="iphone-x-content">
        <h2 style="padding:20px 30px;border-bottom: 1px solid #f5f5f5;text-align: center;color: #000;font-size:20px;">{{jydtData[id].tit}}</h2>
        <ion-scroll zooming="false" scrollbar-x="false" direction="x" ><div class="row theatre-scroll"><div class="col col-33" ng-repeat="item in bannerCommon"><img style="height:12vh" ng-src="{{item.url}}" alt=""/></div></div></ion-scroll>
        <div class="businessContent pl10 pr10" ng-bind-html="jydtData[id].content"></div>
    </ion-content>
</ion-view>
