<ion-view view-title="{{title}}">
    <ion-header-bar align-title="center" class="iphone-x-head">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">{{'金逸会员章程'}}</div>
    </ion-header-bar>
    <ion-content scrollbar-y="false" class="iphone-x-content">
        <div class="membershipRegulationsDetail" style="padding: 5px 15px 5px 15px;">
            <h3>金逸电影APP线上会员须知</h3>
            <br/>
            <p>尊敬的用户，感谢您下载并使用“金逸电影APP”，金逸电影会员须知（以下简称“会员须知”）是面向全国金逸直营影城（以下简称“金逸影城”）会员制定的服务细则及权益说明，成功申请成为金逸会员即视为该会员认同并遵循本会员须知的所有内容及规定。请您仔细阅读以下须知：</p>

            <h4>购票须知</h4>
            <strong>（一）会员开卡申请流程 </strong>
            <p>您可在金逸电商平台（官网、App、微信公众号）办理不同储值金额的会员卡，所购卡为钻石卡电子卡（无实体卡）。持电子卡的会员应尽快至影城前台完善个人生日等相关信息。会员可持电子卡会员码在影城前台使用消费，若需替换成实体卡需缴纳工本费。
            </p>
            <strong>（二）用卡规则 </strong>
            <p>1、会员卡充值额须为100元的整数倍，最低充值金额为100元。</p>
            <p>2、线上钻石会员卡为储值卡，可在全国金逸直营影城消费并享受相应折扣优惠。卡内余额只可用于消费，不能提现。 </p>
            <p>3、为保障会员权益及个人隐私，影城不提供以电话形式查询会员卡相关信息的服务。</p>
            <p>4、如您发现任何可疑的、非本人操作的用卡行为， 您可及时与您的购卡影城联系，并申请将该卡账户进行冻结操作。</p>
            <p>5、转让：如您的电子会员卡绑定的手机号码发生了变更，导致电子会员卡无法使用， 请您及时与您的购卡影城联系，经身份核实后，将为您做个人信息变更处理。</p>
            <p>6、退卡：您购买的电子会员卡暂不支持在线退卡。</p>

            <h4>会员权益</h4>
            <strong>（一）购票、卖品消费优惠 </strong>
            <p>1、“金逸电影APP”上所发行的钻石卡电子卡可享受金逸影城门市价5-8折的优惠，同时享有多项持卡会员专属权益，具体以您所消费观影的影城线下的活动优惠政策及使用规则为准。</p>
            <p>2、会员购票消费不享受折上折优惠（特殊时段可能存在多种优惠方式，仅可选择其中一种）。会员折后票价若低于制片或发行方最低票价，需由会员补足差价，具体以金逸影城公告为准。</p>
            <strong>（二）会员卡积分获取与使用</strong>
            <p> 1、积分获取原则</p>
            <p>使用会员卡储值支付，每消费1元积1分，会员逢周三会员日消费，可获双倍积分。影城逢店庆或其他重要节日举办相关会员活动期间，会员消费可获赠积分或享双倍积分，具体活动细节以官网和影城公告为准。</p>
            <p>消费金额所产生积分于次日零点生效。会员获取的积分将于次年12月31日清零（如会员2018年2月1日获得的200积分将于2019年12月31日清零）。</p>
            <p>2、积分的使用</p>
            <p> （1）兑换电影票</p>
            <p>&nbsp;&nbsp;钻石卡1000积分兑换一张2D/3D普通厅影票、2000积分兑换一张特色厅影票。学生卡、VIP卡和金卡2000积分兑换一张2D/3D普通厅影票。（具体规定参照影城公示，限影城端兑换）</p>
            <p>（2）积分换礼</p>
            <p>&nbsp;&nbsp;钻影城推出的电影衍生品或其他丰富礼品，可凭积分兑换，一经兑换不得退换（详情参考金逸官网或影城微博、微信每月公示）。</p>
            <strong> （三）会员购票服务</strong>
            <p> 1、会员线上购票服务</p>
            <p>会员线上购票服务操作步骤：登录金逸官网www.jycinema.com（金逸电影）、APP（金逸电影）或微信公众号（金逸电影），微信等方式登录后即可享受线上购票的便捷服务。完成登录、绑卡操作后，进入官网页面进行在线购票，购票流程：选择影城—选择影片—选择座位—信息确认—成功购票信息确认。</p>
            <p>支付成功，系统会将取票码以短信的方式发送到接收取票码的手机上，会员也可以到个人中心-我的订单中查看取票码。</p>
            <p>购票完成后，用户凭取票码到金逸影院的自助取票机上取票。</p>
            <p>注意事项：</p>
            <p>（1）手机验证码为开卡预留的手机号接收到的短信验证码；会员卡支付密码为会员卡开卡时设置的6位支付密码。</p>
            <p>（2）每位注册用户仅可绑定一张会员卡。</p>
            <p>2、为保障个人账户安全，建议定期修改密码</p>
            <p>修改线上登录密码，具体操作步骤如下：登录成功后，点击用户名依次进入个人中心>安全设置；点击并填写短信验证码；填写新密码；再次确认新密码；点击保存修改。</p>
            <p>3、网上购票成功后，会员可凭取票码前往影城自助机取票。</p>
            <p>4、退票服务：</p>
            <p>（1）电影票购买成功后，如需退票请在电影开映前1小时致电金逸客服4000-008-008进行退票退款（客服值班时间 10:00-22:00），非客服值班时间段退票可联系影城工作人员。</p>
            <p>（2）因系统原因，已打印和已开映场次的影票不能办理退票退款服务。</p>
            <p>（3）办理退票退款后，款项即返回会员账户。</p>
            <p>（4）如会员在金逸官网、APP或微信公众号购票成功后没有及时到影城取票观影且不满足退票条件的，影城不承担任何责任，也不做退票或更换场次处理。</p>
            <strong>（四）会员俱乐部活动</strong>
            <p>影城不定期举办金逸会员俱乐部活动（活动主题及形式等细节由影城自定，活动包括电影讲座、联盟商家赞助活动、放映设备讲解、非繁忙时段组织会员免费或优惠观影专场等），以上活动通过网络及阵地公告形式公布，会员报名先报先得，报完即止。</p>
            <strong>（五）明星见面会优先折扣订购 </strong>
            <p>凡在影城举办的明星见面会，持卡会员均可享受优惠、优先购票服务。（此项服务不接受电话预订。）</p>
            <strong>（六）会员生日赠票</strong>
            <p>持线上电子卡的会员需前往影城端完善个人生日等信息后方可开始生效。</p>
            <p>获赠条件：会员卡近一年内在金逸影城有购票支付记录。</p>

            <br/>
            <p>金逸电影享有对以上内容的最终解释权，如您愿意继续加入会员则视为您已经充分了解并认可上述内容。如对会员须知产生相关疑问，可向影城工作人员咨询，或拨打金逸全国客服热线4000-008-008 。</p>
        </div>

        <div class="membershipRegulationsDetail-btn">
                <button ng-click="agree()"  nav-direction="back" class="button button-select fs16" ng-disabled="false" style="background: #998278;border-radius: 0px !important;">
                同意并继续
                </button>
        </div>
    </ion-content>
    <!--<ion-footer-bar align-title="center" style="padding: 12px 15px;height:68px;">-->
        <!--<button ng-click="agree()"  nav-direction="back" class="button button-select fs16" ng-disabled="confirmFlag" style="background: #998278;border-radius: 0px !important;">-->
             <!--同意并继续-->
        <!--</button>-->

        <!--&lt;!&ndash;<div style="position: absolute;top: -8px;" ng-click="buildOrder()"  nav-direction="forward">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./img/yd-dd.png">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<button ng-if="productDetailData.skuItemType=='GROUND_GOODS'" ng-click="buildSales()"  nav-direction="forward" class="button button-select fs16" style="background: #998278;border-radius: 0px !important;">提交订单</button>&ndash;&gt;-->
    <!--</ion-footer-bar>-->
</ion-view>

<style>
    .membershipRegulationsDetail-btn {
        padding: 1.5rem 0;
        margin: 0 auto;
        vertical-align: center;
        text-align: center;
    }
    .membershipRegulationsDetail p {
        text-indent: 2em;
        text-align: justify;
        vertical-align: top;
    }
    .membershipRegulationsDetail strong {
        display: inline-block;
        text-indent: 1.5em;
        vertical-align: top;
    }
    .membershipRegulationsDetail h3 {
        text-align: center;
        vertical-align: top;
        padding-right: 0;
    }
    .membershipRegulationsDetail h3, .membershipRegulationsDetail h4 {
        font-weight: bold;
    }
</style>
