<ion-view view-title="影片详情" style="background: transparent;" >
    <div ng-if="findImagesFlag && findFilmsFlag">
        <div class="backTop" ng-class="{'animated fadeIn':flag2,'animated fadeOut':!flag2}" on-tap="slideUp()" on-drag-up="slideUp()" ><i class="ion-ios-arrow-up fs24"></i></div>
        <div class="slideBg" ng-if="slideF" ng-class="{true:'animated fadeIn',false:'animated fadeOut'}[slideFlag]"></div>
        <ion-slide-box class="slideScreen" ng-if="slideF" active-slide="activeIndex" show-pager="false" ng-click="hideSlide($event)" on-slide-changed="slideHasChanged($index)">
            <ion-slide style="display: table;text-align:center;" ng-repeat="item in movieSmallPicData">
                <span style="display:table-cell;vertical-align:middle;"><img ng-src="{{item.url}}" ng-class="{true:'animated zoomIn',false:'animated zoomOut'}[slideFlag]" ></span>
            </ion-slide>
        </ion-slide-box>

        <!--<ion-footer-bar ng-if="flag1 && !noSale" align-title="center" style="z-index:110;height:55px!important;">-->
            <!--<button ng-if="theatreId<0" ui-sref="theatre({movieId:'{{movieId}}'})" nav-direction="forward" class="button button-select fs16">选座购票</button>-->
            <!--<button ng-if="theatreId>=0" back-button="" nav-direction="forward" class="button button-select fs16">选座购票</button>-->
        <!--</ion-footer-bar>-->
        <ion-footer-bar ng-if="flag1 && !noSale" class="flex" style="z-index:110;height: 58px !important;">
            <div class="ping-lun" ui-sref="myComment({movieId:'{{movieId}}'})" nav-direction="forward">
                发表评论
            </div>
            <div class="xuan-zuo" ng-if="theatreId<0" ui-sref="theatre({movieId:'{{movieId}}'})" nav-direction="forward">
                选座购票
            </div>
            <div class="xuan-zuo" ng-if="theatreId>=0" back-button="" nav-direction="forward">
                选座购票
            </div>
            <!--<div class="ml10">-->
                <!--<div ui-sref="myComment({movieId:'{{movieId}}'})" nav-direction="forward" style="position: absolute;top: -5px;width: 150px">-->
                    <!--<img src="./img/yd-pl.png">-->
                <!--</div>-->
                <!--<div ng-if="theatreId<0" ui-sref="theatre({movieId:'{{movieId}}'})" nav-direction="forward" style="position: absolute;top: -5px;left: 55%;width: 150px">-->
                    <!--<img src="./img/yd-xz.png">-->
                <!--</div>-->
                <!--<div ng-if="theatreId>=0" back-button="" nav-direction="forward" style="position: absolute;top: -5px;left: 55%;width: 150px">-->
                    <!--<img src="./img/yd-xz.png">-->
                <!--</div>-->
            <!--</div>-->
        </ion-footer-bar>
        <a on-tap="checkGoBack()" ng-show="topFlag && !isShow" class="backButton noBar iphonex-bar"><i class="ion-ios-arrow-left fs32"></i></a>
        <a back-button="" ng-show="topFlag && isShow" nav-direction="back" class="backButton noBar iphonex-bar"><i class="ion-ios-arrow-left fs32"></i></a>
        <a ng-show="topFlag" ng-click="showShare($event)" class="backButton noBar iphonex-bar" style="right: 15px; left: auto;">
            <i class="ion-android-share-alt shareBtn fs30" style="top: 0px;right: 6px"></i>
        </a>
        <!--<div ng-show="topFlag" ng-click="showShare($event)" class="noBar" style="right: 15px; left: auto;">-->
        <!--<i class="ion-android-share-alt shareBtn fs30 iphonex-bar" style="top: 0px;right: 9px"></i>-->
        <!--</div>-->

    </div>

    <ion-content has-bouncing="false" overflow-scroll='false' scrollbar-x="false" scrollbar-y="false" on-scroll="getPos()" on-drag-start="checkPos($event)"  lazy-scroll="" style="z-index:109;">
        <div ng-if="findImagesFlag && findFilmsFlag">
            <div class="videoHeight defaultBg" ng-class="{true:'animated slideInDown',false:'slideOutUp'}[isSlide]">
                <div style="position: absolute;z-index:110;top: 100px;left:50%;margin-left: -20px;" on-tap="playVideo()" ng-if="playVideoFlag">
                    <i class="ion jyicon fs40" style="color: white">&#xe693;</i>
                </div>
              <img class="animated fadeIn" ng-src="{{movieBanner}}" >
            </div>
            <div class="maskWrap" ng-style="newTop" ng-class="{true:'animated slideInUp',false:'animated slideOutDown fix'}[isShow]" animationend="slideEndEvent">
              <div style="background: #fff;padding-bottom: 50px;">
                <div class="clearfix pos">
                  <div class="v-pic"><img ng-src="{{movieData.posterUrl}}" alt=""/></div>
                  <div class="v-text">
                    <div class="color-000 mb10 filmName"><strong>{{movieData.titleAlt}}</strong></div>
                    <p>{{movieData.filmType}}/{{movieData.language}}</p>
                    <p>{{Math.floor(movieData.runTime/60)}}小时{{Math.floor(movieData.runTime%60)}}分钟 </p>
                    <p>{{movieData.showTime | date:'yyyy-MM-dd'}} 上映</p>
                    <div class="comment fs18 color-ff5715">{{movieData.complexScore | number:1}}</div>
                  </div>
                  <div ng-if="movieSmallPicData.length>0" class="dragBtn" on-tap="slideDown()" on-swipe-down="onSwipeDown()"><img src="./img/drowDown.png" alt=""></div>
                </div>
                <div class="row pd0 loveBtn fs14 clearfix">
                  <div class="col pb0" on-tap="updateLike()"  ng-class="{true:'active'}[likeFlag]">
                    <button class="button button-small button-block fs12 color-999" style="min-height:35px;">
                      <i style="display:inline-block;" class="ion-heart" ng-class="{true:'animated bounceIn'}[likeFlag]"></i> 喜欢(<span>{{movieData.likeIndex}}</span>)
                    </button>
                  </div>
                  <div class="col pb0" on-tap="updateUnLike()" ng-class="{true:'active'}[unlikeFlag]">
                    <button class="button button-small button-block fs12 color-999" style="min-height:35px;">
                      <i style="display:inline-block;" class="ion-heart-broken" ng-class="{true:'animated bounceIn'}[unlikeFlag]"></i> 不喜欢(<span>{{movieData.unlikeIndex}}</span>)
                    </button>
                  </div>
                </div>
                <p class="v-detail" ng-class="{true:'opened',false:''}[!vFlag]">{{movieData.ratingDescription}}</p>
                <p class="text-center mb0 pb5" on-tap="toggleVflag()"><i class="fs24 color-999" ng-class="{true:'ion-ios-arrow-down',false:'ion-ios-arrow-up'}[vFlag]"></i></p>
                <div class="gap"></div>
                <div class="swiper-container2 movie-detail pl10 pr10" style="padding-top: 10px;padding-bottom: 20px;" ng-if="actors.length>0">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="item in actors">
                      <div ui-sref="actorDetail({id:'{{item.actorId}}',index:'{{$index}}'})" nav-direction="forward">
                        <div class="text-center"><div class="acPic" style="background: url('{{item.imagesUrl || defaultPic}}') #e5e5e5 no-repeat center"></div></div>
                        <div class="text">
                          <div class="text-center actorNames">{{item.actorName}}</div>
                          <div class="color-666 fs12 text-center" style="margin-top: -3px;height:20px;">{{item.actorTypeAlt}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gap" ng-if="actors.length>0"></div>
                <div class="commentBlock" ng-if="readData.length>0" style="padding-bottom: 0px">
                  <div class="fs16 pl10 pt10 mb0"><strong>阅读</strong></div>
                    <div  class="list pt10 mb0" style="position: relative" ng-repeat="item in readData">
                        <div class=" box" ui-sref="articleDetail({id:'{{item.articleId}}'})" nav-direction="forward">
                            <div class="defaultBg-jytj" style="margin-left: 4px;margin-right: 4px">
                                <img ng-src="{{item.url}}" >
                            </div>
                            <div class="box1 tuijianCon">
                                <div class="forum-title">{{item.articleTitle}}</div>
                                <div class="forum-sp">
                                    <span class="articleFlag" ng-repeat="row in item.strs">{{row}}</span>
                                </div>
                                <div class="box">
                                    <div class="box1 text-left" style=" height: 20px;overflow: hidden;">
                                        <span class="fs12">{{item.date}}</span>
                                    </div>
                                    <div class="box1 text-right" style="margin-left: -20px">
                                        <i class="icon jyicon">&#xe601;</i>
                                        <span class="fs12">{{item.fabulous}}</span>
                                        <i class="icon jyicon">&#xe63c;</i>
                                        <span class="fs12">{{item.commentCount}}</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                  <div class="gap" ng-if="readData.length>0"></div>
                  <div class="movie-yingping">
                      <div class="yingp-p">
                          <p>说说</p>
                          <div class="flex">
                              <div class="gou-piao" ng-class="isTicket=='Y'?'active':''" on-tap="haveTicket()">
                                  购票
                                  <span>{{alComment}}</span>
                              </div>
                              <div class="gou-piao" ng-class="isTicket=='N'?'active':''" on-tap="noTicket()">
                                  未购票
                                  <span>{{unComment}}</span>
                              </div>
                          </div>
                      </div>
                      <div class="yingp-box" ng-repeat="item in commentFilmDetailData">
                          <div class="row">
                              <div class="col col-20" style="margin-right: -10px" ui-sref="homePage({'memberId':{{item.memberId}}})" nav-direction="forward">
                                  <img src="./img/user.png" style="width: 50px;height: 50px;border-radius: 50%" ng-if="!item.logoImageUrl">
                                  <img ng-src="{{item.logoImageUrl}}" style="width: 50px;height: 50px;border-radius: 50%" ng-if="item.logoImageUrl">
                              </div>
                              <div class="col col-60 text-left">
                                  <p>{{item.memberName}}</p>
                                  <div class="flex" style="width: 60px;">
                                      <div style="width: 20%" ng-repeat="row in item.starArr" >
                                          <img style="" src="./img/star.png"/>
                                      </div>
                                  </div>
                              </div>
                              <div class="col col-20 ml15" style="position: relative;z-index: 2 !important;">
                                  <div>
                                      <i style="position: relative;z-index: 2!important;color: #998278;" class="icon jyicon fs20" ng-click="showList(item,$event)" >&#xe652;</i>
                                      <div class="movie-search-layer {{item.showFlag?'active':''}}">
                                          <div style="color: white" on-tap="getFilter({{item.commentFilmDetailId}},$event)" ng-if="item.isReport=='N'">
                                              <i class="icon jyicon">&#xe6e0;</i>
                                              举报
                                          </div>
                                          <div style="color: white;font-size: 13px" ng-if="item.isReport=='Y'">
                                              <i class="icon jyicon">&#xe6e0;</i>
                                              已举报
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="yingp-div" ui-sref="filmCritic({'commentFilmDetailId':{{item.commentFilmDetailId}}})" nav-direction="forward">
                              {{item.content}}
                          </div>
                          <div class="box" style="margin-right: 24px;margin-left: 24px;margin-bottom: 10px;margin-top: 6px">
                              <div class="box1 text-left">
                                  <span class="fs12" ng-if="item.date!='今天'">{{item.date}}天前</span>
                                  <span class="fs12" ng-if="item.date=='今天'">{{item.date}}</span>
                              </div>
                              <div class="box1 text-right">
                                  <i class="icon jyicon fs18" on-tap="updateCommentFilmDetail(item)" ng-if="item.isFabulous=='N'">&#xe662;</i>
                                  <i class="icon jyicon fs18" style="color: #ff5715" on-tap="updateCommentFilmDetail(item)" ng-if="item.isFabulous=='Y'">&#xe8c6;</i>
                                  <span class="fs15 mr10">{{item.fabulous}}</span>
                                  <i class="icon jyicon fs15" ui-sref="filmCritic({'commentFilmDetailId':{{item.commentFilmDetailId}}})" nav-direction="forward">&#xe63c;</i>
                                  <span class="fs15" ui-sref="filmCritic({'commentFilmDetailId':{{item.commentFilmDetailId}}})" nav-direction="forward">{{item.commentCount}}</span>
                              </div>
                          </div>
                      </div>
                      <ion-infinite-scroll ng-if="!noMorePage1" on-infinite="loadMore1()" distance="1%"></ion-infinite-scroll>
                      <div ng-if="noMorePage1&&!noDataFlag" class="text-center pd20">暂无更多评论</div>
                      <div class="text-center mt30" ng-if="commentFilmDetailData.length==0">
                          <i class="icon jyicon fs40 color-cacaca">&#xe656;</i>
                          <p class="mt10">还没有人评论，赶快来抢沙发~</p>
                      </div>
                  </div>

              </div>
            </div>
            <div class="maskHideLayer" ng-class="{true:'opc0'}[flag3]" ng-if="flag4">
              <ul class="movieSmallPic clearfix">
                <li ng-repeat="item in movieSmallPicData" on-tap="showSlide($index)" ng-style="item.bgObj" style="background: url('{{item.url}}') no-repeat center;background-size: cover;"><img style="opacity: 0;" ng-src="{{item.url}}" alt=""/></li>
              </ul>
            </div>
            <ion-infinite-scroll ng-if="!noMorePage" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
        </div>
        <div ng-if="!findImagesFlag || !findFilmsFlag" style="background: white;background-repeat: no-repeat;background-size: cover" class="iphonex-logo">
            <img src="./img/jylogo.gif">
        </div>


    </ion-content>

    <script id="templates/modal3.html" type="text/ng-template">
        <style>
            .modal-backdrop, .modal-backdrop-bg{
                top: auto!important;
                bottom: 0;
                z-index: 100;
                max-height:170px;
            }
            .modal-backdrop .modal-wrapper{
                max-height:100%;
                height: 100%;
            }
        </style>
        <ion-modal-view class="layer">
            <ion-content overflow-scroll="false" scrollbar-y="false" stop-propagation="">
                <!-- 分享朋友 -->
                <div class="pt10">
                    <h2 class="text-center fs16 mb20">分享给朋友</h2>
                    <div class="row" style="border-bottom: 1px solid #f5f5f5;">
                        <div class="col" on-tap="shareWechat()">
                            <div><i class="icon iconfont fs40" style="color: #4caf50;">&#xe693;</i></div>
                            <p class="mt5">微信</p>
                        </div>
                        <div class="col" on-tap="shareWechatFriend()">
                            <div><i class="icon iconfont fs40" style="color: #00bcd4;">&#xe694;</i></div>
                            <p class="mt5">朋友圈</p>
                        </div>
                        <div class="col" on-tap="shareWeibo()">
                            <div><i class="icon iconfont fs40" style="color: #ff9800;">&#xe641;</i></div>
                            <p class="mt5">新浪微博</p>
                        </div>
                        <div class="col" on-tap="shareQq()">
                            <div><i class="icon iconfont fs40" style="color: #03a9f4;">&#xe63e;</i></div>
                            <p class="mt5">QQ</p>
                        </div>

                    </div>
                    <div ng-click="hideShare($event)" class="text-center fs14 pt10 pb10 color-666">取消</div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>
