<ion-view view-title="我的权益卡">
  <ion-header-bar align-title="center" class="iphone-x-head">
    <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <div class="h1 title">卡中心</div>
    <div ng-if="memberCardFlag" class="bindingCard iphone-x-icon2" ui-sref="myVipHome" nav-direction="forward">绑定会员卡</div>
  </ion-header-bar>
  <ion-content overflow-scroll="false" scrollbar-y="false" has-bouncing="false" class="iphone-x-content">
    <ion-refresher spinner="ios-small" pulling-icon="" on-refresh="doRefresh()"></ion-refresher>
    <div class="pos clearfix" tabs-click="">
      <a class="stap step1" ng-class="activeIndex==0?'active':''">可使用</a>
      <a class="stap step2" ng-class="activeIndex==1?'active':''">可续卡</a>
      <a class="stap step3" ng-class="activeIndex==2?'active':''">已失效</a>
    </div>
    <ion-slide-box active-slide="slideTo()" show-pager="false" on-slide-changed="slideHasChanged($index)">
      <ion-slide class="slider-slide-vh">
        <div class="my-flex" ng-if="userData.length > 0 && activeIndex==0" ng-repeat="item in userData">
          <div ng-if="item.sign === 'MEMBERCARD'" class="my-rights-img" ui-sref="myVipHome" nav-direction="forward">
            <img ng-src="{{item.accessPath}}">
            <!--<div class="my-rights-bottom">-->
            <!--<p class="my-rights-bottom-no">NO: {{item.cardNumber}}</p>-->
            <!--<p class="my-rights-bottom-name">{{item.cardLevelName}}</p>-->
            <!--</div>-->
            <p class="my-rights-p">NO: {{item.cardNumber}}</p>
            <p class="my-rights-p1">{{item.cardLevelName}}</p>
          </div>
          <div ng-if="item.sign != 'MEMBERCARD'"  class="my-rights-img" ui-sref="myRightsCardDetail({'equitycardInfoId':{{item.memberCardId}},'memberId':{{item.memberId}}})" nav-direction="forward">
            <img ng-src="{{item.accessPath}}">
            <div class="img-mask">
              <div class="img-mask-left">
                <p class="my-rights-bottom-no">NO: {{item.cardNumber}}</p>
                <p class="my-rights-bottom-time">{{item.timeData}}</p>
              </div>
              <div class="img-mask-right">
                <p class="my-rights-bottom-name">{{item.equitycardModelName}}</p>
              </div>
            </div>
            <!--<p class="my-rights-p">NO: {{item.cardNumber}}</p>-->
            <!--<p class="my-rights-p1">{{item.equitycardModelName}}</p>-->
            <!--<p class="my-rights-p2">{{item.timeData}}</p>-->
          </div>
          <div class="my-rights-line"></div>
        </div>
        <div class="my-flex" ng-if="(userData.length === 0 || rightsCardFlag)&& activeIndex === 0" ng-style="rightsCardFlag?{'height': '500px'}:{}">
          <div class="my-noRights-img">
            <i class="icon jyicon icon-noRights">&#xe8c4;</i>
            <a class="fs14" ui-sref="category({'catName':'超值礼包'})" nav-direction="forward">小主您还没有可使用权益卡，查看更多权益卡></a>
          </div>
        </div>
      </ion-slide>

      <ion-slide class="slider-slide-vh ">
        <div class="my-flex" ng-if="userRcData.length > 0 && activeIndex === 1" ng-repeat="item in userRcData">
          <div class="my-rights-img" ui-sref="myRightsCardDetail({'equitycardInfoId':{{item.memberCardId}},'memberId':{{item.memberId}}})" nav-direction="forward">
            <img ng-src="{{item.accessPath}}">
            <i class="icon jyicon my-rights-i" ng-show="item.status === 'EXPIRED'">&#xe68d;</i>
            <i class="icon jyicon my-rights-i" ng-show="item.status === 'INVALID'">&#xe71c;</i>
            <div class="img-mask">
              <div class="img-mask-left">
                <p class="my-rights-bottom-no">NO: {{item.cardNumber}}</p>
                <p class="my-rights-bottom-time">{{item.timeData}}</p>
              </div>
              <div class="img-mask-right">
                <p class="my-rights-bottom-name">{{item.equitycardModelName}}</p>
                <div class="my-rights-btn" ng-click="reCard(item);$event.stopPropagation();">续卡</div>
                <!--<div ng-if="item.skuStatus != 'VALID'" class="my-rights-btn">已下架</div>-->
              </div>
            </div>
            <!--<p class="my-rights-p">NO: {{item.cardNumber}}</p>-->
            <!--<p class="my-rights-p1">{{item.equitycardModelName}}</p>-->
            <!--<p class="my-rights-p2">{{item.timeData}}</p>-->
          </div>
          <!--<div ng-if="item.skuStatus === 'VALID'" class="my-rights-btn" ng-click="reCard(item.memberCardId, item.skuId, item.growthSign)">续卡</div>-->
          <!--<div ng-if="item.skuStatus != 'VALID'" class="my-rights-btn">已下架</div>-->
          <div class="my-rights-line"></div>
        </div>

        <div class="my-flex" ng-if="userRcData.length === 0 && activeIndex === 1">
          <div class="text-center pt50 color-999">暂无续卡记录！</div>
        </div>
      </ion-slide>

      <ion-slide class="slider-slide-vh ">
        <div class="my-flex" ng-if="invalidData.length > 0 && activeIndex === 2" ng-repeat="item in invalidData">
          <div class="my-rights-img">
            <img ng-src="{{item.accessPath}}">
            <i class="icon jyicon my-rights-i" ng-show="item.status === 'EXPIRED'">&#xe68d;</i>
            <i class="icon jyicon my-rights-i" ng-show="item.status === 'INVALID'">&#xe71c;</i>
            <div class="img-mask">
              <div class="img-mask-left">
                <p class="my-rights-bottom-no">NO: {{item.cardNumber}}</p>
                <p class="my-rights-bottom-time">{{item.timeData}}</p>
              </div>
              <div class="img-mask-right">
                <p class="my-rights-bottom-name">{{item.equitycardModelName===""? item.cardLevelName:item.equitycardModelName}}</p>
                <div class="my-rights-btn" ng-click="reCard(item);$event.stopPropagation();">再次购买</div>
              </div>
            </div>
            <!--<p class="my-rights-p">NO: {{item.cardNumber}}</p>-->
            <!--<p class="my-rights-p1">{{item.equitycardModelName===""? item.cardLevelName:item.equitycardModelName}}</p>-->
            <!--<p class="my-rights-p2">{{item.timeData}}</p>-->
          </div>
          <div class="my-rights-line"></div>
        </div>

        <div class="my-flex" ng-if="invalidData.length === 0 && activeIndex === 2">
          <div class="text-center pt50 color-999">暂无失效记录！</div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
