<ion-view view-title="订购成功">
  <ion-header-bar align-title="center" class="iphone-x-head">
    <a ng-if="fromPage=='myTickets' || fromPage=='mySales'" back-button class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <a ng-if="fromPage!='myTickets' && fromPage!='mySales'" ui-sref="home" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <div class="h1 title">订购成功</div>
    <a class="icon iconfont scan fs22 iphone-x-icon2" href="tel:400-0008008" style="color: #998278">&#xe603;</a>
  </ion-header-bar>
  <div class="sucDown"></div>
  <div ng-if="hasSales" on-tap="scrollContent()" class="dragBtn-suc"><img class="animated fadeInDown" style="animation-iteration-count: infinite" src="./img/drowDown.png" alt=""></div>
  <ion-content on-scroll="hideArrow()" class="sucContent iphone-x-content" overflow-scroll='false' scrollbar-y="true" has-bouncing="false" scrollbar-x="false">
    <ion-refresher spinner="ios-small" pulling-icon="" on-refresh="doRefresh()"></ion-refresher>
    <div class="mg10">
      <div ng-if="resData" class="sucBlock1">
        <img src="./img/up.png" alt="">
        <div class="sucBlock1-con" ng-if="resData.orderType=='MOVIE'">
          <div class="text-center fs20">{{resData.filmName}}</div>
          <p class="text-center color-999 mb10">{{resData.orderTime}}</p>
          <div class="sucessImg"><img ng-src="{{resData.bannerUrl}}"></div>
          <div class="sucessInfo" ng-if="resData">
            <table style="width: 100%;">
              <tr>
                <td class="w20">订单号:</td>
                <td>{{resData.orderCode}}</td>
              </tr>
              <tr>
                <td class="w20">影<span class="ml15">院:</span></td>
                <td ui-sref="theatreDetail({theatreId:theatreId})" nav-direction="forward">{{resData.cinemaNameAlt}} <i class="ion-ios-redo fs18 color-666 ml10"></i> </td>
              </tr>
              <tr>
                <td class="w20">影<span class="ml15">厅:</span></td>
                <td>{{resData.screenName}}</td>
              </tr>
              <tr>
                <td class="w20">场<span class="ml15">次:</span></td>
                <td>{{resData.showtimeIsk}}</td>
              </tr>
              <tr>
                <td class="w20">座<span class="ml15">位:</span></td>
                <td>{{resData.seatdetailMessage}}</td>
              </tr>
            </table>
            <div class="text-right pr10 mt5">
              手续费{{resData.serviceCharge*resData.num}}元 总额：<span class="color-ff5715 fs28">{{resData.paymentAmount}}</span> <span class="color-ff5715">元</span>
            </div>
          </div>
        </div>

        <div class="sucBlock1-con" ng-if="resData.orderType=='GOODS'">
          <div class="fs18 text-center mb20 mt10"><i class="icon jyicon fs40" style="color: #33cd5f;">&#xe615;</i><span style="position: relative;top: -5px;left: 10px;">卖品订购成功</span></div>
          <div style="width: 250px;margin:0 auto!important;">
            <p class="color-999">订单编号:{{resData.orderCode}}</p>
            <p class="color-999">下单时间:{{resData.orderTime}}</p>
          </div>

          <div class="list mg10">
            <a ng-repeat="item in resData.goods" class="item item-thumbnail-left">
              <img ng-src="{{item.accessPath}}">
              <h2>{{item.title}}</h2>
              <p>{{item.specNatureInfo}}</p>
              <p>{{item.price | currency:'￥'}} X {{item.num}}</p>
            </a>
          </div>
          <div class="text-right pr20 color-999">小计: {{resData.totalAmount}}元</div>
        </div>

        <div class="sucBlock1-con" ng-if="resData.orderType=='CARD_VOU_ORDER'">
          <div class="fs18 text-center mb20 mt10"><i class="icon jyicon fs40" style="color: #33cd5f;">&#xe615;</i><span style="position: relative;top: -5px;left: 10px;">权益卡订购成功</span></div>
          <div style="width: 250px;margin:0 auto!important;">
            <p class="color-999">订单编号:{{resData.orderCode}}</p>
            <p class="color-999">下单时间:{{resData.orderTime}}</p>
          </div>

          <div class="my-rights-img " ng-repeat="item in resData.goods" style="margin-top: 10px !important;">
            <img ng-src="{{item.accessPath}}">
            <p class="my-order-p">{{resData.equitycardName}}</p>
            <p class="my-order-p2">{{resData.startDateActive}}~{{resData.endDateActive}}</p>
          </div>

          <div class="text-right pr20 color-999">小计: {{resData.totalAmount}}元</div>

          <div style="padding: 10px 15px;" ng-if="resData.bookingType=='ONLINE_VIRTUAL_GOODS_BUY'||resData.bookingType=='INTEGRAL_FEE_BUY'||resData.bookingType=='INTEGRAL_BUY'">
            您已成功购买金逸{{resData.equitycardName}}，我们已为您成功完成账户绑定，您可于个人中心-我的钱包-权益卡中查看操作，如有疑问，请联系金逸客服4000-008-008，祝您观影愉快！
          </div>
          <div style="padding: 10px 15px;"  ng-if="resData.bookingType=='ONLINE_VIRTUAL_GOODS_RENEWAL'||resData.bookingType=='INTEGRAL_FEE_RENEWAL'||resData.bookingType=='INTEGRAL_RENEWAL'">
            您已成功续卡，可于个人中心-我的钱包-权益卡中查看操作，如有疑问，请联系金逸客服4000-008-008，祝您观影愉快！
          </div>

        </div>

        <div class="ticketCode animated zoomIn" style="bottom: 8%;" ng-if="resData.orderType=='GOODS'">
          <div class="fs14">取货码:
            <span class="color-ff5715 fs22">{{resData.vistaBookingId}}</span>
            <span id="qrcode_goods_single" class="qrcodeSuc" on-tap="showProup('取货码',$parent.resData.vistaBookingId,'qrcode_goods_modal',150,150)"></span>
          </div>
        </div>
        <div class="ticketCode animated zoomIn" ng-if="resData.orderType=='MOVIE'">
          <span class="fs14">取票码:</span>
          <span class="fs22 color-ff5715">{{resData.vistaBookingId}}</span>
          <span id="qrcode_ticket" class="qrcodeSuc" on-tap="showProup('取票码',$parent.resData.vistaBookingId,'qrcode_ticket_modal',150,150)"></span>
          <div ng-if="resData.goodsVistaBookingId" class="fs14">取货码:
            <span class="color-998278">{{resData.goodsVistaBookingId}}</span>
            <span id="qrcode_goods" class="qrcodeSuc" on-tap="showProup('取货码',$parent.resData.goodsVistaBookingId,'qrcode_goods_modal',150,150)"></span>
          </div>
        </div>

        <div class="ticketCode animated zoomIn" style="width: 190px!important;" ng-if="resData.orderType=='CARD_VOU_ORDER'">
          <span class="fs14">卡号:</span> <span class="color-ff5715">{{resData.equitycardCode}}</span>
        </div>

        <div class="tagSales" ng-if="resData.goods && resData.goods.length>0 && resData.orderType=='MOVIE'"><img src="./img/tagSales.png" alt=""></div>
      </div>

      <!--卖品块-->
      <div ng-if="salesData.length>0" class="activityBlock">
        <div class="row plr0 pos">
          <div class="col col-25 plr0 text-left"><strong>卖品套餐</strong></div>
        </div>
        <div class="row plr0 pos" ng-repeat="item in salesData track by $index">
          <div class="sales-pic pos">
            <img ng-src="{{item.accessPath}}">
            <div class="hui" ng-if="item.activityInfo.length>0">惠</div>
          </div>
          <div class="col col-60 sales-text text-left">
            <h2 class="fs14">{{item.title}}</h2>
            <p class="fs12 mb15" ng-bind-html="item.specInfo"></p>
            <p class="fs12">网购价: <span class="color-red">{{item.costPrice/100 | currency:'￥'}}</span></p>
          </div>
          <div class="sales-qty">
            <span on-tap="reduce($index)" class="reduce"><i class="jyicon fs24">&#xe661;</i></span>
            <span class="sales-qty-value">{{item.salesQty?item.salesQty:0}}</span>
            <span on-tap="add($index)" class="add active"><i class="jyicon fs24">&#xe677;</i></span>
          </div>
        </div>
        <div ng-if="hasMore" class="sales-more text-center pt5 pb5 fs12" on-tap="getMoreSales()"><i style="display: block;" class="icon jyicon">&#xe609;</i> 加载更多 </div>
        <div ng-if="!hasMore" class="sales-more text-center pt5 pb5 fs12"> 暂无更多 </div>

        <div class="row plr0 pos" style="border-top: 1px solid #f5f5f5;">
          <div class="col col-25 plr0 text-left">小计</div>
          <div class="col col-75 plr0 text-right color-red" style="padding-right: 20px!important;"><span
            class="fs14">￥</span>{{salesTotal?salesTotal:0}}
          </div>
        </div>
      </div>

      <div ng-if="salesData.length>0" style="background: #998278" class="suc-btn" on-tap="buildSales()">立即购买</div>

    </div>


  </ion-content>
  <!--红包蒙版-->
  <script id="templates/successredBad.html" type="text/ng-template">
    <style>
      .modal-backdrop, .modal-backdrop-bg{
        top: 30% !important;
        bottom: auto;
        z-index: 100;
        position: absolute;
      }
      .modal-backdrop .modal-wrapper{
        max-height:100%;
        height: 100%;
      }
    </style>
    <div class="modal pos" style="background: transparent">
      <div class="redBad" on-tap="hideRed()" >
        <i class="ion jyicon">&#xe688;</i>
      </div>
      <div style="width: 70%;left: 15%;position: absolute;top: -30px;"  on-tap="showRedBad()" ng-if="RedBadFlag==false">
        <img src="./img/hongbao.png">
      </div>
      <div style="width: 100%;left: 2%;position: relative;top: -100px;"  ng-if="RedBadFlag==true">
        <img src="./img/showRedBad.png">
        <ion-content scrollbar-y="false" style="top: 46%;bottom: 53px;right: 46px;left: 40px" >
          <div style="position: relative;padding:0px 20px" ng-repeat="item in findReceivingCenterInfoData[0].rcLineList" on-tap="choose(item)" ng-class="item.active==true?'redBad-active':''" ng-if="chooseActiveFlag==false">
            <i ng-if="item.active==false"  class="ion jyicon quan-ion">&#xe61e;</i>
            <img src="./img/quan.png">
            <p class="quan-redBad">{{item.giftName}}</p>
          </div>
          <div style="position: relative;padding:0px 20px" ng-repeat="item in findReceivingCenterInfoData[0].rcLineList" ng-if="chooseActiveFlag==true">
            <i ng-if="item.active==false"  class="ion jyicon lingqu-ion">&#xe614;</i>
            <img src="./img/quan.png">
            <p class="quan-redBad">{{item.giftName}}</p>
          </div>
        </ion-content>
        <div class="ling-qu" on-tap="chooseActive()" ng-if="chooseActiveFlag==false">
          <p>领取</p>
        </div>
        <div class="ling-qu-s" ng-if="chooseActiveFlag==true">
          <p class="text-center">您已领取成功</p>
          <p class="fs12"  ui-sref="myWallet"  nav-direction="forward">可在个人中心-我的钱包中查看</p>
        </div>
      </div>
    </div>
    <div style="background:#000;position: fixed;top:0;left:0;width:100%;z-index:8;height:100%;opacity: .5 "></div>
  </script>
</ion-view>
