<ion-view view-title="商品详情">
    <div class="mall-fix-nav">
        <div class="box">
            <div class="box1 iphone-x-icon">
                <div class="mall-iconWrap" nav-direction="back" back-button=""><i class="jyicon iconfont fs20">&#xe638;</i></div>
            </div>
            <div class="box1 text-right iphone-x-icon">
                <div class="mall-iconWrap pos" ui-sref="myCart" nav-direction="forward">
                    <i class="jyicon iconfont fs20">&#xe61a;</i>
                    <span ng-if="cartNum>0" class="badge badge-assertive" style="position: absolute;border-radius:50%;top:-3px;left:27px;padding: 3px 7px">{{cartNum}}</span>
                </div>
            </div>
        </div>
    </div>
    <ion-content overflow-scroll='false' scrollbar-y="false" style="z-index:100;">
        <div class="swiper-container swiper-container-mall-productDetail" style="min-height:375px;">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-product" ng-repeat="item in productFocusData"><img style="min-height:375px;" ng-src="{{item}}" alt=""></div>
            </div>
            <div class="swiper-pagination swiper-pagination-product"></div>
        </div>

        <div class="mall-p-wrap" style="border-bottom: 10px solid #f2f2f2;">
            <div class="box mb10">
                <div class="box1">
                    <div class="mall-p-tit">
                        {{productDetailData.titleAlt}}
                    </div>
                </div>
                <!--<div class="ml30">-->
                <!--<div class="text-center">-->
                <!--<div class="mt5"><i class="iconfont jyicon fs24">&#xe623;</i></div>-->
                <!--<div class="fs12">分享</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <div class="sales-qty" style="position:relative;float: right;width: 88px;margin-top: 5px; text-align: right" ng-if="productDetailData.skuItemType=='GROUND_GOODS'">
                <span on-tap="reduce()" class="reduce"><i class="jyicon fs24">&#xe661;</i></span>
                <span class="sales-qty-value" style="width: 40px">{{qty||1}}</span>
                <span on-tap="add()" class="add active"><i class="jyicon fs24">&#xe677;</i></span>
            </div>
            <div class="color-ff5715 mb10"><span class="fs22">{{productDetailData.price/100 |currency:'¥'}}</span></div>
            <div class="fs14 mb5">市场价:<span style="text-decoration: line-through;">{{productDetailData.mktPrice/100 |currency:'¥'}}</span></div>
            <!--<div class="box fs14 mb5">-->
            <!--<div class="box1">快递:包邮</div>-->
            <!--<div class="box1 text-center">月销{{productDetailData.monthSale}}笔</div>-->
            <!--<div class="box1 text-right">广东广州</div>-->
            <!--</div>-->
        </div>

        <div class="mall-p-wrap" style="border-bottom:10px solid #f2f2f2;" ng-if="productDetailData.skuItemType!='GROUND_GOODS'">
            <div class="box" on-tap="showShare($event)" stop-propagation="">
                <div class="box1" ng-if="chooseFlag==false">选择: {{chooseName}}</div>
                <div class="box1" ng-if="chooseFlag==true">选择: {{chooseNameActive}}</div>
                <div><i class="iconfont jyicon">&#xe61d;</i></div>
            </div>
        </div>

        <div on-tap="showActivity($event)" class="pl10 pr30 fs12 pt5 pb5" ng-if="productDetailData.activityFlag=='Y'" style="border-bottom: 1px solid #f5f5f5;border-top: 1px solid #f5f5f5;position: relative">
            <span class="activityTag">特惠活动</span>
            <p class="activityTit">{{activityCurrent.promotionalCopy}}</p>
            <div class="activity-arrow" style="right: 20px"><i class="ion-ios-arrow-right"></i></div>
        </div>

        <div class="mall-p-wrap" style="border-bottom:10px solid #f2f2f2;" ng-if="productDetailData.skuItemType=='GROUND_GOODS'">
            <div class="box" on-tap="goMallOrder()">
                <div class="box1">选择(影院): {{address.selCinemaName}}</div>
                <div><i class="iconfont jyicon">&#xe61d;</i></div>
            </div>
        </div>

        <div class="mall-p-wrap" style="padding-bottom: 70px;">
            <div class="box text-center mall-p-detail">
                <div on-tap="getCurrentIndex($index)" ng-repeat="item in tabs" class="box1 {{currentIndex==$index?'active':''}}">{{item.name}}</div>
                <!--<div ng-repeat="item in tabs" class="box1 active">图文详情</div>-->
                <!--<div class="box1">规格参数</div>-->
                <!--<div class="box1">购买须知</div>-->
            </div>

            <div ng-if="currentIndex==0">
                <div style="padding-top: 10px" ng-bind-html="productDetailData.specInfoDetail"></div>
            </div>
            <div ng-if="currentIndex==1">
                <div class="product-p" ng-repeat="row in specificationsData">
                    <p>{{row.propName}} :<span class="pl20">{{row.propValue}}</span></p>
                </div>
            </div>
            <div ng-if="currentIndex==2">
                <div class="product-p">
                    <p>1.本商城所有售卖商品为金逸电影自营线上渠道全国统一定价；</p>
                    <p style="padding-top: 10px">2.因光线或显示等因素影响，不排除图片与实物存在微小差异，请以真实实物为准，如有异议请谨慎购买；</p>
                    <p style="padding-top: 10px">3.商城所售电子或虚拟商品（如优惠券、充值等），一经售出，概不退换；</p>
                    <p style="padding-top: 10px">4.为保证食品安全，顾客购买食品类商品需在7天内领取，过期则产品无法领取，货款不予退还；</p>
                    <p style="padding-top: 10px">5.用户购买衍生品，可自主选择自提或邮寄，选择自提可在成功支付货款后7天内凭提货短信至预选影城提货，影城为顾客免费保留7天，过期未领取将按5元/日收取保管费；</p>
                    <p style="padding-top: 10px">6.选择邮寄方式按系统默认快递费收取快递费用（包邮产品除外）；</p>
                    <p style="padding-top: 10px">7.金逸影城保留商品销售的最终解释权，如有疑问，可致电金逸客服4000-008-008</p>

                </div>
            </div>
        </div>
        <div style="height: 50px"></div>
    </ion-content>

    <div class="mall-p-group-btn">
        <div class="box">
            <div on-tap="addToCart()" class="box1" style="background: #acacac;color: #fff;" ng-if="productDetailData.skuItemType=='ONLINE_GOODS'">加入购物车</div>
            <div on-tap="buy()" class="box1" style="background: #998278;color: #fff;">立即购买</div>
        </div>
    </div>
    <!--<div class="mall-p-group-btn" ng-if="productDetailData.skuItemType=='ONLINE_GOODS'">-->
    <!--<div class="box">-->
    <!--<div on-tap="addToCart()" class="box1" style="background: #ea6060;color: #fff;" ng-if="productDetailData.skuItemType=='ONLINE_GOODS'">加入购物车</div>-->
    <!--<div on-tap="buy()" class="box1" style="background: #f42a1e;color: #fff;" >立即购买</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="fixOrder" style="z-index: 100;padding: 0px !important;" ng-if="productDetailData.skuItemType!='ONLINE_GOODS'">-->
    <!--<div class="box">-->
    <!--<div on-tap="buy()" nav-direction="forward" class="box1">-->
    <!--<img src="./img/yd-gm.png">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <script id="productDetail" type="text/ng-template">
        <style>
            .modal-backdrop, .modal-backdrop-bg {
                top: auto !important;
                bottom: 0;
                z-index: 100;
                max-height: 70%;
            }
            .modal-backdrop .modal-wrapper {
                max-height: 100%;
                height: 100%;
            }
        </style>
        <ion-modal-view class="layer">
            <ion-content overflow-scroll="false" scrollbar-y="false" stop-propagation="" style="overflow: inherit;">
                <div class="specWrap">
                    <div class="box">
                        <div class="p-img-thumb mr10"><img ng-src="{{productDetailData.appAbbImg}}" alt=""></div>
                        <div class="box1 mt20">
                            <div class="color-ff5715"><span class="fs16">{{productDetailModalData.price/100 | currency:'¥'}}</span></div>
                            <div>库存{{productDetailModalData.storeQty}}件</div>
                        </div>
                        <div class="mt10" on-tap="hideShare($event)"><i class="jyicon iconfont fs20 color-999">&#xe692;</i></div>
                    </div>
                </div>

                <div class="specWrap" ng-repeat="item in attributesData" ng-init="index=$index">
                    <div class="mb10">{{item.name}}</div>
                    <div class="flex">
                        <div class="flex-33" ng-repeat="subItem in item.value">
                            <div ng-click="getActiveStatus($index,index)" style="margin: 0 8px;" class="btn-color {{subItem.active?'active':''}}">{{subItem.propValue}}</div>
                        </div>
                    </div>
                </div>

                <div class="specWrap" ng-if="productDetailData.skuSourceType!='ONLINE_EQUITY_CARD'&&productDetailData.skuSourceType!='ONLINE_GIFT_CARDS'">
                    <div class="box">
                        <div class="box1">购买数量</div>
                        <div class="sales-qty" style="position: inherit">
                            <span on-tap="reduce()" class="reduce fs24">-</span>
                            <span class="sales-qty-value">{{qty?qty:1}}</span>
                            <span on-tap="add()" class="add fs22">+</span>
                        </div>
                    </div>
                </div>
            </ion-content>
            <!--<button class="button button-assertive button-block specButton" on-tap="confirm($event)">确定</button>-->
            <div class="mall-p-group-btn">
                <div class="box">
                    <div on-tap="addToCart()" class="box1" style="color: #fff;" ng-if="productDetailData.skuItemType=='ONLINE_GOODS'">加入购物车</div>
                    <div on-tap="buy()" class="box1" style="background: #998278;color: #fff;">立即购买</div>
                </div>
            </div>
            <div class="p-tip {{tipFlag?'active':''}}">
                <div class="mb5"><i class="jyicon iconfont fs28 color-ff5715">&#xe640;</i></div>
                <div>{{text}}</div>
            </div>
        </ion-modal-view>

    </script>
    <script id="activityModal2" type="text/ng-template">
        <style>
            .modal-backdrop, .modal-backdrop-bg {
                top: auto !important;
                bottom: 0;
                z-index: 100;
                max-height: 300px;
            }
            .modal-backdrop .modal-wrapper {
                max-height: 100%;
                height: 100%;
            }
        </style>
        <ion-modal-view class="layer">
            <ion-header-bar class="bar bar-header bar-filter">
                <div class="text-center fs18" style="padding-top: 7px;width:100%;">特惠活动</div>
                <span class="close" on-tap="hideShare2()"><i class="ion-ios-close-empty"></i></span>
            </ion-header-bar>
            <ion-content style="background: #fff" overflow-scroll="false" scrollbar-y="false" stop-propagation="">
                <ul class="activity-ul">
                    <li on-tap="toggleActivityDetail($index)" ng-repeat="item in activityCurrentData" style="background: white">
                        <div class="pos">
                            <span class="activityTag">特惠活动</span>
                            <div class="activityList-tit" style="padding-left: 70px;">{{item.promotionalCopy}}</div>
                            <p class="fs12 color-666 pr20" style="padding-left: 70px;" ng-if="item.startDateActive">时间: {{item.startDateActive | date:'yyyy/MM/dd'}} — {{item.endDateActive | date:'yyyy/MM/dd'}}</p>
                            <p ng-if="item.activityFlag" class="fs12 pt10 color-999 pr20 pl10" ng-bind-html="item.ruleDesc"></p>
                            <div class="activityToggle"><i class="{{item.activityFlag?'ion-ios-arrow-up':'ion-ios-arrow-down'}} fs20"></i></div>
                        </div>
                    </li>
                </ul>
            </ion-content>
        </ion-modal-view>
    </script>
    <!--手机号码直接注册或登录-->
    <!--<div id="phonelogin" ng-if="needBind">
        <div id="phonelogin-inner">
            <div class="fs16 text-center mb10"><strong>登陆</strong></div>
            <div class="phoneloginWrap">
                <div class="box">
                    <div class="box1"><input ng-model="bindPhone.mobileNumber" maxlength="11" type="tel" placeholder="请输入手机号码"></div>
                    <div class="phonelogin_yzm fs12" on-tap="sendYzm()">{{sendYzmFlag}}</div>
                </div>
            </div>
            <div class="phoneloginWrap"><input ng-model="bindPhone.vertifyCode" type="text" placeholder="请输入验证码"></div>
            <label class="item item-input item-input-lg" style="padding: 6px 0 0px 4px;border: 1px solid #ddd;">
                <span class="input-label color-000 fs14">图形码</span>
                <input type="number" ng-pattern="/\d{5}/" maxlength="5" ng-model="bindPhone.captcha1" required placeholder="请输入图形码">
                <div class="mr10" on-tap="getCode()" style="width:140px!important;"><img ng-src="{{yzmCode}}" alt=""/></div>
            </label>
            <div class="mt10">
                <button style="background: #998278" class="button button-block button-assertive" on-tap="login()">立即登录</button>
            </div>
            <div style="text-align: center;text-decoration: underline;" on-tap="goLogin()">使用其它登录方式</div>
            <div on-tap="hide()" class="icon jyicon fs16" style="border-top-right-radius: 8px;position: absolute;top: 0;right: 0;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 3px 5px;background: #f2f2f2;border-bottom-left-radius: 5px;color: #666;">&#xe651;</div>
        </div>
    </div>-->
    <div id="phonelogin" ng-if="needBind">
        <div id="phonelogin-inner" style="height: 150px;top: 58%">
            <div class="fs16 text-center mb10"><strong>登陆</strong></div>
            <div class="mt10 pos">
                <i class="ion jyicon login-ion">&#xe66a;</i>
                <button style="background: #998278;margin-top: 22px;" class="button button-block button-assertive" on-tap="weixinLogin()">微信登录</button>
            </div>
            <div style="text-align: center;text-decoration: underline;margin-top: 15px;" on-tap="goLogin()">使用其它登录方式</div>
            <div on-tap="hide()" class="icon jyicon fs16" style="border-top-right-radius: 8px;position: absolute;top: 0;right: 0;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 3px 5px;background: #f2f2f2;border-bottom-left-radius: 5px;color: #666;">&#xe651;</div>
        </div>
    </div>
</ion-view>

