<ion-view view-title="影院问卷调查">
    <ion-header-bar align-title="center" class="top-xian">
        <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
        <div class="h1 title">{{surveyTitle}}</div>
    </ion-header-bar>
    <ion-content overflow-scroll="false">
        <div style="padding: 12px;" ng-if="TitleData.displayFlag=='Y' && isTakePartIn">
            <div class="questionBanner">
                <div class="box mb10">
                    <div class="questionLabel">调查时间:</div>
                    <div class="box1">{{TitleData.startDateActive}}至{{TitleData.endDateActive}}</div>
                </div>
                <div class="box">
                    <div class="box1">
                        <div class="box">
                            <div class="questionLabel">参与人:</div>
                            <div class="">{{TitleData.numberOfParticipants?TitleData.numberOfParticipants:0}}人</div>
                        </div>
                    </div>
                    <div class="box1">
                        <div class="box">
                            <div class="mr10" style="color: #f39a27;">题量:</div>
                            <div>{{LineData.length}}题</div>
                        </div>
                    </div>
                </div>
                <div class="questionBor"></div>
                <div class="box">
                    <div style="line-height: 24px;"><span class="mr10" style="color: #f39a27;">问卷介绍:</span><span class="color-666" ng-bind-html="TitleData.surveyDesc"></span></div>
                </div>
            </div>

            <!--问题列表-->
            <p class="fs12 mt10">(以下问卷题目,<span class="red">*</span>为必填项)</p>
            <div class="questionList mt20" ng-if="item.displayFlag=='Y'" ng-init="index=$index" ng-repeat="item in LineData">
                <div class="fs16 mb10"><span class="red" ng-if="item.requireFlag=='Y'">*</span> {{$index+1}}.{{item.projectTitle}}</div>
                <div class="ml10 mb10" ng-if="item.projectType=='TEXT'" ng-repeat="subItem in item.choiceList">
                    {{subItem.surveyChoiceContent}} <input type="text" ng-model="subItem.text" class="questionInput">
                </div>
                <div class="ml10 mb10" ng-if="item.projectType=='RADIO'" ng-repeat="subItem in item.choiceList">
                    <input class="mr10" style="position: relative;top: 2px;" ng-model="item.radio" type="radio" name="RADIO{{index}}" ng-value="subItem">{{subItem.surveyChoice}}.

                    <label ng-click="item.radio=subItem">
                        <span ng-bind-html="subItem.surveyChoiceContent"></span>
                        <span ng-if="subItem.surveyType=='TEXT'"><input type="text" ng-model="subItem.radiotext" class="questionInput"></span>
                    </label>
                </div>
                <div class="ml10 mb10" ng-if="item.projectType=='MULTSELECT'" ng-repeat="subItem in item.choiceList">
                    <input class="mr10" style="position: relative;top: 2px;" ng-model="subItem.checkbox" type="checkbox"> {{subItem.surveyChoice}}.
                    <label ng-click="subItem.checkbox=!subItem.checkbox">
                        <span ng-bind-html="subItem.surveyChoiceContent"></span>
                        <span ng-if="subItem.surveyType=='TEXT'"><input type="text" ng-model="subItem.checkboxtext" class="questionInput"></span>
                    </label>
                </div>
            </div>
            <div style="height: 50px;"></div>
        </div>
        <div ng-if="isNotTakePartIn" class="text-center pt30">您的问卷已经提交,感谢您的参与!</div>

    </ion-content>

    <ion-footer-bar ng-if="isTakePartIn" align-title="center" style="padding: 12px 15px;z-index:110;height:68px;">
        <button ng-click="sub()" class="button button-select fs16">提交问卷</button>
    </ion-footer-bar>
</ion-view>
