<ion-view view-title="心路历程">
  <ion-header-bar align-title="center" class="top-xian iphone-x-head">
    <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <div class="h1 title">心路历程</div>
  </ion-header-bar>
  <ion-content overflow-scroll="false" scrollbar-y="false" has-bouncing="false" class="iphone-x-content">
    <ion-refresher spinner="ios-small" pulling-icon="" on-refresh="doRefresh()"></ion-refresher>
    <div class="pos clearfix" tabs-click="">
      <a class="stap step1" style="width: 50%;" ng-class="activeIndex==0?'active':''">成长值记录</a>
      <a class="stap step2" style="width: 50%;" ng-class="activeIndex==1?'active':''">积分记录</a>
    </div>
    <ion-slide-box active-slide="slideTo()" show-pager="false" on-slide-changed="slideHasChanged($index)">
      <ion-slide class="slider-slide-vh myTicketsSlide">
        <div class="road-box" ng-repeat="item in untakeData" >
          <div class="road-box1">
            <p>{{item.txnType}}</p>
            <p class="fs12 color-999">{{item.startDate}}</p>
          </div>
          <div class="road-box2">
            <p>{{item.value>0?'+':''}}{{item.value}}</p>
          </div>
        </div>
        <div ng-if="untakeData.length==0" class="text-center pt100 color-999">{{languageSetting.noDataTip}}</div>
      </ion-slide>

      <ion-slide class="slider-slide-vh myTicketsSlide">
        <div class="road-box" ng-repeat="item in takedData">
          <div class="road-box1">
            <p>{{item.txnType}}</p>
            <p class="fs12 color-999">{{item.startDate}}</p>
          </div>
          <div class="road-box2">
            <p>{{item.value>0?'+':''}}{{item.value}}</p>
          </div>
        </div>
        <div ng-if="takedData.length==0" class="text-center pt100 color-999">{{languageSetting.noDataTip}}</div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
