<ion-view view-title="搜索">
    <ion-header-bar class="bar item-input-inset">
        <form ng-submit="return;search(key)" class="item-input-wrapper">
            <i class="icon ion-ios-search-strong placeholder-icon fs16"></i>
            <input type="search" ng-model="key" value="key">
        </form>
        <span style="display: inline-block" class="pt5 pr10 pl10 pb5" back-button="">取消</span>
    </ion-header-bar>
    <ion-content overflow-scroll='false' scrollbar-y="false" on-scroll="hideKeyboard()">
        <div class="searchTheatre" ng-if="theatreFlag">
            <div class="searchNum fs12"><span>2</span>个相关影院</div>
            <ion-list>
                <ion-item ng-repeat="item in searchData" class="mv-list">
                    <a nav-direction="forward" href="#/movieDetail?id={{item.id}}">
                        <h2 class="mb5 mt5 fs16"><strong>{{item.tit}}</strong></h2>
                        <p class="fs12 subTit1">{{item.subTit}}</p>
                        <p><i class="icon iconfont mr10">&#xe63a;</i><i class="icon iconfont">&#xe672;</i></p>
                    </a>

                    <div class="text-right distance fs12"><span>{{item.distance}}</span></span></div>
                </ion-item>
            </ion-list>
            <p class="text-center pt5 pb5 search-relative fs12">查看全部相关影院</p>
        </div>
        <div class="searchMovie" ng-if="movieFlag">
            <div class="searchNum fs12"><span>2</span>个相关影片</div>
            <ion-list>
                <ion-item ng-repeat="item in searchMovieData" class="mv-list">
                    <div class="mv-pic">
                        <img ng-src="{{item.imgSrc}}">
                    </div>
                    <a class="mv-text" nav-direction="forward" href="#/movieDetail?id={{item.id}}">
                        <h2 class="mb5 mt5 fs16">{{item.tit}} <i class="icon iconfont fs24" ng-repeat="subItem in item.icon" ng-bind-html="subItem"></i></h2>
                        <p class="fs12 subTit1">{{item.subTit}}</p>
                        <p class="fs12 mv-sort">{{item.movieTime}}</p>
                    </a>
                    <div class="mv-opt">
                        <div class="text-right"><span class="score">{{item.sub}}.<span class="sup">{{item.sup}}</span></span></div>
                    </div>
                </ion-item>
            </ion-list>
            <p class="text-center pt5 pb5 search-relative fs12">查看全部相关电影</p>
        </div>
        <div class="searchMan" ng-if="manFlag">
            <div class="searchNum fs12"><span>1</span>名相关用户</div>
            <ion-list>
                <ion-item ng-repeat="item in searchManData" class="mv-list">
                    <div class="mv-pic">
                        <img ng-src="{{item.imgSrc}}">
                    </div>
                    <a class="mv-text" nav-direction="forward" href="#/movieDetail?id={{item.id}}">
                        <h2 class="mb0 mt5 fs16">{{item.tit}} <i class="icon iconfont fs24" ng-repeat="subItem in item.icon" ng-bind-html="subItem"></i></h2>
                        <p class="fs12 subTit1">{{item.subTit}}</p>
                        <p class="fs12 mv-sort" style="padding-right:10px;">代表作{{item.products}}</p>
                    </a>
                    <div class="mv-opt">
                        <div class="text-right"><span class="score fs14">{{item.attention}}人关注</span></div>
                    </div>
                </ion-item>
            </ion-list>
            <p class="text-center pt5 pb5 search-relative fs12">查看全部相关电影人</p>
        </div>
        <div class="searchHistory" ng-show="searchHistoryFlag && searchHistoryData.length>0">
            <p class="fs12 pl10 pt10">搜索历史</p>
            <ul class="list">
                <li class="item" ng-repeat="item in searchHistoryData" on-tap="searchByHistory(item);">
                    {{item}}
                </li>
            </ul>
            <p class="text-center fs12 pt5 pb5" on-tap="clearSearchHistory()" style="color:#ff9800;">清除历史记录</p>
        </div>
    </ion-content>
</ion-view>

