<ion-view view-title="选座">
  <ion-header-bar align-title="center" ng-show="seatFlag" class="iphone-x-head">
    <a back-button="" nav-direction="back" class="backButton"><i class="ion-ios-arrow-left fs30"></i></a>
    <div class="h1 title">{{currentScheduleData[curIndex].filmName}}</div>
    <span class="changeNumber fs12 iphone-x-icon2" ng-if="currentScheduleData.length>1" ng-click="changeSeatTimes($event,'screen')">场次 <i class="ion-android-arrow-dropdown fs16"></i></span>
  </ion-header-bar>
  <ion-content scroll="false" style="background: #f2f2f2;" class="iphone-x-content">
    <div style="position: absolute;width: 100%;height: 30px;z-index: 100;background: rgb(249, 226, 217)" ng-if="showScheduleTime&&seatFlag">
      <div style="text-align: center;margin-top: 4px;color: #998278;font-size: 12px">
        您选的是<span style="color: #f75f23;font-weight: 500">{{scheduleTime | date:'MM月d日'}} {{HourMin}}</span>的场次，请仔细核对哦！
      </div>
    </div>
    <div ng-show="seatFlag">
      <div class="changeMovie">
        <a ng-if="curIndex>0" on-tap="showPrev()">
          <div class="preBtn"><i class="ion-ios-arrow-left"></i></div>
          <div class="prev-movie">
            <div class="fs14">{{HourMinUp}}</div>
            <p class="fs12 mb0">上一场</p>
          </div>
        </a>
        <div class="changeMovie-inner">
          <h2 class="fs16">{{scheduleTime | date:'MM月d日'}} {{HourMin}}</h2>
          <p class="fs14">{{currentScheduleData[curIndex].sessionAttribute}}</p>
        </div>
        <a on-tap="showNext()" ng-if="curIndex<currentScheduleData.length-1">
          <div class="nextBtn"><i class="ion-ios-arrow-right"></i></div>
          <div class="next-movie">
            <div class="fs14">{{HourMinDown}}</div>
            <p class="fs12 mb0">下一场</p>
          </div>
        </a>
      </div>
      <div class="seatStaus">
        <div class="row pd0">
          <div class="col"><i class="icon iconfont noSelect">&#xe621;</i> <span>可选</span></div>
          <div class="col"><i class="icon iconfont hasSold">&#xe621;</i> <span>已售</span></div>
          <div class="col"><i class="icon iconfont hasSelected">&#xe621;</i> <span>已选</span></div>
        </div>
      </div>

      <div class="rad"></div>
      <div class="screenArea text-center" style="margin-top: -15px;">
        <div class="fs12">{{currentScheduleData[curIndex].areaname+currentScheduleData[curIndex].cinemaName}} {{currentScheduleData[curIndex].screenName}}</div>
      </div>
    </div>
    <ion-scroll on-scroll="getScrollLeft()" zooming=true max-zoom="1.8" has-bouncing="true" delegate-handle="small" overflow-scroll="false" direction="xy" scrollbar-x="false" scrollbar-y="false" class="seatScroll">
      <div class="seatScrollRange pos" select-seat>
        <div class="text-center" ng-repeat="item in seatData">
                    <span ng-repeat="subItem in item.data">
                        <i style="position: relative" ng-if="subItem.columnIndex>=0 && subItem.status=='0'" ng-class="{true:'hasSelected'}[subItem.flag=='Y']" class="icon iconfont noSelect" data="{{subItem}}">
                            <em ng-if="subItem.loveSeat=='N'">&#xe621;</em> <em ng-if="subItem.loveSeat=='L'">&#xe6a9;</em> <em ng-if="subItem.loveSeat=='R'">&#xe6a8;</em>
                            <img ng-src="{{subItem.url}}" ng-if="subItem.flag=='Y'" style="position: absolute; top: 0; left: 5%; width: 24px;height: 24px;z-index: 1;">
                        </i>
                        <i ng-if="subItem.columnIndex>=0 && subItem.status=='1'" class="icon iconfont hasSold" data="{{subItem}}">
                            <em ng-if="subItem.loveSeat=='N'">&#xe621;</em> <em ng-if="subItem.loveSeat=='L'">&#xe6a9;</em> <em ng-if="subItem.loveSeat=='R'">&#xe6a8;</em>
                        </i>
                    </span>
        </div>
        <div class="centerLine"></div>
        <div class="sideBar">
          <div ng-repeat="item in seatData">
            <span ng-if="$index>0">{{item.singleRow<65?item.singleRow:String.fromCharCode(item.singleRow)}}</span>
          </div>
        </div>
      </div>
    </ion-scroll>

    <!--<div style="position: absolute;left: 50%;top: 40%;margin-left: -14px;text-align: center" ng-if="!seatFlag">-->
    <!--<ion-spinner icon="ios-small"></ion-spinner>-->
    <!--</div>-->
    <div ng-if="!seatFlag" style="position: absolute;top: 0px;">
      <img src="./img/jylogo.gif">
    </div>

  </ion-content>
  <div ng-show="seatFlag">
    <div ng-class="{true:'opc1',false:'opc0'}[viewFlag]" class="seatScrollRange seatScrollRange-small pos">
      <div class="text-center" ng-repeat="item in seatData">
              <span ng-repeat="subItem in item.data">
                  <i ng-if="subItem.columnIndex>=0 && subItem.status=='0'" ng-class="{true:'hasSelected'}[subItem.flag=='Y']" class="icon iconfont noSelect" data="{{subItem}}">&#xe621;</i>
                  <i ng-if="subItem.columnIndex>=0 && subItem.status=='1'" class="icon iconfont hasSold" data="{{subItem}}">&#xe621;</i>
              </span>
      </div>
    </div>

    <div class="seatFooter fs12">
      <div style="padding-left: 3px;" class="pt5">{{selSeatData.length==0?'待选座位':'已选座位'}}</div>
      <div class="pb5 mb5 clearfix bor-bot">
        <div class="col pos" ng-repeat="item in selSeatData"><a class="button-seat pos" remove-seat data="{{item}}">{{item.physicalName<65?item.physicalName:String.fromCharCode(item.physicalName)}}排{{item.id}}座 <span class="ion-android-close seat-close"></span></a></div>
      </div>
      <div class="fs12 pos selectSeat bor-top color-999" style="padding-left: 3px;">
        一次最多选择6个座位
        <div class="selectSeatBtn fs14" on-tap="seatSubmit(selSeatData)" ng-class="{true:'selectSeatBtn-disabled'}[selSeatData.length==0]">确认选座</div>
        <!--<div style="position: absolute;top: -12px;right: 5px;width: 120px;opacity:0.5" ng-if="selSeatData.length==0">-->
        <!--<img src="./img/yd-qr.png">-->
        <!--</div>-->
        <!--<div style="position: absolute;top: -12px;right: 5px;width: 120px;opacity:1" on-tap="seatSubmit(selSeatData)" ng-if="selSeatData.length>0">-->
        <!--<img src="./img/yd-qr.png">-->
        <!--</div>-->
      </div>
    </div>
  </div>

  <script id="templates/modal5.html" type="text/ng-template">
    <style>
      .modal-backdrop, .modal-backdrop-bg {
        top: auto !important;
        bottom: 0;
        z-index: 100;
        max-height: 400px;
      }
      .modal-backdrop .modal-wrapper {
        max-height: 100%;
        height: 100%;
      }
    </style>
    <ion-modal-view class="layer">
      <ion-header-bar class="bar bar-header bar-filter" tabs-click="" style="background: #f2f2f2;border-bottom: 1px solid #ddd;font-size: 16px;">
        <a ng-if="!activityShow" class="pl0" ng-class="activeIndex==0?'active':''">今日排期</a>
        <a ng-if="activityShow" class="pl0" style="font-weight: normal!important;width:100%;text-align:center;">请选择优惠活动</a>
        <span ng-if="!activityShow" class="close" on-tap="hideModal()"><i class="ion-ios-close-empty"></i></span>
      </ion-header-bar>
      <ion-content class="activityContent" overflow-scroll="false" scrollbar-y="false" style="background: #fff;" stop-propagation="">
        <div ng-if="!activityShow" ng-repeat="item in currentScheduleData" style="padding: 0;" class="item schedule-item schedule-item-first pos" on-tap="changeCurIndex($index)">
          <div class="row" style="padding-top: 5px!important;">
            <div class="col">
              <div class="fs18">{{item.showtime | date:'HH:mm'}}</div>
              <p class="fs12">{{Number(item.showtime)+Number(item.runTime)*60*1000 | date:'HH:mm'}}散场</p>
            </div>
            <div class="col">
              <div class="fs14 text-center">{{item.sessionAttribute}}</div>
              <p class="fs12 text-center" style="height: 20px;overflow: hidden;">{{item.screenName}}</p>
            </div>
            <div class="col">
              <i class="icon iconfont fs20" style="position:relative;top: 3px;" ng-bind-html="item.icon"></i>
            </div>
            <div class="col schedule-price">
              <span class="fs18">{{item.priceincents/100 | currency:'￥'}}</span>
            </div>
          </div>
        </div>
        <div ng-if="activityShow">
          <div class="list activityList">
            <ion-list class="pb50 activeListWrap">
              <ion-radio ng-disabled="item.disabledFlag" class="fs14 {{item.lightingFlag=='N'?'opc':''}}" ng-repeat="item in ableActivityData" ng-value="item" ng-model="data.selActivity">
                <span ng-if="$index!=ableActivityData.length-1" class="activityTag" style="position: absolute;left:5px;">{{item.tag}}</span> {{ item.promotionalCopy }}
                <div ng-if="$index!=ableActivityData.length-1" class="fs12"><s>原价: {{currentScheduleData[curIndex].priceincents/100 | currency:'￥'}}/张</s> <span style="color: #ff5715;margin-left:10px;"> 优惠价:{{item.newPriceincents | currency:'￥'}}/张</span></div>
                <div ng-if="$index==ableActivityData.length-1" class="fs12"><span>原价: {{currentScheduleData[curIndex].priceincents/100 | currency:'￥'}}/张</span></div>
              </ion-radio>
            </ion-list>
          </div>
        </div>
      </ion-content>

    </ion-modal-view>
  </script>
  <!--手机号码直接注册或登录-->
  <div id="phonelogin" ng-if="needBind">
    <div id="phonelogin-inner" style="height: 150px;top: 58%">
      <div class="fs16 text-center mb10"><strong>登陆</strong></div>
      <!--<div class="phoneloginWrap">-->
      <!--<div class="box">-->
      <!--<div class="box1"><input ng-model="bindPhone.mobileNumber"  maxlength="11" type="tel" placeholder="请输入手机号码"></div>-->
      <!--<div class="phonelogin_yzm fs12" on-tap="sendYzm()">{{sendYzmFlag}}</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="phoneloginWrap"><input ng-model="bindPhone.vertifyCode" type="text" placeholder="请输入验证码"></div>-->
      <!--<label class="item item-input item-input-lg" style="padding: 6px 0 0px 4px;border: 1px solid #ddd;">-->
      <!--<span class="input-label color-000 fs14">图形码</span>-->
      <!--<input type="number" ng-pattern="/\d{5}/" maxlength="5" ng-model="bindPhone.captcha1" required placeholder="请输入图形码">-->
      <!--<div class="mr10" on-tap="getCode()" style="width:140px!important;"><img ng-src="{{yzmCode}}" alt=""/></div>-->
      <!--</label>-->

      <div class="mt10 pos">
        <i class="ion jyicon login-ion">&#xe66a;</i>
        <button style="background: #998278;margin-top: 22px;" class="button button-block button-assertive" on-tap="weixinLogin()">微信登录</button>
      </div>
      <div style="text-align: center;text-decoration: underline;margin-top: 15px;" on-tap="goLogin()">使用其它登录方式</div>
      <div on-tap="hide()" class="icon jyicon fs16" style="border-top-right-radius: 8px;position: absolute;top: 0;right: 0;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 3px 5px;background: #f2f2f2;border-bottom-left-radius: 5px;color: #666;">&#xe651;</div>
    </div>
  </div>
  <!--手机号码直接注册或登录-->
  <div id="phoneWXneedBind" ng-if="WXneedBind">
    <div id="phoneWXneedBind-inner" style="height: 210px">
      <div class="fs16 text-center mb10"><strong>绑定手机</strong></div>
      <div class="phoneloginWrap">
        <div class="box">
          <div class="box1"><input style=" margin-top: 6px;" ng-model="bindPhone.mobileNumber" maxlength="11" type="tel" placeholder="请输入手机号码"></div>
          <div class="phonelogin_yzm fs12" on-tap="sendYzm()">{{sendYzmFlag}}</div>
        </div>
      </div>
      <div class="phoneloginWrap"><input style=" margin-top: 6px;" ng-model="bindPhone.vertifyCode" type="text" placeholder="请输入验证码"></div>
      <div class="mt10 pos">
        <button style="background: #998278" class="button button-block button-assertive" on-tap="bindPhoneFn()">立即绑定</button>
      </div>
      <div on-tap="hide()" class="icon jyicon fs16" style="border-top-right-radius: 8px;position: absolute;top: 0;right: 0;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 3px 5px;background: #f2f2f2;border-bottom-left-radius: 5px;color: #666;">&#xe651;</div>
    </div>
  </div>
</ion-view>
