/*iphone X and iphone XS*/
@media only screen and (device-width: 375px) and (device-height: 812px) {
    .iphone-x-head {
        padding-top: 85px !important;
    }
    .iphone-x-head1 {
        padding-top: 10px !important;
    }
    .iphone-x-head .backButton,.iphone-x-head .title, .iphone-x-head .registerBtn {
        top: 15px  !important;
    }
    .iphone-x-icon {
        padding-top: 25px !important;
    }
    .iphone-x-icon1 {
        top: 25px !important;
    }
    .iphone-x-icon2 {
        padding-top: 25px !important;
    }
    .iphone-x-icon3 {
        padding-top: 15px !important;
    }
    .iphone-x-head .iphone-x-button {
        top: 25px !important;
    }
    .iphone-x-head .iphone-x-button1 {
        top: 35px !important;
    }
    .iphone-x-head .iphone-x-button2 {
        padding-top: 30px !important;
    }
    .iphone-x-content {
        margin-top: 25px  !important;
    }
    .iphone-x-content1 {
        margin-top: 8px  !important;
    }
    .iphone-x-content2 {
        margin-top: 35px  !important;
    }
    .iphonexFoot{
        bottom: 12px !important;
    }
    .iphonex-yd-head{
        top: 16px !important;
    }
    .iphonexBaidi{
        height: 20px !important;
        position: absolute !important;
        bottom: 0px !important;
    }
    .iphonex-swiper-container-hot-yh{
        min-height:21vh !important;
    }
    .iphonex-slide-box{
        margin-bottom: -30px !important;
    }
    .iphonex-yd-head-mall{
        top: 37px !important;
    }
    .iphonex-yd-head-category{
        top: 58px !important;
    }
    .iphonex-banner{
        top: 90px !important;
    }
    .iphonex-mealist{
        margin-top: 80px !important;
    }
    .iphonex-bar{
        top:50px !important;
    }
    .iphonex-logo{
        height: 100% !important;
    }
    .iphonex-closeBtn{
        top:13px !important;
    }
    #loading_start{
        position: absolute !important;
        top:50% !important;
        left:0 !important;
        text-align: center !important;
        margin-left:-17px !important;
        margin-top:-17px !important;
    }
    .iphonex-mt{
        margin-top: 96px !important;
    }

    .iphone-x-top-20 {
        top: 20px !important;
    }

    .iphone-x-pt-20 {
        padding-top: 20px !important;
    }
    .iphone-x-pt-25 {
        padding-top: 25px !important;
    }

    .iphone-x-mt-20 {
        margin-top:20px !important;
    }
    .iphone-x-mt-45 {
        margin-top:45px !important;
    }
}
