.bxjg-body{
    position:absolute;
    top:35px;
    z-index:10;
    width:100%;
    height:100%;
    background:url(../img/bxjg-body.png) no-repeat top;
    background-size: 100% 100%;
}
.bxjg_content,.bxjg_content .scroll{
    background: none;
}
.bxjg-header{
    background: url(../img/bxjg-top.png) no-repeat top;
    background-size: 100% 100%;
    z-index:1000;
    height:70px;
}
.bxjg-jy-nav-wrap{
    width: 50%;
    margin: 23px 25% 0 25%;
}
.bxjg-tag-hui{
    margin-left:15px;
}
.bxjg-select-city{
    position: absolute;
    height: 30px;
    line-height: 30px;
    top: 10px;
}
.bxjg-cityDown{
    left:45px;
    top:15px;
}
.bxjg-wrap{
    margin:0 12px 0 12px;
}
.bxjg-tit{
    background: rgba(255,255,255,.8);
    margin:0;
    height:40px;
    line-height:40px;
    color: #000;
    font-size:16px;
    padding:0 10px;
}
.bxjg-wrap .swiper-container-hot{
    background: rgba(255,255,255,.8);
    color: #000;
}
.bxjg-wrap .swiper-slide-index{
    background: none;
}
.bxjg-wrap .swiper-container-hot-yh{
    min-height:26vh;
}
.bxjg-gap{
    height:20px;
    background: none;
}
.bxjg-tuijian .item{
    border:0;
    color: #000;
    background: none;
    padding:0;
}

.activity-list{
    padding-bottom:15px!important;
    background: rgba(255,255,255,.7);
}
.bxjg-footer-bar{
    z-index:12;
    background: url(../img/bxjg-bottom.png) no-repeat center;
    background-size: 100% 100%;
    border-top:0!important;
    color: #fff;
}
.bxjg-footer p{
    position: relative;
    top:-5px;
}
.color-403d38{
    color: #403d38;
}
.bxjg-footer{
    height:50px!important;
    position: fixed;
    width:100%;
    bottom:0;
    background: url(../img/bxjg-bottom.png) no-repeat top;
    background-size: 100% 100%;
    z-index:100;
    text-align: center;
    color: #d6d5d8;
}
.bxjg-footer img{
    position: relative;
    top:2px;
    width:30px;
}
.bxjg-user-center-block{
    background:#444;
}

.bxjg-account-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../img/bxjg-account-bg.png) no-repeat center;
    background-size:cover;
    top: 0;
    z-index: -1;
}
.mv-button button{
    background: url(../img/bxjg-btn-small.png) no-repeat center;
    background-size: 100% 100%;
    border-radius:0;
    -webkit-border-radius:0;
    height:40px;
}
.theatre-item .jyBtn-m,.button-tickets-active,.button-tickets-active.activated{
    background: url(../img/bxjg-btn-small.png) no-repeat center;
    background-size: 100% 100%;
    border-radius:0;
    -webkit-border-radius:0;
    color: #444;
}
.bxjg-btn-big,.bxjg-btn-big.activated,.queryPayBtn{
    background: url(../img/bxjg-btn-big.png) no-repeat center;
    background-size: 100% 100%;
    border-radius:0;
    -webkit-border-radius:0;
    color: #444;
}
.button.button-jy{
    background: url(../img/bxjg-btn-big.png) no-repeat center;
    background-size: 100% 100%;
    border-radius:0;
    -webkit-border-radius:0;
    height:50px;
    color: #444;
}
.selectSeatBtn,.joinBtn{
    background: url(../img/bxjg-btn-small.png) no-repeat center;
    background-size: 100% 100%;
    border-radius:0;
    -webkit-border-radius:0;
    color: #444;
}
.selectSeatBtn-disabled{
    color: #aaa;
}
.button-select{
    background: url(../img/bxjg-btn-big.png) no-repeat center;
    background-size: 100% 100%;
    border-radius:0;
    -webkit-border-radius:0;
    height:50px;
    color: #444;
}

.title .groupBtn.active{
    background: #666;
}
.groupBtn{
    border:1px solid #666;
}
.bar .title a{
    color: #666;
}
.backButton i{
    color: #666;
}
.listCon .icon{
    color: #444;
}
.bar .title{
    color: #666;
}
.bxjg-currentLine .item{
    background: rgba(255,255,255,.8);
}
.bxjg-currentLine .item h2{
    color: #000;
}
.bxjg-currentLine .item p{
    color: #333;
}
.bxjg-currentLine{
    background: none;
}
.bxjg-currentLine .scroll{
    background: rgba(255,255,255,.8);
}
.schedule .schedule-banner{
    background: #de9800;
}
.schedule-item a.active{
    background: #11c1f3;
}
.schedule-item .icon{
    color: #444;
}
.changeMovie{
    background: #de9800;
}
.fixOrder{
    padding-bottom:10px;
}
.user-center-block{
    background: #de9800;
}
.bxjg-activity{
    /*background: rgba(255,255,255,.8);*/
}
.activityItems li{
    background: #fff;
}
.user-moudle p{
    color: #000;
}
.user-center-block{
    background: rgba(0,0,0,.7);
}
.joinBtn{
    position: relative;
    top: 0;
    height: 50px;
    margin: 0 10px;
}
.btn-filterBtn-active{
    background: url(../img/bxjg-btn-small.png) no-repeat center;
    background-size: 100% 100%;
    border-radius:0;
    -webkit-border-radius:0;
    border:0;
    height:40px;
}
.btn-filterBtn{
    height:40px;
}
.schedule .schedule-banner{
    background: #666;
}
.schedule-item a.active {
    background: #666;
}
.tel{
    color: #000;
}
.vipinfo{
    background: #666!important;
}
.vip-home-list span{
    color: #666!important;
}
.ion-tu-biao{
    color: #999!important;
}
.login-jy-header{
    background: #666;
}
.bxjg-tuijianImg{
    position: relative;
    top:-10px;
}
.changeMovie{
    background: #666;
}
.jyBtn-m{
    color: #444;
    height:34px;
}
.barLine{
    background: #444;
}
.color-444{
    color: #444;
}
.rechargeTit a.active button{
    background: #444;
}
.modalBtn{
    background: url(../img/bxjg-btn-small.png) no-repeat center;
    background-size: 100% 100%;
    border-radius:0;
    -webkit-border-radius:0;
    border:0;
    color: #444;
}
.sales-qty span.active{
    background: #666;
}
.select-city{
    color: #999;
}
.moreDown{
    color: #999;
}
.button-select.activated{
    background: url(../img/bxjg-btn-big.png) no-repeat center;
    background-size: 100% 100%;
    border-radius:0;
    -webkit-border-radius:0;
    color: #444;
}
.button.button-jy.activated{
    background: url(../img/bxjg-btn-big.png) no-repeat center;
    background-size: 100% 100%;
    border-radius:0;
    -webkit-border-radius:0;
    color: #444;
}